@media all and (min-width: 992px) {
	.row-bg-1{ background-image: url("../img/aboutus/AboutUs_Icon1_Right.png");  background-repeat: no-repeat; background-position: right 10px top 10px; }
	.row-bg-2{ background-image: url("../img/aboutus/AboutUs_Icon2_Right.png");  background-repeat: no-repeat; background-position: right 10px top 10px;}
	.row-bg-3{ background-image: url("../img/aboutus/AboutUs_Icon2_Right.png");  background-repeat: no-repeat; background-position: left -41px top 80px; }
}

@media all and (min-width: 768px) and (max-width: 991px){
	.row-bg-1{ background-image: url("../img/aboutus/AboutUs_Icon1_Right.png");  background-repeat: no-repeat; background-position: right 10px top 10px; }
	.row-bg-2{ background-image: url("../img/aboutus/AboutUs_Icon2_Right.png");  background-repeat: no-repeat; background-position: right 10px top 10px;}
	.row-bg-3{ background-image: url("../img/aboutus/AboutUs_Icon2_Right.png");  background-repeat: no-repeat; background-position: left 10px top -40px}

}

@media all and (max-width: 767px){

	.row-bg-1{ background-image: url("../img/aboutus/AboutUs_Icon1_Right.png"); background-repeat: no-repeat; background-position: right 10px top 10px; }
	.row-bg-2{ background-image: url("../img/aboutus/AboutUs_Icon2_Right.png");  background-repeat: no-repeat; background-position: right 10px top 10px;}
	.row-bg-3{ background-image: url("../img/aboutus/AboutUs_Icon2_Right.png");  background-repeat: no-repeat; background-position: left 10px top -40px }
}
