@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/home/corporates/Elements_1_Left.png"), url("../img/home/corporates/Elements_1_right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
	}

	.row-bg-2{ 
		background-image: url("../img/home/corporates/Elements_2_Left.png"); 
		background-repeat: no-repeat; 
		background-position: left 10px top 10px; 
	}

	.row-bg-3{ 
		background-image: url("../img/home/corporates/Elements_2_right.png"); 
		background-repeat: no-repeat; 
		background-position: right 10px bottom 10px; 
	}
}

@media all and (min-width: 768px) and (max-width: 991px){

	.row-bg-1{ 
		background-image: url("../img/home/corporates/Elements_1_Left.png"), url("../img/home/corporates/Elements_1_right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
	}

	.row-bg-2{ 
		background-image: url("../img/home/corporates/Elements_2_Left.png"); 
		background-repeat: no-repeat; 
		background-position: left 10px top 10px; 
	}

	.row-bg-3{ 
		background-image: url("../img/home/corporates/Elements_2_right.png"); 
		background-repeat: no-repeat; 
		background-position: right 10px bottom 10px; 
	}

}

@media all and (max-width: 767px){
.row-bg-1{ 
		background-image: url("../img/home/corporates/Elements_1_Left.png"), url("../img/home/corporates/Elements_1_right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
	}

	.row-bg-2{ 
		background-image: url("../img/home/corporates/Elements_2_Left.png"); 
		background-repeat: no-repeat; 
		background-position: left 10px top 10px; 
	}

	.row-bg-3{ 
		background-image: url("../img/home/corporates/Elements_2_right.png"); 
		background-repeat: no-repeat; 
		background-position: right 10px bottom 10px; 
	}
}
