@media all and (min-width: 992px) {

	.logo{ margin-top: 18px; width: 201px; height: 108px; }
	.max-960{width: 960px; margin: 0px auto;}
	
	.menu-wrapper li{ display: inline;}
	.form-title{ font-size: 28px;}
	
	.menu-wrapper .nav-main-menu{overflow: visible;}
	.main-menu{ height: 28px;}
	/*.main-menu .side-menu{float: right; }*/
	.main-menu .side-menu{ font-size: 12px; padding: 6px 0px 5px 0px}
	.main-menu .side-menu span{ width: 65px;font-size: 11px;}
	.main-menu .menu-blog-li .side-menu span{width: 40px;}
	.main-menu a span{ border-right: 1px solid #fff; }
	.active-menu{ background: #fff; }
	.active-menu{ color: #c36262 !important;}
	.active-menu span{ border-right: 0px !important;}

	/*.our-bouquet-container {box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15) inset;}*/


	/*.menu-container .page-menu{margin-top: 110px;}*/

	.page-header { height: 160px;}
	.page-header .page-menu{ }
	.page-header .page-menu li{ display: inline;}

	.page-header .page-menu li a:hover{ color: #c36262; border-bottom: 2px solid;}
	.page-header .page-menu li .active{ color: #c36262; border-bottom: 2px solid;}
	.page-header .page-menu a.login-button:hover{border-bottom: none;}
	.page-header .page-menu a.login-button:active{border-bottom: none;}

	.page-header .page-menu a.login-button { font-size: 16px;}
	.page-header .page-menu a.login-button:hover {color: #fff;}

	.page-tagline{ /*padding-bottom: 30px;*/ font-size: 28px; margin-top: 30px;}
	.page-tagline .tag{}
	.page-tagline .description { font-size: 16px; font-family: "Helvetica LT Std", Sans-serif;}
	.page-tagline img{ margin-top: 25px; max-width: 360px; margin-bottom: 15px;}
	.page-tagline.doctors { padding-bottom: 0px;}
	
	.page-tagline.pink-page {font-size: 26px; margin-top: 25px;} 
	.page-tagline.pink-page img { }
	.page-tagline.pink-page .text { font-size: 15px; margin-top: 15px;line-height: 18px;}

	.doctors.page-tagline .tag{margin-top: 0px;}
	.grey-row{ font-size: 18px;}

	.gradient-background .row-header{ margin-top: 50px;}
	.page-row{ /*padding-top: 20px; */ /*margin-top: 30px;*/}
	.page-row .content-area{ padding: 0px 25px;}
	.page-row .row-header{ margin-top: 14px; }
	.page-row .row-title{ font-size: 22px; padding-top: 16px;}
	.page-row .row-title-image{ max-height: 80px; margin-right: 15px; }
	.page-row .row-description{ font-size: 14px; margin-top: 5px; }
	.page-row .row-description .aboutus-pinkvalues{ padding: 35px 45px 0px 45px; }
	/*.page-row .row-description .aboutus-pinkvalues div:first-child{ padding-right: 100px; }*/
	/*.page-row .row-description .aboutus-pinkvalues div:nth-child(3){ padding-left: 100px; }*/


	.page-row .row-description .aboutus-pinkvalues .description{ padding: 40px 20px 0px 20px;}
	.page-row .member-image{ max-height: 200px;}
	.page-row .member-name{font-size: 21px; margin-bottom: -6px;}
	.page-row .member-designation{ font-size: 14px; margin-bottom: 10px;}
	.page-row .member-description{ margin-bottom: 30px; padding: 0px 15px; font-size: 14px;}

	.gradient4-background.patients{ padding-top: 25px;}

	.gradient2-background { padding-top: 35px;}
	.page-row .slider-row .image{ text-align: left; padding: 0px; padding-left: 90px; margin-top: 10px;}
	.page-row .slider-row .image img { margin-bottom: 25px; width: 200px; margin-top: 30px;}
	.page-row .slider-row .message { font-size: 18px;padding: 50px 50px 0px 40px;margin-top: 20px;}
	.page-row .slider-row .name { margin-top: 30px;}
	.page-row .slider-row .pagination .circle{ width: 15px; height: 15px; margin-left: 3px;}

	.page-row .testimonial-row { margin-top: 10px; margin-bottom: 25px;}
	.page-row .testimonial-row  .testimonial-image{ text-align: left; padding-right: 10px;}
	.testimonial-image img{height:150px; width:150px; margin-left: 80px;}
	.page-row .testimonial-row .testimonial-message{ padding: 20px 225px 0px 0px; margin-left: -20px; }
	.page-row .testimonial-row .testimonial-message .name{ font-size: 16px; margin-top: 10px;}

	.page-row .row-header ol { padding: 25px 100px; font-size: 14px;}
	.page-row .row-header ol li { margin-bottom: 20px;}

	.page-row.faqs .row-title{ padding-top: 10px;}
	.page-row.faqs .content-area { padding: 0px 50px; }
	.testimonials .row-title-image{/* height: 75px;*/ margin-top: 10px; margin-left: 30px;}
	.testimonials .row-title-image.privacy{margin-left: 9px;}


	.row-description .faq-row{ }
	.row-description .faq-row .question{ font-size: 18px; margin-bottom: 10px; }
	.row-description .faq-row .answer{ padding-right: 250px; margin-bottom: 35px;}

	.triangle .content-area{ padding: 0px 100px !important;}

	.gradient3-background.terms .content-area{ padding-left:100px; font-size: 14px;}
	.terms .row-title{ font-size: 22px; padding-left: 75px; margin-bottom: 5px;}
	.terms .row-title.first{padding-left: 0px;}
	.terms .content-area {/*padding: 0px 80px;*/ margin-top: 30px;}
	.terms .row-title-image{ margin-right: 6px; margin-left: 20px;}
	.terms .row-description{ font-size: 14px; color: #828282; padding-left: 75px; /*margin-bottom: 50px;*/}

	.contact-info { font-size: 20px; }
	.contact-info .title{ font-size: 17px; }


	.form-block{ padding-top: 5px; padding-bottom: 10px; margin-top: 20px;}
	.form-block .form-title {margin-bottom: 30px}
	.form-block .form-header{ margin-bottom: 10px;}
	.form-block .form-header img { margin-right: 2px; max-height: 80px;}
	.form-block.talk-to-us-form .form-header img {margin-right: 10px; max-width: 40px;}
	.form-block .form-tagline { font-size: 23px;}
	.form-block .message{ font-size: 14px; padding-left: 0px;}

	.form-block .input-label{ width: 255px; padding-top: 5px; padding-left: 55px; font-size: 14px; margin-bottom: 8px; font-family: "Helvetica", sans-serif;}
	.form-block .input{ margin-bottom: 8px; padding: 0px;}
	.form-block .input.button-box{ height: 30px;}
	.form-block .input-fields{  height: 30px; width: 95%; }
	.form-block textarea.input-fields{ height: 100px;}
	.form-block .submit{outline: 0px;}
	.form-block.joinus .submit { width: 132px; height: 30px; font-size: 15px;}
	.form-submitted{font-size: 30px; padding-left: 100px; margin-top: 35px;}

	.form-block .age { width: 60px; margin-right: 5px;}
	.form-block .gender { width: 192px; margin-left: 0px;}
	.form-block .form-left{ padding-right: 0px; width: 58%; margin-left: 28px;}
	.form-block .form-left.register{margin-left: 28px;}
	.form-block .timeslot {width: 117px; margin-right: 5px;}

	.form-block .form-corporates.form-left{ width: 65%;}
	.form-block .form-corporates.message{ margin-left: -35px;}

	.footer-container {margin-top: 22px;}
	.footer-container .footer .left span{ margin-right: 15px;}
	.footer-container .footer .left span a{ font-size: 11px;}
	.footer-container .footer .links-header{ height: 30px;}
	.footer-container .footer .links-header a { display: inline-block !important;}
	.footer .sns-icon{ display: inline-block; margin-left: 10px;}
	.footer-container .footer .footer-bottom .designby{float: right; font-size: 11px;margin-top: 8px;}


	.home-footer-container .block{padding: 10px 15px; border-right: 1px solid #ddd; color: #666;}
	.home-footer-container .block.no-border{border: 0px;}
	.home-footer-container .block .image-container img{max-width: 100%; height: 86px;}
	.home-footer-container .block .image-container img.first-image{ height: 82px;}
	.home-footer-container .block .image-container .second{margin-left: 28px; margin-right: 20px;height: 84px;}
	.home-footer-container .block .image-container{ float: left;}
	.home-footer-container .block .content{margin-top: 20px; float: left; padding-left: 5px; padding-top: 4px;}


	.banner-bg{ height: 400px; padding: 0px 100px; text-align: left; position: relative;}
	.banner-bg .tag-line { font-size: 24px; margin-top: 150px; margin-bottom: 3px;}
	.banner-bg .text { font-size: 19px;}
	.banner-bg .button-learn { font-size: 16px;margin-top: 16px;text-decoration: none;}
	.banner-bg .banner-form .tag-line { font-size: 24px; margin-bottom: 16px; margin-top: 0px; }

	.home-footer-container{margin-top: 40px;}
	.home-footer .content-area .border{padding: 15px 20px;}
	.home-footer .content-area .border .text{max-width: 190px;padding: 20px 6px;}
	.home-footer .content-area div { overflow: hidden;margin: 0px 0px;}
	.home-footer{ margin-bottom: -75px; padding: 25px;}
	.home-footer img{ max-height: 100px;display: block;float: left;max-width: 140px; padding: 0px 10px;}
	.home-footer .text{ color: #828282; font-size: 13px; max-width: 250px; padding-top: 30px; float: left; }
	.home-footer .border { border-right: 1px solid #ddd; padding: 25px 0px;}
	.home-footer .no-border { padding: 25px 0px; }

	.find-a-doctor-form-container .form-inline .form-group{margin-right: 10px;}
	.find-a-doctor-form-container .form-inline{margin-left: 75px;}

	.widgets-row .header { font-size: 28px; margin-top: 50px; margin-bottom: 35px;}
	.widgets-row .widget-images .widget-image { height: 110px;}
	.widgets-row .widget-images .lines { height: 3px; top: 68px; left: 250px; width: 140px;}
	.widgets-row .widget-name { margin: 20px auto 6px auto; font-size: 24px;}
	.widgets-row .widget-text { font-size: 14px; margin-bottom: 40px; line-height: 18px;}

	.widgets-image-container{}

	.widgets-row .widget-images-small { text-align: center;}
	.widgets-row .widget-images-small .widget-name { margin: 15px auto 0px auto; font-size: 24px; color: #803a3a;}
	.widgets-row .widget-images-small .widget-text { font-size: 14px; margin-bottom: 40px; }
	.widgets-row .widget-images-small .gradient2-background { padding-top: 5px;}

	.doctors-button{ width: 225px; font-size: 22px; display: inline-block; padding-top: 10px; margin-top: 5px; height: 50px;}

	.work-bg{ height: 345px; margin-top: -40px; margin-bottom: 30px;}
	.video-bg{ height: 480px; position: relative; margin-top: 15px; margin-bottom: 15px;}
	.row-before-video{ font-size: 28px; }

	.how_it_works{margin-bottom: 50px;}


	.video-button{ width: 300px; overflow: hidden; margin-top: 375px; margin-left: 20px;}
	.play-button{ margin-right: 20px; margin-top: 5px; float: left;}
	.play-video-text{font-size: 26px; float: left;}

	.banner-form{ margin-top: 75px;}
	.banner-form .form-label{ display: inline-block; width: 200px; font-size: 17px; margin-bottom: 15px;}
	.banner-form .form-input{ display: inline-block; width: 200px; margin-left: -25px;}
	.banner-form .form-input input{ width: 100%; height: 35px;}


	.link-box{ position: absolute; top: 100px; right: 0px; z-index: 10;}
	.link-box a { font-size: 18px; margin-bottom: 10px; height: 30px;}

	.pw-footer-container .row-three .designed-by{margin-top: 6px;}

	.pink-follow-up{ height: 450px; margin-bottom: 30px;}

	.pw-footer-container .row-one .right-content{padding-right: 0px;}



	.doctor-button { border: 0px none; border-radius: 4px;color: #FFF;text-decoration: none;font-family: "Trebuchet MS",sans-serif;width: 150px;height: 35px;font-size: 15px;margin-left: 2%; line-height: 35px; }

	.find-a-doctor-row{ padding: 20px;}

	.find-a-doctor-row .header{ font-size: 24px;}
	.find-a-doctor-row .header img{ margin: 0px 5px 0px 15px;}

	.find-a-doctor-row .search-form{ padding-left: 55px; /*margin-top: 20px; padding-bottom: 0px;*/}
	/*.find-a-doctor-row .search-form select{ width: 35%; }*/
	
	.find-a-doctor-row .search-form select { margin-left: 1%; padding:0px 5px; border-radius: 0px; }
	.find-a-doctor-row .search-form label.select-label {position:relative;  margin-left: 2%; width: 35%; display: block; float: left;}


	.find-a-doctor { padding: 10px 0px;}
	.find-a-doctor .content-area{ padding: 0px; padding-right: 20px;}
	.find-a-doctor .image-block { width: 30%; padding: 0px; text-align: center;}
	.find-a-doctor .data-block { width: 70%; padding: 0px; padding-left: 10px;}
	.find-a-doctor .image-block img { margin: 25px auto 5px auto; height: 160px;}

	.find-a-doctor .image-block a { width: 120px; height: 35px; font-size: 16px; text-decoration: none;cursor: pointer;}
	.find-a-doctor .image-block a.doctor-button.blue{margin-bottom: 10px;}
	

	.find-a-doctor .details { width: 59%; float: left; height: 100%; margin-right: 3%;}
	.find-a-doctor .details .name{ font-size: 24px; margin-top: 20px}
	.find-a-doctor .details .designation{ font-size: 20px;}
	.find-a-doctor .details .message{ margin-top: 30px; margin-bottom: 20px}


	.find-a-doctor .calendar { width: 38%; float: left; height: 100%; padding-top: 30px;}
	.find-a-doctor .calendar .idno{ font-size: 16px;}

	.find-a-doctor .calendar .chart-container { overflow: visible; position: relative;}
	.find-a-doctor .calendar .chart {height: 250px; overflow: hidden;}
	.find-a-doctor .calendar .chart table{color: #d8b6b6; position: absolute; top: 0px; left: 0px; transition: all 0.5s; font-size: 14px;}
	.find-a-doctor .calendar .chart tr{ display: block; /*width: 488px;*/ /*height: 25px;*/ overflow: hidden; white-space: nowrap;}
	.find-a-doctor .calendar .chart th{ width: 81px; padding: 3px 0px; display: block; float: left; color: #a5a3a3;font-weight: normal;}
	.find-a-doctor .calendar .chart td{ width: 81px; border-left: 1px solid #a5a3a3; border-top: 1px solid #a5a3a3; padding: 3px 0px; display: block; float: left; min-height: 30px;}
	.find-a-doctor .calendar .chart td:first-child { /*width: 82px;*/}
	.find-a-doctor .calendar .chart td:last-child { border-right: 1px solid #a5a3a3;}
	.find-a-doctor .calendar .chart td:nth-child(2) { /*width: 82px;*/}
	.find-a-doctor .calendar .chart tr:last-child{ border-bottom: 1px solid #a5a3a3;}
	.find-a-doctor .timings .red-text{font-size: 14px;}

	.arrow{ position: absolute; top: 8px; cursor: pointer;}
	.arrow-right{ width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 8px; border-color: transparent transparent transparent #d8b6b6; right: -6px;}
	.arrow-left { width: 0; height: 0; border-style: solid; border-width: 5px 8px 5px 0; border-color: transparent #d8b6b6 transparent transparent; left: -7px; }

	.meet-our-doctors{     padding: 0px 0px 15px;}
	.meet-our-doctors .doctor-button{ width: 40%; display: inline-block;}
	.meet-our-doctors .data-block { width: 70%; padding: 0px; padding-left: 0px;}
	.meet-our-doctors .image-block { width: 30%; padding: 0px; text-align: center;}
	.meet-our-doctors .image-block img { margin: 30px auto 5px 2px; height: 160px;}
	.meet-our-doctors .details { width: 63%; float: left; min-height: 225px; margin-right: 2%;}
	.meet-our-doctors .details .name{ font-size: 24px; margin-top: 30px; font-weight: 400;}
	.meet-our-doctors .details .designation{ font-size: 20px; margin-top: -8px;}
	.meet-our-doctors .details .message{ margin-top: 15px; margin-bottom: 20px}
	.meet-our-doctors .details .location{padding-left: 0px; font-size: 12px; line-height: 17px;}
	.meet-our-doctors .details .location .red-text{font-size: 12px;}

	.meet-our-doctors .calendar { width: 35%; float: left; height: 100%; padding-top: 30px; font-size: 14px;}
	.meet-our-doctors .calendar img { margin-bottom: 5px; margin-top: 5px;}
	.meet-our-doctors .calendar .idno{ font-size: 16px; margin-bottom: 20px; margin-top: -23px;}
	.meet-our-doctors .buttons-container{ margin-top: 15px;}
	.meet-our-doctors .doctor-button { width: 120px; text-align: center; margin-bottom: 6px;}

	.page-row.meet-our-doctors{ margin-top: 0px; min-height: 240px;}
	.page-row.meet-our-doctors.first-row{ box-shadow: 0px 10px 9px -3px rgba(0, 0, 0, 0.15) inset}

	.banner-bg.banner-bg-meet-our-doctors .red-text{ font-size: 24px; font-weight: lighter; margin-top: 75px; font-family: "Open Sans",sans-serif}
	.doctors-domain .calendar-container{font-size: 12px;}

	.doctors-domain{ padding: 45px 0px; }
	.doctors-domain.page-tagline{margin-bottom: 35px; text-align: left; padding-top: 0px;}
	.doctors-domain .doctor-button{ width: 50%; display: inline-block;}
	.doctors-domain .data-block { width: 70%; padding: 0px; padding-left: 10px;}
	.doctors-domain .image-block { width: 30%; padding: 0px; text-align: center; font-size: 14px;}
	.doctors-domain .image-block img { margin: 10px auto 15px auto; height: 250px;}
	.doctors-domain .details { width: 63%; float: left; margin-right: 2%;}
	.doctors-domain .details .name{ font-size: 24px; margin-top: 20px}
	.doctors-domain .details .designation{ font-size: 20px; margin-bottom: 20px;}

	.doctors-domain.page-tagline .tag{ font-size: 23px;}

	.doctors-domain .info .info-data.second-info { padding-left: 65px; }

	.doctors-domain .message{ margin-bottom: 20px; text-align: justify;}
	.doctors-domain .calendar { width: 35%; float: left; height: 100%; padding-top: 30px; font-size: 14px; text-align: right;}
	.doctors-domain .calendar .idno{ font-size: 20px; margin-bottom: 20px;}
	.doctors-domain .buttons-container{ margin-top: 15px;}
	.doctors-domain .buttons-container .doctor-button { width: 140px; text-align: center;}
	.doctors-domain .info{ padding: 0px}
	.doctors-domain .info .info-image{ float: left;}
	.doctors-domain .info .info-data{ float: left; padding-top: 15px; padding-left: 10px; font-size: 14px;}
	.doctors-domain .info .info-image img{ width: 55px;}
	.doctors-domain.page-tagline img{ margin-top: 6px; width: 50px;}

	.pink-button-row { }
	.pink-button-row .pink-buttons{ width: 16%; margin: 0 0.5%; }
	.page-row.faqs .row-description{ padding-left: 65px;}

	.pink-button-row.doctors .pink-buttons-container{width: 40%;}
	.pink-button-row.doctors .pink-buttons{ width: 25%; margin: 0 0.5%;}
	.pink-button-row.doctors .pink-button-side { width: 30%;}
	.pink-button-row .pink-buttons.active{ }

	.nav-main-menu ul { position: relative; text-align: center; height: 28px;}
	.nav-main-menu .menu-talktous-li { position: absolute;  width: 75px; right: 75px; }
	.nav-main-menu .menu-aboutus-li{ position: absolute; width: 70px; right: 150px;}
	.nav-main-menu .menu-blog-li{ position: absolute; width: 70px; right: 202px;}
	.nav-main-menu .menu-topup-li{ position: absolute; width: 70px; right: 0px;}


	.modal-container .modal-box{ width: 400px; height: 300px; padding: 15px; margin-top: -185px; margin-left: -200px; }
	.modal-container .modal-box .times{ line-height: 20px; width: 15px; height: 10px; float: right; font-size: 28px; cursor: pointer; }
	.modal-container .modal-title{ font-size: 25px; margin-top: 0px;}
	.modal-container .login-form-box{width: 350px; margin: 25px auto;}
	.modal-container .login-form-box .field-label{ margin-bottom: 10px; font-size: 15px; padding: 0px; padding-top: 5px; text-align: left;}
	.modal-container .login-form-box .field-value{ font-size: 10px; margin-bottom: 10px; padding: 0px; text-align: left; padding-left: 15px;}
	.modal-container .login-form-box .input-fields{ width: 100%; height: 35px; }
	.modal-container .submit-button{ width: 100px; height: 35px; font-size: 16px; line-height: 17px; outline: 0px;}

	.about-us .row-description{padding: 0px 67px;margin-top: 0px;}
	.about-us .row-description .widget-image { max-height: 100px;}
	.about-us .row-title{ font-size: 22px;}
	.about-us .row-title-image{ max-height: 80px;}
	.about-us .image-title{margin-top: 15px;}

	.about-us .member-left{ padding-left: 50px;}
	.about-us .member-right{ padding-right: 50px;}
	.about-us.last-row{ margin-bottom: 25px; margin-top: 20px; }
	.about-us.gradient-background .row-description{padding-left: 0px; margin-top: 0px; width: 750px; margin: 0 auto;}
	.about-us.gradient-background .row-header{ margin-top: 0px;}

	.talk-to-us  .row-title-image{ max-height: 80px;}
	.talk-to-us .row-title{ font-size: 22px;}
	.talk-to-us .row-description{padding-left: 67px;}
	.talk-to-us .row-description .address{padding: 0px;}
	.talk-to-us .row-description .email{padding: 0px;}
	.talk-to-us .form-elements{padding-left: 20px;}
	.talk-to-us.map{ margin-bottom: 35px;}

	.footer-container .footer .footer-bottom .copyright .noa{margin: 0px 20px;}

	.banner-bg .content-area .red-text{font-size: 24px;font-weight: lighter;margin-top: 75px;font-family: "Open Sans",sans-serif;}

	.find-a-doctor.first-row{box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15) inset;}


}
