@charset "utf-8";
@import url("theme-changer.css");
@import url("../components/flexslider/flexslider.css");
@import url("../components/fancybox/jquery.fancybox.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,800");
@import url("http://fonts.googleapis.com/css?family=Oswald");
/*
------------------------------------------------------------
		Reset Style
------------------------------------------------------------
*/
:focus {
	outline:0px;
}
::-moz-selection{
 background: #e10971;
 color: #fff;
 text-shadow: none;
}
::selection {
 background: #e10971;
 color: #fff;
 text-shadow: none;
}
sub, sup, small {
	font-size: 75%;
}
ol, ul {
	list-style: none;
}
html {
	overflow-x: hidden;
}
body {
	font-family:"Ubuntu", sans-serif;
	font-size: 13px;
	-webkit-font-smoothing: antialiased; 
	background-color:#f1f1f1;
	color: #333333;
	//background-image:url("../images/bg-light.png");
	background-image:url("../images/background-img.png");
	background-position:50% 0;
	//background-repeat:no-repeat;
	
}
body.bg-img {
	background:no-repeat center top fixed;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
h1, h2, h3, h4, h5 {
	font-family:"Ubuntu", sans-serif;
	font-weight: lighter;
}
h2 span, h3 span {
	color:#e10971;
}
h2 small {
	display:block;
	margin-top:-10px;
	font-size:14px
}
a {
	text-decoration:none;
	color:#e10971;
	text-decoration: none;
	 -webkit-transition: all .4s ease-in-out;
	 -moz-transition: all .4s ease-in-out;
	 -ms-transition: all .4s ease-in-out;
	 -o-transition: all .4s ease-in-out;
	 transition: all .4s ease-in-out;
}
a:hover, a > *:hover {
	color:#24d4c8;
	text-decoration:none;
}
p {
	line-height:19px;
}
/*
------------------------------------------------------------
		Blockquote
------------------------------------------------------------
*/
blockquote {
	margin:0;
	padding:5px 10px 0px 45px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:10px 3px;
	clear:both;
	font-size:18px;
	line-height:25px;
	font-family:"Ubuntu", sans-serif;
	font-style:italic;
	border:none;
}
blockquote.left, blockquote.right {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
}
blockquote.left {
	float:left;
	margin-left:0px;
	margin-right:20px;
}
blockquote p {
	margin:10px;
	font-size:16px;
	line-height:20px
}
blockquote small {
	margin:20px 0;
	font-size:12px;
	line-height:20px
}
blockquote.small{
	font-size:15px;
	line-height:20px;
	font-family:"Ubuntu", sans-serif;
		background-position:10px 0px;
	}
blockquote.small small{
	margin:10px 0;
	font-size:12px;
	line-height:16px
	}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
/*
	loading layout
*/
#overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#111;
	z-index:1000;
	display: none;
}
#preloader {
	background: #000000 url(../images/preloader.gif) no-repeat 12px 10px;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -45px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 90px;
	z-index: 1209;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #FFF;
	text-shadow:none;
	display: none;
}
/*
------------------------------------------------------------
		Address
------------------------------------------------------------
*/
address {
	border-bottom:1px #e7e7e7 solid;
	padding-bottom:18px;
	margin:20px 0;
}
address:first-child {
	border-bottom:1px #e7e7e7 solid;
}
address:last-child {
	border-bottom:none;
}
/*
------------------------------------------------------------
		Alert  Box 
------------------------------------------------------------
*/
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
/*
------------------------------------------------------------
		Box grid
------------------------------------------------------------
*/
.one_half, .one_third, .one_fourth, .third_fourth, .third_one {
	float:left;
}
.one_half {
	width: 50%;
}
.one_third {
	width: 33.333333333333339%;
}
.one_fourth {
	width: 25%;
}
.third_fourth {
	width:70%;
}
.third_one {
	width:30%;
}
/*
------------------------------------------------------------
		BG color
------------------------------------------------------------
*/
.bg-white {
	background-color:#FFF;
}
.bg-slide {
	background-color:#CCC;
}
.full-bg {
	background:no-repeat center top;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
.contact{
	background:no-repeat center center;
	background-image:url(../images/contactmap.png);
	}
.color-slateGrey  {
background-image: -ms-linear-gradient(top, #313131 0%, #303030 100%);
background-image: -moz-linear-gradient(top, #313131 0%, #303030 100%);
background-image: -o-linear-gradient(top, #313131 0%, #303030 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #313131), color-stop(1, #303030));
background-image: -webkit-linear-gradient(top, #313131 0%, #303030 100%);
background-image: linear-gradient(to bottom, #313131 0%, #303030 100%);
}
.text_highlight{
	background-color:#e10971;
	color:#FFF;
	padding:5px;
	}
/*
------------------------------------------------------------
		Shadow
------------------------------------------------------------
*/
.shadowinset {
	-webkit-box-shadow:inset 5px 0px 15px #1a1a1a;
	-moz-box-shadow:inset 5px 0px 15px #1a1a1a;
	box-shadow:inset 5px 0px 15px #1a1a1a;
}
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

 .curved-shadow:before {
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 80%;
	height: 50%;
	max-height: 100px;
	margin-left:10%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-border-radius:1000px / 100px;
	border-radius:1000px / 100px;
}
 .curved-shadow2hz:before , .curved-shadow2hz:after {
	content: "";
	position: absolute;
	z-index: -2;
	top: 15px;
	left: 10px;
	width: 80%;
	height: 50%;
	max-height: 100px;
	margin-left:10%;
	box-shadow: 0 -15px 10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow:0 -15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 -15px 10px rgba(0, 0, 0, 0.7);
	-moz-border-radius:1000px / 100px;
	border-radius:1000px / 100px;
}
.curved-shadow2hz:after{
	bottom: 15px;
	top:auto;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	}
/*
------------------------------------------------------------
		Float Align
------------------------------------------------------------
*/
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin:3px 20px 10px 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
	margin-top: 5px;
}
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone, img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}
img.alignleft, img.alignright, img.aligncenter, img.alignnone {
	margin-bottom: 12px;
}
/*
------------------------------------------------------------
		Scrolltop
------------------------------------------------------------
*/
#scrolltop {
	background-color:#000000;
	background-repeat:no-repeat;
	background-position: center 0px;
	background-image:url(../images/top.png);
	width:42px;
	height:42px;
	opacity: 0.3;
	filter: alpha(opacity=30);
	border: 5px rgba(255, 255, 255, 0.4) solid;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
}
#scrolltop:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
/*
------------------------------------------------------------
		 header
------------------------------------------------------------
*/
#header {padding:20px 0; margin-bottom:19px;}
.header-style2 a.logo {display:block; position:relative; margin-bottom:20px; margin-left:0px;}
.header-style2 a.logo img{max-width: 160px;}
.contact-top {position:absolute; right:0; top:20px;}
.contact-top span {display:block; text-align:right; margin:4px 0; color:#999;}
.contact-top span.phone {font-family:Arial, Helvetica, sans-serif; font-weight: bold; font-size:14px}
.contact-top .tlogin {/*background-image: url("../images/tmbg.png");*/ font-family: Arial,Verdana; font-size: 12px; height: 30px; line-height: 30px; margin: 16px 10px 0 10px;  padding:0; vertical-align: middle; -moz-border-radius: 20px; border-radius: 20px; /*border-left:2px solid #9fa2a3; border-right:2px solid #9fa2a3;*/ text-align:center; margin-right: 0px;}
.contact-top .tlogin a {padding:0px 8px; color:#666; margin:0px;}
/*
--------------------------------------------------
		  section title
---------------------------------------------------
*/
.section-title {
	overflow: hidden;
	margin: 0;
	padding: 30px 0;
	border-bottom: 2px #e10971 solid;
	position:relative;
}
.section-title.full-bg{
	padding: 55px 0 20px;
	}
.section-title.patterns{
	background-repeat:repeat;
	-webkit-background-size: none!important;
	-moz-background-size: none!important;
	-o-background-size: none!important;
	background-size: none!important;
	}
.section-title.full-bg:before  ,.section-title.full-bg:after, .section-title.under-bg:before{
	background: none;
	text-align:center;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	z-index:2;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.section-title.full-bg:after{
		bottom: 0;
		top: auto;
	}
.section-title.under-bg{
	position: absolute;
	padding: 70px 0 20px;
	width:100%;
	height:330px;
	}
.section-title.noborder {
	border-bottom:none;
}
.section-title .title, .section-title .title a {
	display: inline;
	word-spacing: 5px;
}
.section-title h1 {
	font-weight: lighter;
	font-size:36px;
}
.section-title h1.headtitle{
	padding:20px 0;
	font-size:46px;
	font-family:"Open Sans";
	}
.section-title h1.title {
	font-size:18px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin: 0;
	padding:0;
}
.section-title h1.title a {
	display:inline-block;
	border:1px #e10971 dashed;
	font-weight: lighter;
	padding:0 5px;
}
.section-title h1.title span {
	font-weight: 300;
	text-transform: none;
	color: #aaa;
}
.section-title p {
	font-weight: 300;
	font-size: 16px;
	line-height: 27px;
}
.section-title .section-nav {
}
.section-title .section-nav ul {
	padding: 20px;
	margin: 0 auto;
}
#text {
	text-align:center;
	text-transform:uppercase;
	-webkit-tranform:translateZ(0);
	-webkit-transition-duration:0.05s;
	-moz-tranform:translateZ(0);
	color:#FFF;
	text-shadow:0 0 1px rgba(0, 0, 0, .2);
}
/*
------------------------------------------------------------
		Inner box
------------------------------------------------------------
*/
.inner {
	padding: 20px;
}
.inner.untop {
	padding-top:0px;
}
.inner.unbottom {
	padding-bottom:0px;
}
.inner.unleft {
	padding-left:0px;
}
.inner.unright {
	padding-right:0px;
}
.inner.untb {
	padding-top:0px;
	padding-bottom:0px;
}
.inner.unlr {
	padding:20px 0!important;
}
/*
------------------------------------------------------------
		Header Title
------------------------------------------------------------
*/
.heading_border {
	height:1px;
/*	background-color:#d7d7d7;
	border-bottom:1px #efefef solid;*/
	background-color:#d7d7d7;
	border-bottom:1px #FFF solid;
	margin:7px 0 16px 0;
}
.feed .heading_border  {
	background-color:#141414;
	border-bottom:1px #3a3a3a solid;
}
.separate_border,.separate_border_left,.separate_border_right{
	position:relative;
	}
.separate_border:before,.separate_border:after,.separate_border_left:before , .separate_border_right:after{
	content:"";
	border-right:1px #3a3a3a solid;
	background-color:#141414;
	position: absolute;
	top:0;
	padding:20px 0;
	margin-top:-20px;
	width:1px;
	height:100%;
	}
.separate_border:after, .separate_border_right:after{
	right:0;
	}
/*
------------------------------------------------------------
		Logo
------------------------------------------------------------
*/
/*.logo {
	position: absolute;
	left:0;
	background-image:url(../images/pinkwhalehealthcare.png);
	width:288px;
	height: 93px;
	background-position:center;
	background-repeat:no-repeat;
}*/
/*
------------------------------------------------------------
		Counter Construction
------------------------------------------------------------
*/
.counter_pos {margin:70px auto; width:545px; border:1px solid #CCC; background:#EEE; padding:10px; border-radius:5px}
.counter_pos1 {margin:20px auto; width:525px; }
.cntSeparator {font-size: 50px;margin: 24px 0px;color: #000; font-family:Georgia, "Times New Roman", Times, serif;}
.counter_desc{ position:relative; overflow:hidden; font-size:16px; font-weight:bold; line-height:1.2em; padding:5px 0 0 5px;}
.counter_desc div{ width:104px; text-align:center; float:left;}
.counter_desc .days {margin-left:25px;}
.counter_desc .hours {margin-left:43px;}
.counter_desc .minutes {margin-left:21px;}
.counter_desc .seconds {margin-left:12px;}
/*
------------------------------------------------------------
		Map canvas
------------------------------------------------------------
*/
#map_canvas {
	background-color:#e5e3df;
	border: 1px solid #CCC;
	border-bottom: 2px #e10971 solid;
	height:400px;
	position: relative;
	width: 100%;
}
#map_canvas:before, #map_canvas:after {
	background: none;
	text-align:center;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	z-index:2;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
#map_canvas:after {
	bottom: 0;
	top: auto;
}


#map_canvas .captionMap {
	background: black;
	background: rgba(0,0,0,0.8);
	background: -webkit-linear-gradient(rgba(0,0,0,0.6), black);
	background: -moz-linear-gradient(rgba(0,0,0,0.6), black);
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0, 0.6) 0px 7px 20px, rgba(255,255,255, 0.6) 0px 1px 0px inset;
	-moz-box-shadow: rgba(0,0,0, 0.6) 0px 7px 20px, rgba(255,255,255, 0.6) 0px 1px 0px inset;
	box-shadow: rgba(0,0,0, 0.6) 0px 7px 20px, rgba(255,255,255, 0.6) 0px 1px 0px inset;
	z-index: 1;
	top:5px;
	color: white;
	padding: 12px;
	font: 12px HelveticaNeue, Helvetica, Arial;
	display: inline-block;
	position: absolute;
	text-shadow: black 0px 1px 1px;
	border: 1px solid black;
	width:254px;
}
#map_canvas  .captionMap span {
	font-weight: bold;
	display:block;
	padding-top:5px;
}
#map_canvas  .captionMap:after {
	content: '';
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -7px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid black;
	width:0px;
	height:0px;
}
#map_canvas  .captionMap img{
	width:60px;
	margin-bottom:5px;
	margin-right:13px;
	border:1px #3c3c3c solid;
	}
.mapPerloading {
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-15px;
	margin-left:-25px;
}
.mapPerloading span {
	display: block;
	margin: 0 auto;
}
 .mapPerloading span[class*="l-"] {
 display: inline-block;
 background: #000;
 width: 4px;
 height: 4px;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 border-radius: 100%;
 margin: 12px 2px;
 position: relative;
 -webkit-animation: loader 4s infinite;
 -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 -webkit-animation-fill-mode: both;
 -moz-animation: loader 4s infinite;
 -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 -moz-animation-fill-mode: both;
 -ms-animation: loader 4s infinite;
 -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 -ms-animation-fill-mode: both;
 animation: loader 4s infinite;
 animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 animation-fill-mode: both;
}
.mapPerloading span.l-1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}
.mapPerloading span.l-2 {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.mapPerloading span.l-3 {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.mapPerloading span.l-4 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.mapPerloading span.l-5 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.mapPerloading span.l-6 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
 @-webkit-keyframes loader {
 0% {
-webkit-transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
-webkit-transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-moz-keyframes loader {
 0% {
-moz-transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
-moz-transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-ms-keyframes loader {
 0% {
-ms-transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
-ms-transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
@keyframes loader {
 0% {
transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
/*
------------------------------------------------------------
		Firstdrop   
------------------------------------------------------------
*/
p .firstdrop {
	font-size:2.15em;
	float:left;
	height:auto;
	line-height:1.15em;
	padding:3px 7px 2px 7px;
	width:auto;
	font-weight:bold;
	background-color: #CCC;
	margin-right: 7px;
}
/*
------------------------------------------------------------
		Ul List 
------------------------------------------------------------
*/
ul.lastnews{
	margin:0;
	}
ul.lastnews li{
	border-bottom:1px #d7d7d7 solid ;
	border-top:1px #efefef solid ;
	padding:10px 0;
	}
ul.lastnews li:first-child{
	border-top:none ;
	padding:0 0 10px 0;
	}
ul.lastnews li:last-child{
	border-bottom:none ;
	}
ul.liststar {
	list-style-image:url(../images/list_star.png);
}
ul.listsquare {
	list-style-image:url(../images/list_square.png);
}
ul.listcheck {
	list-style-image:url(../images/list_check.png);
}
ul.listcircle {
	list-style-image:url(../images/list_circle.png);
}
ul.listarrow {
	list-style-image:url(../images/list_arrow.png);
}
ul.liststar li, ul.listsquare li, ul.listcheck li, ul.listcircle li, ul.listarrow li {
	padding:5px 0px;
}
ul.liststar li a, ul.listcontact li a {
	color:#666;
	text-transform:none;
}
ul.liststar li a, ul.listcontact li a:hover {
	color:#666666;
}
.contact-box{
	background-image:url(../images/contactmap.png);
	background-repeat:no-repeat;
	background-position: bottom center ;
	}
ul.listcontact {
	margin-left:10px;
}
ul.listcontact li {
	padding-top:2px;
	padding-left:20px;
	margin-bottom:2px;
}
ul li.cont-phone {
	background:url(../images/ico_phone.png) no-repeat 0 5px
}
ul li.cont-email {
	background:url(../images/ico_letter.png) no-repeat 0 4px
}
ul li.cont-adress {
	background:url(../images/ico_home.png) no-repeat 0 5px
}
ul.catagoly {
	margin-top:10px;
	margin-left:15px;
}
ul.catagoly li {
	border-bottom:1px #DDD dotted;
	padding:7px 0;
}
ul.catagoly a {
	color:#666;
}
ul.catagoly a:hover {
	color:#e10971;
}
ul.footer-link {
	margin:0;
	}
ul.footer-link li{
	float:left;
	padding:0px 7px;
	border-right:1px #3a3a3a solid;
	border-left:1px #141414 solid;
	}
ul.footer-link li:first-child{
	border-left:none;
	}
ul.footer-link li:last-child{
	border-right:none;
	}
ul.popular {
	margin:0;
}
ul.popular li {
	clear:both;
}
ul.popular li img {
	border:1px #DDD solid;
	padding:2px;
	width:75px;
}
ul.popular li strong {
	display:inline-block;
	padding-top:7px;
}
#follow {
	margin:10px auto;
}
#follow a {
	color:#454545;
	display: inline-block;
	background-color:#FFF;
	border:1px solid #eaebeb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    -webkit-box-shadow: 0px 2px  2px #aaaaaa;
    -moz-box-shadow: 0px 2px 2px #aaaaaa;
    box-shadow: 0px 2px 2px #aaaaaa;
	width:72px;
	height:39px;
	font-size:16px;
	background-position:10px 10px;
	padding:10px 0 0 50px;
	background-repeat:no-repeat;
	text-align:left;
	text-shadow:1px 1px 0 #fff;
	line-height:15px
}
#follow a:hover {
	text-decoration:none;
	background-color:#fff
}
#follow a span {
	color:#c3c9c9;
	font-size:10px;
	display:block
}
#follow a#facebook {
	background-image:url(../images/social_facebook.png);
	margin-right:20px;
}
#follow a#twitter {
	background-image:url(../images/social_twitter.png)
}
/*
------------------------------------------------------------
		company_desc
------------------------------------------------------------
*/
/*.company_desc{ border-left:1px solid #dfdfdf; }*/
.company_desc .description{ border-right:1px solid #FFF; padding:0 13px 0 0; position:relative;}
.company_desc .description:after{ content:"" ; width:1px; height:100%; position:absolute; top:0; right:0px; background-color:#DDD;}
.company_desc .description.last{ border:none;}
.company_desc .description.last:after{ content:"" ; width:0; }
.company_desc .description .title{
	font-family:"Oswald", sans-serif;
	font-size: 36px;
	text-transform:uppercase;
	line-height: 43px;
	color:#565656;
	text-shadow:2px 2px 0px rgba(180, 180, 180, 0.6);
	margin-bottom:20px;
	font-weight: bold;
}
.company_desc .description .text{ padding-left:2px;}
.company_desc .description .btn{ margin-top:15px;}
/*
------------------------------------------------------------
		offer_box
------------------------------------------------------------
*/
.wrapper-shadow{
	padding:30px 0;
	overflow:hidden;
	position:relative;
/*	background-color:#FFF;
	border-top:1px #d5d7da solid;*/
	border-bottom:1px #d5d7da solid;
	}
/*.wrapper-shadow:before ,*/.wrapper-shadow:after{
	content: "";
	position: absolute;
	z-index: 2;
	top: -100px;
	left: 10px;
	width: 100%;
	height: 50%;
	min-height:100px;
	max-height: 100px;
	margin-left:0%;
	box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 2px 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 2px 50px rgba(0, 0, 0, 0.1);
	-moz-border-radius:800px / 100px;
	border-radius:800px / 100px;
	}
.wrapper-shadow:after{
	bottom:-100px;
	top: auto;
	box-shadow: 0 -2px 50px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 -2px 50px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 -2px 50px rgba(0, 0, 0, 0.2);

	}

.offer_box{padding-top:42px;margin-bottom:30px;}

.box1{
	border:1px solid #e3e3e3;
	position: relative;
	text-align:center;
	padding: 52px 0 20px;
	background-color: #fafafa;
	background-image: -ms-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
	background-image: -moz-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #f0f0f0 ));
	background-image: -webkit-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
	background-image: linear-gradient(to bottom, #fafafa 0%, #f0f0f0 100%);
}
.box1 img{
	position: absolute;
	top:-33px;
	left:50%;
	margin-left:-35px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
    -webkit-box-shadow: 0px 2px  2px #aaaaaa;
    -moz-box-shadow: 0px 2px 2px #aaaaaa;
    box-shadow: 0px 2px 2px #aaaaaa;
}
.box1 .title{font-size: 20px; line-height: 24px; color: #5a5a5a;margin-bottom:16px;}
.box1 .text{padding-bottom:23px;}
/*
------------------------------------------------------------
		 Carousel Box , Project Feed
------------------------------------------------------------
*/
.carousel_box {
	margin-top:15px;
}
.carousel_header {
	font-size:13px;
	margin:20px 0 10px 0;
	color: #AAA;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
/*	text-transform: capitalize;
	text-align:left;*/
	display:block;
}
.carousel_box li .info {
	position:relative;    
}
.project-feed > div {
	margin-bottom:20px;
	position: relative;
}
.carousel_box li div a, .project-feed div a {
	display:block;
	text-align:center;
}
.carousel_box li div.box ,.project-feed div.box {
	background-color:#FFF;
	position:relative;
}
.carousel_box li div.box  span{
	position: absolute;
	background-image:url(../images/bg_dots_grey.png);
	background-color:rgba(0,0,0,0.5);
	top:0;
	left:0;
	opacity:0;
	filter:alpha(opacity=0);
	width:100%;
	height:100%;
	z-index:2;
}

.carousel_box li div a {
	position:relative;
	display: inline-block;
	margin:1px;
	width:35px;
	height:35px;
	background-color:#e10971;
	background:rgba(60, 192, 183, 0.6);
	text-align: center;
/*	background-color:rgba(0,0,0,0.5);*/
	line-height:35px;
	top:45%;
	margin-top:-20px;

	
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	-ms-border-radius:100px;
	-khtml-border-radius:100px;
	border-radius:100px;
}
/*.carousel_box li div  a.addmore {
	background-color:#e10971;
	color:#FFF;
	line-height:35px;
	text-align:center;
	font-style:normal;
	font-size:16px;
	width:35px;
	height:35px;
	top:50%;
	left:50%;
	margin-top:-20px;
	margin-left:-20px;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
	
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	-ms-border-radius:100px;
	-khtml-border-radius:100px;
	border-radius:100px;
	
}*/
.carousel_box li div  a.large{
	width:50px;
	height:50px;
	margin-top:-25px;
	line-height:56px;
	}
.carousel_box li div a.large i:before{
	font-size:19px;
	margin-left:-1px;
	}
.carousel_box li div i:before{
	color:#FFF;
	color: rgba(255, 255, 255, 0.9);
	 text-shadow:0px 1px 0px rgba(0, 0, 0, 0.1);
	}
/*.carousel_box li a:hover .info, .project-feed div:hover div.info {
	background-color: #f8f8f8;
}*/
.carousel_box p, .project-feed div p {
	font-family: Cambria, Georgia, serif;
	padding:5px;
	display: block;
}
.project-feed div.info {
	display: block;
	padding:15px;
/*	background-color:#fafafa;*/
	text-align:center;
}
.project-feed div.info h6 {
	font-size:16px;
	line-height:28px;
	text-transform:capitalize;
}
.project-feed div.mask {
	position:absolute;
	background:#e10971;
	background:rgba(60, 192, 183, 1);
	display:inline-block;
	text-align:center;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:2;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}
.project-feed div.mask a {
	position:relative;
	padding:10px 0;
	top:50%;
	margin-top:-10px;
	display:inline;
	margin:5px;
}
.project-feed div.mask span {
	position: absolute;
	padding:5px 10px;
	margin:5px;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	top:0px;
	color:#FFF;
	font-size:11px;
	width:auto;
	right:0;
}
.project-feed > div:hover div.mask {
	filter: alpha(opacity=100);
	opacity: 1;
}
 .project-feed div.mask a [class^="icon-"]:before, .project-feed div.mask a [class*=" icon-"]:before {
	 font-size:24px;
	 color: rgba(0, 0, 0, 0.9);
	 text-shadow:0px 1px 0px rgba(255, 255, 255, 0.3);
}

/*
------------------------------------------------------------
		Ourteam
------------------------------------------------------------
*/
.ourteam {
	margin:5px 0 15px 0;
}
.ourteam img {

}
.ourteam h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-top:10px;
	margin-left:45px;
}
.ourteam i:before{
	font-size:36px;
	margin-top:26px;
	position:absolute;
	}
.ourteam h3 small {
	display:block;
	position:relative;
	font-family: Cambria, Georgia, serif;
	font-size:11px;
	font-style:italic;
	margin-top:-7px;
	margin-bottom:7px;
}
.ourteam p {
	font-size:11px;
	margin-bottom:10px;
}
/*
------------------------------------------------------------
		Blog & Article
------------------------------------------------------------
*/
.blog {
	margin: 0;
}
.blog-search .search-query {
	width:230px;
}
.article_list li {
	position:relative;
	margin-bottom:30px;
	padding-bottom:20px;
	border-bottom:1px #DDD solid;
}
.article_list li:first-child {
	border-bottom:none;
}
.article_list li .title {
	font-weight: lighter;
	text-transform: uppercase;
}
.article_list .aslider li {
	margin:0px;
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.article_list.large .zoom .image_highlight {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.article_list.large li article {
	display:block;
	margin:10px 0;
}
.article_list li article h2, .article_list li article h3 {
	padding-top:5px;
	text-transform: capitalize;
	padding-bottom: 5px;
	font-size: 22px;
}
.article_list li .video {
}
.details {
	color:#929190;
	font-size:10px;
	margin:0 0 10px 0;

}
.details li {
	float:left;
	margin:2px ;
	text-transform:capitalize;
	border:none;
	background-color:rgba(255,255,255,0.5);
	padding:5px;
}
.details li i {
	margin:0 5px 0px 0;
}
.comment {
	overflow: hidden;
	padding: 1em 0 0.5em;
	margin-left: 5px;
 *zoom: 1;
}
.comment-img {
	float: left;
	margin-right: 16px;
	overflow: hidden;
}
.comment-img img {
	display: block
}
.comment-body {
	overflow: hidden;
}
.comment .text {
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	background: #FFF;
}
.comment .text p:last-child {
	margin: 0
}
.comment .attribution {
	margin: 0 0 0;
	font-size: 11px;
	color: #aaaaaa;
}
.comments, .comment {
	position: relative
}
.comment .text:before {
	content: "";
	position: absolute;
}
.comment .text:before {
	top: 25px;
	left: 61px;
	width: 9px;
	height: 9px;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #e5e5e5;
	background: #FFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
/*
------------------------------------------------------------
		Social Media Widget
------------------------------------------------------------
*/
.socialmedia {
	margin: auto;
	width: 90%;
	margin-bottom: 20px;
}
.socialmedia a:first-child {
	margin-left:0px;
}
.socialmedia a:last-child {
	margin-right:0px;
}
.socialmedia a {
	text-decoration:none;
	display:inline-block;
	position:relative;
	margin:1px;
}
.socialmedia.small {
	padding-top:10px;
	text-align:center;
	position:relative
}
.socialmedia.small:before {
	content:"";
	height:1px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#d7d7d7;
	border-bottom:1px #efefef solid;
}

/*
------------------------------------------------------------
		Column Bottom - menu
------------------------------------------------------------
*/
.columnBottom {
}
.columnBottom .one_third div {
	width:auto;
	overflow:hidden;
	position:relative;
}
.columnBottom span {
	display:block;
	height:27px;
	line-height:27px;
	color:#FFF;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
	padding-left: 7px;
}
.columnBottom h4 {
	display:block;
	color:#FFF;
	text-transform:uppercase;
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:1px #4b4b4b solid;
}
/*
------------------------------------------------------------
		Isotope filtering 
------------------------------------------------------------
*/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/*
------------------------------------------------------------
		Flickr
------------------------------------------------------------
*/
.widget-flickr {
	margin-bottom: 1.5em;
	margin: 0;
	padding: 0;
}
#flickr-badge {
	padding:0px;
	margin:0;
}
#flickr-badge.large li {
	width: 75px;
	height: 75px;
	margin: 0 5px 10px 6px;
}
#flickr-badge.large li img {
	height: 75px;
	width: 75px;
}
#flickr-badge li {
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 5px 10px 5px;
}
#flickr-badge li img {
	display: block;
	height: 60px;
	width: 60px;
	opacity: 0.7;
	background-color: #000;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
	transition: 0.5s all ease-out;
}
#flickr-badge li img:before {
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border: 1px solid rgba(255, 255, 255, .25);
}
#flickr-badge li:hover img {
	opacity: 1;
}
.rss-feed {
	border-bottom:1px #EEE solid;
	padding:5px 0;
}
.rss-feed ul {
	padding:0;
	margin:0 8px;
}
.rss-feed ul li {
	float:left;
	width:50%;
}
.rss-feed ul li .alignleft, .rss-feed ul li img.alignleft {
	margin:3px 10px 10px 0;
}
.feed {
	border:1px #DDD solid;
	padding:20px;
	position:relative;
	background-color:#303030;
	background-image: -ms-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: -moz-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: -o-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #313131), color-stop(1, #303030));
	background-image: -webkit-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: linear-gradient(to bottom, #313131 0%, #303030 100%);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}
.feed.left:before, .feed.left:after {
	width: 0;
	height: 0;
	content:"";
	left:50px;
	bottom:-18px;
	position:absolute;
	border-top: 0px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 35px solid #303030;
}
.feed.left:before {
	bottom:-20px;
	left:49px;
	border-top: 0px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 35px solid #303030;
}
.feed.right:before, .feed.right:after {
	width: 0;
	height: 0;
	content:"";
	right:50px;
	bottom:-18px;
	position:absolute;
	border-top: 0px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 35px solid #303030;
}
.feed.right:before {
	bottom:-20px;
	right:49px;
	border-top: 0px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 35px solid #303030;
}
.feed .lastnews li  {
	border-bottom:1px #3a3a3a solid ;
	border-top:1px #141414 solid ;
}

 .avatar{
	position: relative;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0px 4px 7px rgba(26,26,26 ,0.2);
	-moz-box-shadow:0px 4px 7px rgba(26,26,26 ,0.2);
	box-shadow:0px 4px 7px rgba(26,26,26 ,0.2);
	overflow:hidden;
	}
 .avatar:after{
	content:"dfsdf";
	content: "";
	position: absolute;
	z-index: 1;
	top: -40%;
	left: 0;
	width: 500%;
	height: 400%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: transparent;
	-webkit-box-shadow: 0 0 0 200px rgba(255, 255, 255, .15);
	-moz-box-shadow: 0 0 0 200px rgba(255, 255, 255, .15);
	box-shadow: 0 0 0 200px rgba(255, 255, 255, .15);
	border: 1px solid rgba(255, 255, 255, .2);
	-moz-transition:all 3s ease;
	-webkit-transition:all 3s ease;
	transition:all 3s ease;
	z-index:3;
	}
 .avatar img{
/*	border: 5px #FFF solid;*/
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	}
/*
------------------------------------------------------------
		Tag
------------------------------------------------------------
*/
.tag-cloud {
	width: 100%;
	margin: auto;
}
.tag-cloud:after {
	clear:both;
	display:table;
	content:"\0";
}
.tag-cloud ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tag-cloud li {
	margin: 5px;
	float: left;
}
.tag-cloud a {
	display: inline-block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	padding: 4px 9px 6px 9px;
	font: 11px Arial, Helvetica, sans-serif;
	background-color:#e10971;
}
.tag-cloud a:hover {
	color: #333;
	background-color:#f8f8f8;
}
.tag-cloud a span {
}
/*
------------------------------------------------------------
		 Pricing Table
------------------------------------------------------------
*/
.pricing_table {
	font-size: 12px;
	font-weight: normal;
	color: #313131;
}
.pricing_table {
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	margin:40px auto;
	font-size:11px;
}
.pricing_table ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.pricing_table ul li {
	margin: 0px;
	width: 100%;
	height: 100%;
	height: 26px;
	padding-top: 10px;
	float: left;
	text-align: center;
	padding-left: 0px;
}
.pricing_table li.pricing_header1 {
	height:30px;
	font-size: 12px;
	font-weight:bolder;
	line-height:20px;
	color:#bbbbbb;
	background-color:#2c2c2c;
	text-transform:uppercase;
}
.pricing_table li.pricing_header2 {
	height:60px;
	font-size: 4em;
	font-weight:bold;
	padding-top:25px;
	background-color:#3a3a3a;
	color:#AAA;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
}
.pricing_table li.pricing_header2 span {
	font-size: 10px;
	padding-top:10px;
	display:block;
	text-transform:capitalize;
}
.pricing_table .pricing_column_first li.pricing_header1 {
	background:none;
}
.pricing_table .pricing_column_first li.pricing_header2 {
	background:none;
	border:none;
}
.pricing_table .pricing_column_first, .pricing_table .pricing_column {
	height: 100%;
	float: left;
	position:relative;
}
.pricing_table .pricing_column.selected {
	z-index:3;
	margin-top:-15px;
	margin-left:-1px;
	margin-right:0px;
	-webkit-box-shadow:  0 1px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:  0 1px 15px rgba(0, 0, 0, 0.25);
	box-shadow:  0 1px 15px rgba(0, 0, 0, 0.25);
}
.pricing_table .pricing_column.selected li.pricing_header1 {
	background-color:#01afa3;
	color:#FFF;
	height:45px;
	font-size: 12px;
	font-weight:bolder;
	line-height:35px;
}
.pricing_table .pricing_column.selected li.pricing_header2 {
	background-color:#e10971;
	color:#FFF;
}
.pricing_table .pricing_column.start li.pricing_header1 {
	background-color:#4c4c4c;
	color:#BBB;
}
.pricing_table .pricing_column.start li.pricing_header2 {
	background-color:#5c5c5c;
	color:#888;
}
.pricing_table .pricing_column_first {
*z-index:2;
}
.pricing_table .pricing_column_first li {
	text-align: left;
}
.pricing_table .pricing_column_first li span {
	padding-left:10px;
}
.pricing_six .pricing_column, .pricing_six .pricing_column_first { /* 6 columns */
	width: 16.56%;
}
.pricing_five .pricing_column, .pricing_five .pricing_column_first { /* 5 columns */
	width: 19.80%;
}
.pricing_four .pricing_column, .pricing_four .pricing_column_first { /* 4 columns */
	width: 24.89%;
}
.pricing_three .pricing_column, .pricing_three .pricing_column_first { /* 3 columns */
	width: 33.23%;
}
 @media handheld, only screen and (max-width: 767px) {
 .pricing_table {
	 width:100%;
}
 .pricing_table li.pricing_header1 {
	 height:50px;
	 font-size: 18px;
	 line-height:24px;
}
 .pricing_table li.pricing_header2 {
	 height:50px;
	 line-height:30px;
}
 .pricing_table .pricing_column_first {
	 display:none;
}
 .pricing_table .pricing_column {
	 width:48%;
	 margin-bottom:12px;
}
 .pricing_table ul li {
	 height:	44px;
	 padding-top: 6px;
	 line-height:12px;
}
 .pricing_table ul li:before {
	 content:attr(data-table) '';
	 display:block;
	 margin-bottom:10px;
	 font-size:12px;
	 font-weight:bold;
}
}
 @media handheld, only screen and (max-width: 380px) {
 .pricing_table .pricing_column {
		width:100%;
}
.pricing_table .pricing_column_first,  .pricing_table .pricing_column {
 	margin-right:0;
}
}
.pricing_column.selected .odd {
	background-color: #fafafa;
	border-bottom:1px solid #FFF;
}
.pricing_column.selected .even {
	background-color: #FFF;
	border-bottom:1px solid #FFF;
}
.pricing_table .odd {
	background-color: #f6f6f6;
	border-bottom:1px solid #FFF;
}
.pricing_table .even {
	background-color: #fdfdfd;
	border-bottom:1px solid #FFF;
}
.pricing_table .pricing_yes, .pricing_table .pricing_no {
	height:20px;
	width:100%;
	float:left;
}
.pricing_table .pricing_yes {
	background:url("../images/ico_yes.png") center top no-repeat;
	_background:url("../images/ico_yes.png") center top no-repeat;
}
.pricing_table .pricing_no {
	background:url("../images/ico_no.png") center top no-repeat;
	_background:url("../images/ico_no.png") center top no-repeat;
}
.pricing_table .pricing_footer {
	width: 100%;
	height: 40px;
	padding: 14px 0 6px 0;
	float: left;
	background-color: #3c3c3c;
}
.pricing_table .pricing_column.selected .pricing_footer {
	padding: 24px 0 16px 0;
}
.pricing_table .pricing_column_first .pricing_footer {
	background: none;
}
.column .pricing_column {
	background:#fafafa;
}
.pricing_column .header {
	text-align:center;
	padding:20px 0px;
}
.pricing_column.selected .header {
	text-align:center;
	padding:35px 0px 20px 0px;
}
.pricing_column .features {
	padding:0 15px;
}
.pricing_column .features li {
	text-align:center;
	border-top:1px #CCC dashed;
	padding:10px 0 5px 0;
}
.pricing_column .footer {
	text-align:center;
	padding:20px 0;
	margin-top:0;
}
.pricing_column.selected .footer {
	padding:30px 0px 30px 0px;
}

/*
------------------------------------------------------------
		 BrakeLine , Circle 
------------------------------------------------------------
*/ 
.brake {
	width:100%;
	overflow: hidden;
}
.circle {
	position: relative;
	width: 27px;
	height: 9px;
	margin: 5px auto;
	cursor: pointer;
	background-image: url(../images/horizontal_piece.png);
}
 .circle::before, .circle::after {
	 content: "";
	 position: absolute;
	 left: -495px;
	 top: 50%;
	 margin-top:-1px;
	 height: 1px;
	 width: 480px;
	 border-bottom: 1px solid #efefef;
}
.circle::after {
   left: auto;
   right: -495px;
}
.circle:hover {
	border-color: #FFF;
}
.ri-grid{
	margin: 20px auto 20px;
	position: relative;
	height: auto;
}

.ri-grid-loading{
	width: 100px;
	height: 100px;
	background: transparent url(../images/loading.gif) no-repeat center center;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 55%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}	
.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}


/*
------------------------------------------------------------
		 footer box
------------------------------------------------------------
*/
.footer {
	margin-top:35px;
	background-color: #3a3a3a;
	/*position: absolute;
	bottom: 0;
	width:100%;*/
	
}
.news-slideUp{
	background-color:#000;
	}
.news-slideUp {
	padding:10px;
	position:absolute;
	margin-top:-35px;
	}
.footer{
	border-top:5px #DDD solid;
	background-color:#303030;
	background-image: -ms-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: -moz-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: -o-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #313131), color-stop(1, #303030));
	background-image: -webkit-linear-gradient(top, #313131 0%, #303030 100%);
	background-image: linear-gradient(to bottom, #313131 0%, #303030 100%);
	-webkit-box-shadow: black 0px 10px 10px -10px inset;
	-moz-box-shadow: black 0px 10px 10px -10px inset;
	box-shadow: black 0px 10px 10px -10px inset;
	}
.footer .copyright {
	background-color:#232323;
	font-size: 12px;
	padding: 10px 0;
}
.footer .copyright  a{
	color: #AAA;
}
/* Aminimation */

 .animated {
	  -webkit-animation: 1s ease;
	  -moz-animation: 1s ease;
	  -ms-animation: 1s ease;
	  -o-animation: 1s ease;
	  animation: 1s ease;
	  -webkit-animation-fill-mode: both;
	  -moz-animation-fill-mode: both;
	  -ms-animation-fill-mode: both;
	  -o-animation-fill-mode: both;
	  animation-fill-mode: both;
}
.animated.hinge {
	-webkit-animation: 2s ease;
	   -moz-animation: 2s ease;
	    -ms-animation: 2s ease;
	     -o-animation: 2s ease;
	        animation: 2s ease;
}

.animated.fast {
	-webkit-animation-duration: 0.4s;
		-moz-animation-duration: 0.4s;
		-ms-animation-duration: 0.4s;
		-o-animation-duration: 0.4s;
		animation-duration: 0.4s;
}
.animated.slow {
	-webkit-animation-duration: 2.4s;
		-moz-animation-duration: 2.4s;
		-ms-animation-duration: 2.4s;
		-o-animation-duration: 2.4s;
		animation-duration: 2.4s;
}
@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-ms-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-ms-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-ms-keyframes shake {
	0%, 100% {-ms-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-ms-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-ms-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-ms-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-ms-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-ms-transform: translateY(0);}
	40% {-ms-transform: translateY(-30px);}
	60% {-ms-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-ms-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-ms-keyframes tada {
	0% {-ms-transform: scale(1);}	
	10%, 20% {-ms-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-ms-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-ms-transform: scale(1.1) rotate(-3deg);}
	100% {-ms-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-ms-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}
@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
	20% { -webkit-transform: rotate(15deg); }	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes swing {
	20% { -moz-transform: rotate(15deg); }	
	40% { -moz-transform: rotate(-10deg); }
	60% { -moz-transform: rotate(5deg); }	
	80% { -moz-transform: rotate(-5deg); }	
	100% { -moz-transform: rotate(0deg); }
}

@-ms-keyframes swing {
	20% { -ms-transform: rotate(15deg); }	
	40% { -ms-transform: rotate(-10deg); }
	60% { -ms-transform: rotate(5deg); }	
	80% { -ms-transform: rotate(-5deg); }	
	100% { -ms-transform: rotate(0deg); }
}

@-o-keyframes swing {
	20% { -o-transform: rotate(15deg); }	
	40% { -o-transform: rotate(-10deg); }
	60% { -o-transform: rotate(5deg); }	
	80% { -o-transform: rotate(-5deg); }	
	100% { -o-transform: rotate(0deg); }
}

@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

.swing {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-ms-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
  0% { -webkit-transform: translateX(0%); }
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% { -webkit-transform: translateX(20%) rotate(3deg); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% { -webkit-transform: translateX(10%) rotate(2deg); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes wobble {
  0% { -moz-transform: translateX(0%); }
  15% { -moz-transform: translateX(-25%) rotate(-5deg); }
  30% { -moz-transform: translateX(20%) rotate(3deg); }
  45% { -moz-transform: translateX(-15%) rotate(-3deg); }
  60% { -moz-transform: translateX(10%) rotate(2deg); }
  75% { -moz-transform: translateX(-5%) rotate(-1deg); }
  100% { -moz-transform: translateX(0%); }
}

@-ms-keyframes wobble {
  0% { -ms-transform: translateX(0%); }
  15% { -ms-transform: translateX(-25%) rotate(-5deg); }
  30% { -ms-transform: translateX(20%) rotate(3deg); }
  45% { -ms-transform: translateX(-15%) rotate(-3deg); }
  60% { -ms-transform: translateX(10%) rotate(2deg); }
  75% { -ms-transform: translateX(-5%) rotate(-1deg); }
  100% { -ms-transform: translateX(0%); }
}

@-o-keyframes wobble {
  0% { -o-transform: translateX(0%); }
  15% { -o-transform: translateX(-25%) rotate(-5deg); }
  30% { -o-transform: translateX(20%) rotate(3deg); }
  45% { -o-transform: translateX(-15%) rotate(-3deg); }
  60% { -o-transform: translateX(10%) rotate(2deg); }
  75% { -o-transform: translateX(-5%) rotate(-1deg); }
  100% { -o-transform: translateX(0%); }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.wobble {
	-webkit-animation-name: wobble;
	-moz-animation-name: wobble;
	-ms-animation-name: wobble;
	-o-animation-name: wobble;
	animation-name: wobble;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	
	50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-ms-keyframes pulse {
    0% { -ms-transform: scale(1); }	
	50% { -ms-transform: scale(1.1); }
    100% { -ms-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-ms-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes flip {
	0% {
		-webkit-transform: perspective(400px) rotateY(0);
		-webkit-animation-timing-function: ease-out;
	}
	40% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-webkit-animation-timing-function: ease-in;
	}
	80% {
		-webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: perspective(400px) scale(1);
		-webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes flip {
	0% {
		-moz-transform: perspective(400px) rotateY(0);
		-moz-animation-timing-function: ease-out;
	}
	40% {
		-moz-transform: perspective(400px) translateZ(150px) rotateY(170deg);
		-moz-animation-timing-function: ease-out;
	}
	50% {
		-moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-moz-animation-timing-function: ease-in;
	}
	80% {
		-moz-transform: perspective(400px) rotateY(360deg) scale(.95);
		-moz-animation-timing-function: ease-in;
	}
	100% {
		-moz-transform: perspective(400px) scale(1);
		-moz-animation-timing-function: ease-in;
	}
}
@-ms-keyframes flip {
	0% {
		-ms-transform: perspective(400px) rotateY(0);
		-ms-animation-timing-function: ease-out;
	}
	40% {
		-ms-transform: perspective(400px) translateZ(150px) rotateY(170deg);
		-ms-animation-timing-function: ease-out;
	}
	50% {
		-ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-ms-animation-timing-function: ease-in;
	}
	80% {
		-ms-transform: perspective(400px) rotateY(360deg) scale(.95);
		-ms-animation-timing-function: ease-in;
	}
	100% {
		-ms-transform: perspective(400px) scale(1);
		-ms-animation-timing-function: ease-in;
	}
}
@-o-keyframes flip {
	0% {
		-o-transform: perspective(400px) rotateY(0);
		-o-animation-timing-function: ease-out;
	}
	40% {
		-o-transform: perspective(400px) translateZ(150px) rotateY(170deg);
		-o-animation-timing-function: ease-out;
	}
	50% {
		-o-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-o-animation-timing-function: ease-in;
	}
	80% {
		-o-transform: perspective(400px) rotateY(360deg) scale(.95);
		-o-animation-timing-function: ease-in;
	}
	100% {
		-o-transform: perspective(400px) scale(1);
		-o-animation-timing-function: ease-in;
	}
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

.flip {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flip;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flip;
	-o-backface-visibility: visible !important;
	-o-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInX {
    0% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -moz-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -moz-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-ms-keyframes flipInX {
    0% {
        -ms-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -ms-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -ms-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -ms-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-o-keyframes flipInX {
    0% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -o-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -o-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInX;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flipInX;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}
@-webkit-keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@-moz-keyframes flipOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@-ms-keyframes flipOutX {
    0% {
        -ms-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -ms-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@-o-keyframes flipOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@keyframes flipOutX {
    0% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

.flipOutX {
	-webkit-animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	-moz-animation-name: flipOutX;
	-moz-backface-visibility: visible !important;
	-ms-animation-name: flipOutX;
	-ms-backface-visibility: visible !important;
	-o-animation-name: flipOutX;
	-o-backface-visibility: visible !important;
	animation-name: flipOutX;
	backface-visibility: visible !important;
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInY {
    0% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -moz-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -moz-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-ms-keyframes flipInY {
    0% {
        -ms-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -ms-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -ms-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -ms-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-o-keyframes flipInY {
    0% {
        -o-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        -o-transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        -o-transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        -o-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

.flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInY;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flipInY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}
@-webkit-keyframes flipOutY {
    0% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@-moz-keyframes flipOutY {
    0% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@-ms-keyframes flipOutY {
    0% {
        -ms-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -ms-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@-o-keyframes flipOutY {
    0% {
        -o-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        -o-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}
@keyframes flipOutY {
    0% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
	100% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}

.flipOutY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipOutY;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flipOutY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipOutY;
	backface-visibility: visible !important;
	animation-name: flipOutY;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-ms-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-ms-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-ms-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInRight {
	0% {
		opacity: 0;
		-ms-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	
	100% {
		opacity: 1;

		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-ms-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-ms-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-ms-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-ms-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-ms-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-ms-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-ms-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInLeftMiddle {
	0% {
		opacity: 0.5;
		-webkit-transform: translateX(-400px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeftMiddle {
	0% {
		opacity: 0.5;
		-moz-transform: translateX(-400px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes fadeInLeftMiddle {
	0% {
		opacity: 0.5;
		-ms-transform: translateX(-400px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeftMiddle {
	0% {
		opacity: 0.5;
		-o-transform: translateX(-400px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeftMiddle {
	0% {
		opacity: 0.5;
		transform: translateX(-400px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeftMiddle {
	-webkit-animation-name: fadeInLeftMiddle;
	-moz-animation-name: fadeInLeftMiddle;
	-ms-animation-name: fadeInLeftMiddle;
	-o-animation-name: fadeInLeftMiddle;
	animation-name: fadeInLeftMiddle;
}

@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-ms-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-ms-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-ms-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-ms-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
}
@-moz-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
}
@-ms-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
}
@-o-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	-moz-animation-name: fadeOutUp;
	-ms-animation-name: fadeOutUp;
	-o-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

@-moz-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
}

@-ms-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateY(20px);
	}
}

@-o-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	-moz-animation-name: fadeOutDown;
	-ms-animation-name: fadeOutDown;
	-o-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
}

@-moz-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
}

@-ms-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateX(-20px);
	}
}

@-o-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(-20px);
	}
}

.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}
@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
}

@-moz-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
}

@-ms-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateX(20px);
	}
}

@-o-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	-moz-animation-name: fadeOutRight;
	-ms-animation-name: fadeOutRight;
	-o-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}
@-webkit-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-ms-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateY(-2000px);
	}
}

@-o-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

.fadeOutUpBig {
	-webkit-animation-name: fadeOutUpBig;
	-moz-animation-name: fadeOutUpBig;
	-ms-animation-name: fadeOutUpBig;
	-o-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig;
}
@-webkit-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
}

@-moz-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
}

@-ms-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateY(2000px);
	}
}

@-o-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
}

@keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(2000px);
	}
}

.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	-moz-animation-name: fadeOutDownBig;
	-ms-animation-name: fadeOutDownBig;
	-o-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig;
}
@-webkit-keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
}

@-moz-keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
}

@-ms-keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateX(-2000px);
	}
}

@-o-keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
}

@keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(-2000px);
	}
}

.fadeOutLeftBig {
	-webkit-animation-name: fadeOutLeftBig;
	-moz-animation-name: fadeOutLeftBig;
	-ms-animation-name: fadeOutLeftBig;
	-o-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig;
}
@-webkit-keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
}
@-moz-keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
}
@-ms-keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-ms-transform: translateX(2000px);
	}
}
@-o-keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
}
@keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(2000px);
	}
}

.fadeOutRightBig {
	-webkit-animation-name: fadeOutRightBig;
	-moz-animation-name: fadeOutRightBig;
	-ms-animation-name: fadeOutRightBig;
	-o-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig;
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}
	
	70% {
		-moz-transform: scale(.9);
	}
	
	100% {
		-moz-transform: scale(1);
	}
}

@-ms-keyframes bounceIn {
	0% {
		opacity: 0;
		-ms-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-ms-transform: scale(1.05);
	}
	
	70% {
		-ms-transform: scale(.9);
	}
	
	100% {
		-ms-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}
	
	70% {
		-o-transform: scale(.9);
	}
	
	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-ms-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}
	
	80% {
		-webkit-transform: translateY(10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(-30px);
	}
	
	80% {
		-moz-transform: translateY(10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes bounceInUp {
	0% {
		opacity: 0;
		-ms-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateY(-30px);
	}
	
	80% {
		-ms-transform: translateY(10px);
	}
	
	100% {
		-ms-transform: translateY(0);
	}
}

@-o-keyframes bounceInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(-30px);
	}
	
	80% {
		-o-transform: translateY(10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(-30px);
	}
	
	80% {
		transform: translateY(10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-ms-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes bounceInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateY(30px);
	}
	
	80% {
		-ms-transform: translateY(-10px);
	}
	
	100% {
		-ms-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-ms-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}



#docTop{width:300px;  float:left; max-height:612px; overflow-y:scroll; overflow-x:hidden;}
#docTbl{width:300px;  float:left; background-color:#CCC }
#docTbl .docContainer:nth-child(even){background-color: #F2F2F2; box-shadow: 0px 10px 9px -3px rgba(0, 0, 0, 0.15) inset;}
#docTbl .docContainer{border: 0px; margin: 0px; border-radius: 0px; width: 285px;}
#DocSearch_1 #next-id a{color: #C36262;}
#DocSearch_1 #pre-id a{color: #C36262;}


.docContainer {float: left; width:276px; font-size:11px; font-family:Arial; margin:2px; padding:0px; border:1px solid #ccc; background-color:#FFF; border-radius:.5em}
.docPhoto {float: left;margin: 4px 6px 10px 4px; height: 70px;width: 70px; padding:3px;font-size:11px; font-family:Arial; border: none;}
.docPhoto img{max-height: 70px;max-width: 70px; padding:1px; border-radius: 50%;}
.docDis{float: left; width:180px;margin:4px;line-height: 16px; font-size:11px; font-family:Arial}

.pw-btn{border: none; color: #fff; background: #c36262; padding: 4px 18px; border-radius: 5px; outline: none;}

.rs{height:20px; padding-top:3px; padding-left:25px; font-family:Arial; font-size:13px; background-image: url(../images/rsBg.jpg); background-repeat: no-repeat; float:right; width:70px; text-align:left; }
.rs input{ border:0px; background-color:transparent; font-family:Arial; font-size:13px; width:35px; }
.felids input, textarea, select{ padding:5px 10px; border:1px solid #999;  -webkit-border-radius: .3em;  -moz-border-radius: .3em;  border-radius: .3em;  font-size:12px;	font-family:Arial;}

.pw-color{color: #C36262;}
.contact-top span.pw-color{color: #C36262;}
.login-type-name{text-align: right;}
.login-type-name .name{color: #666;}
a{color: #C36262;}
.s90dbdtbls_drdetailstbl .query-buttons{font-size: 10px; width: auto; padding: 2px 8px; background-color: #ccc;}
.s90dbdtbls_drdetailstbl .query-buttons.btn-new{color: #fff;}
.s90dbdtbls_drdetailstbl .query-buttons.btn-active{color: #5BB75B;}
.s90dbdtbls_drdetailstbl .query-buttons.btn-completed{color: #C36262;}
.s90dbdtbls_drdetailstbl form{margin: 0px 0px 5px; display: inline-block;}

.pw-btn.pw-basic{background-color: #ddd; color: #c36262;}
