#calendar-header { background-color: #F7F7F7; padding-top: 2px; margin: auto; width: 100%; }
#calendar-header .closeme { padding: 0px 3px 2px 0px; background-color: #F7F7F7; }

#calendar-body { padding: 2px 3px 3px 3px; background-color: #F7F7F7; margin: auto; width: 100%; }
#calendar-body .general { background-color: #FFFFFF; }
#calendar-body .othermonth { background-color: #EEEEEE; color: #AAAAAA; }
#calendar-body .header { background-color: #888; color: #FFFFFF; }
#calendar-body .today { background-color: #FFFFCC; }
#calendar-body .bg { background-color:#EEE; }
#calendar-body .select { background-color: #FFCC99; }
#calendar-body .othermonth a:link { text-decoration : none; font-family: Arial; color: #CCFFCC; }
#calendar-body .othermonth a:visited { text-decoration : none; font-family: Arial; color: #CCFFCC;}
#calendar-body .othermonth a:hover { text-decoration : underline; font-family: Arial; color: #FFFFFF; }
#calendar-body td div { padding: 3px; width: 15px; font-size:12px; }
#calendar-body a { display: block; }
#calendar-body a:link { text-decoration : none; font-family: Arial; color: #000000; }
#calendar-body a:visited { text-decoration : none; font-family: Arial; color: #000000; }
#calendar-body a:hover { text-decoration : underline; font-family: Arial; color: #FF0000; background-color: #FFC; }
#calendar-body .disabledate { color: #666; background-color: #eee; }

#calendar-body .refresh { color: #FFF; padding: 10px 3px 3px; }
#calendar-body .refresh .txt-container { padding: 25px 10px 10px; height: 50px; }

#calendar-body .mon {}
#calendar-body .tue {}
#calendar-body .wed {}
#calendar-body .thu {}
#calendar-body .fri {}
#calendar-body .sat { color: #66C; }
#calendar-body .sat a:link { color: #66C; }
#calendar-body .sun { color: #930; }
#calendar-body .sun a:link { color: #930; }

#calendar-footer { background-color: #F7F7F7; border: 0px solid #000000; }
#calendar-footer .btn { line-height: 21px; }
#calendar-footer .btn a:link { text-decoration : none; font-family: Arial; color: #000000; font-size:12px;}
#calendar-footer .btn a:visited { text-decoration : none; font-family: Arial; color: #000000; }
#calendar-footer .btn a:hover { text-decoration : underline; font-family: Arial; color: #FF0000; }

#calendar-header, #calendar-body, #calendar-footer { padding-left: 1px; padding-right: 1px; }
#calendar-container { background-color: #6699CC; }

.tcday, .tcmonth, .tcyear { font-size: 11px; z-index: 10; }

.date-tccontainer { border: 1px solid #cccccc; background-color: #ffffff; padding: 2px; float: none; font-family:Arial; }

#calendar-page { float: left; width:250px; }
.div_calendar { width: 150px; height: 180px; }
.calendar-border { border: 1px solid #000; }