/* CSS Document */
body {
	font-family: Arial, Verdana;
	font-size:12px;
}

td {
	font-family:Arial, Verdana;
	font-size:12px;
}
/*
a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FF6600;
	text-decoration:none;
}


a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FF6600;
	text-decoration:underline;
}
*/
input,textarea,select {
	font-family:Arial, Verdana;
	font-size:11px;
	border:1px solid #cccccc;
	padding:2px;
}
h1 {
	color:#FF6600;
}
.tableBorder {
	border:1px solid #cccccc;
	margin-top:10px;
}