@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/meetourdoctors/doctorsdomain/DoctorsDomain_BackgroundElements-Left.png");  
		background-repeat: no-repeat; 
		background-position: left 10px bottom 10px; 
	}
	
}

@media all and (min-width: 768px) and (max-width: 991px){

	.row-bg-1{ 
		background-image: url("../img/meetourdoctors/doctorsdomain/DoctorsDomain_BackgroundElements-Left.png");  
		background-repeat: no-repeat; 
		background-position: left 10px bottom 10px; 
	}
	
}

@media all and (max-width: 767px){

	.row-bg-1{ 
		background-image: url("../img/meetourdoctors/doctorsdomain/DoctorsDomain_BackgroundElements-Left.png");  
		background-repeat: no-repeat; 
		background-position: left 10px bottom 10px; 
	}

	
}
