@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/home/doctors/Doctors_Background Element_1_Left.png"), url("../img/home/doctors/Doctors_BackgroundElement_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
		background-size: 100px, 125px, auto;
	}

	.row-bg-2{ 
		background-image: url("../img/home/doctors/Doctors_BackgroundElement_2_Left.png"); 
		background-repeat: no-repeat;
		background-position: left 10px top 100px; 
		background-size: 80px,auto;
	}



	.row-bg-3{ 
		background-image: url("../img/home/doctors/Doctors_BackgroundElement_Centre.png"), url("../img/home/doctors/Doctors_BackgroundElement_2_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: right 10px top 0px, right 10px bottom 10px; 
	}
}

@media all and (min-width: 768px) and (max-width: 991px){
		.row-bg-1{ 
		background-image: url("../img/home/doctors/Doctors_Background Element_1_Left.png"), url("../img/home/doctors/Doctors_BackgroundElement_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
		background-size: 125px, auto;
	}

	.row-bg-2{ 
		background-image: url("../img/home/doctors/Doctors_BackgroundElement_2_Left.png"); 
		background-repeat: no-repeat;
		background-position: left 10px top 100px; 
	}



	.row-bg-3{ 
		background-image: url("../img/home/doctors/Doctors_BackgroundElement_Centre.png"), url("../img/home/doctors/Doctors_BackgroundElement_2_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: right 10px top 0px, right 10px bottom 10px; 
	}

}

@media all and (max-width: 767px){
		.row-bg-1{ 
		background-image: url("../img/home/doctors/Doctors_Background Element_1_Left.png"), url("../img/home/doctors/Doctors_BackgroundElement_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
		background-size: 125px, auto;
	}

	.row-bg-2{ 
		background-image: url("../img/home/doctors/Doctors_BackgroundElement_2_Left.png"); 
		background-repeat: no-repeat;
		background-position: left 10px top 100px; 
	}



	.row-bg-3{ 
		background-image: url("../img/home/doctors/Doctors_BackgroundElement_Centre.png"), url("../img/home/doctors/Doctors_BackgroundElement_2_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: right 10px top 0px, right 10px bottom 10px; 
	}
}

