@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,800);
@font-face { font-family: 'Trebuchet MS',sans-serif; src: url('../fonts/Trebuchet MS.ttf') format('truetype');   font-weight: bold;    font-style: normal; }


@font-face { font-family: 'Helvetica',sans-serif; src: url('../fonts/Helvetica/HelveticaLTStd-Light.otf') format('opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Helvetica-roman',sans-serif; src: url('../fonts/Helvetica/HelveticaLTStd-Roman.otf') format('opentype'); font-weight: normal; font-style: normal; }


@import url("style-mobile.css");
@import url("style-tab.css");
@import url("style-pc.css");

@media only screen  and (min-device-width : 320px)  and (max-device-width : 767px) {
	
}

/* Landscape */
@media screen and (orientation:landscape) {
  .banner-bg.{
		background-size: 131% 100%;
		background-position-x: -162px;
	}
}

a:focus{ outline: none;}
a:active{ outline: none;}
button::-moz-focus-inner {
	border: 0;
}

a::-moz-focus-inner {
border: 0;
}

a:hover{text-decoration: none;}
a:focus{text-decoration: none;}

body{margin: 0px; font-weight: lighter; font-size: 14px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; }
strong{font-weight: 600;}


.max-960{ position: relative;}
.no-border{border: 0px !important; }
.content-area{ max-width: 960px; margin: 0 auto; overflow: hidden; font-size: 16px; padding: 0px 0px;}

.upper-case{ text-transform: uppercase;}

.header.content-area{ overflow: visible;}
.main-menu { z-index: 500; width: 100%; background: #c36262;  position: fixed; top: 0px; left: 0px; text-align: center; font-family: 'Trebuchet MS',sans-serif; -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);}
.main-menu .menu-wrapper{ display: inline-block; width: 100%;}
.main-menu .center-menu{ text-transform: uppercase; display: inline-block; width: 175px; }
.main-menu .center-menu span{ width: 175px; display: inline-block; }


.main-menu .side-menu{display: inline-block; padding-top: 14px; }
.main-menu .side-menu span{display: inline-block;}

.main-menu a{ color: #fff; text-decoration: none; font-size: 20px; height: 100%;}
.main-menu nav a{ color: #fff; text-decoration: none; font-size: 20px; height: 100%; padding-top: 10px;}
.main-menu nav a:hover{ color: #fff; }

.our-bouquet-container{background-image: url("../img/home/patients/Patients_Background_Our Services.png"); background-size: 100% 100%;}
.our-bouquet-container .widgets-image-container{ text-align: center;}
.our-bouquet-container .widgets-image-container img{ max-height: 84px;}

.page-header{ overflow: hidden; border-bottom: 0px; font-family: 'Trebuchet MS',sans-serif; margin-top: 35px; margin-bottom: 5px;}
.page-header .menu-container { width: 100%;}


.page-header .page-menu{ font-size: 10px; font-weight: lighter;}
.page-header .page-menu a{ display: inline-block; text-decoration: none; color: #666; margin-left: 20px; font-size: 16px;}
.page-header .page-menu a.login-button { background: #c36262;color: #fff;border-radius: 2px;padding: 4px 12px;font-weight: 300; text-transform: uppercase;}

.body-contents{ margin-top: 30px;}
.body-contents .logo{ padding: 0px;}
.body-contents .menu-container{ padding: 0px;}

.page-banner{ width: 100%; height: auto;}
.page-tagline{ text-align: center; color: #6d6e71; font-family: 'Trebuchet MS',sans-serif;}
.page-tagline .description { font-weight: lighter; color: #666;}


.page-tagline.pink-page img { margin-right: 10px; margin-top: 10px; height: 50px; width: auto; margin-bottom: 10px;}
.page-tagline.pink-page .text { color: #666; font-weight: lighter; font-family: 'Helvetica'; font-size: 16px;}
.page-tagline.pink-page .text strong{ font-weight: normal; font-size: 15px;}

.grey-row{ width: 100%; background: #f2f2f2; padding: 22px; color: #666; text-align: center; font-family: "HelveticaLTStd", sans-serif; }

.work-bg.video-bg iframe{height: 480px;}
.gradient-background{ background-color: #f2f2f2}
/*.gradient3-background{ background-image: url("../img/privacypolicy/Terms of Service_Background2.png"); background-size: 100% 100%;}*/
.gradient4-background{ background-image: url("../img/Testimonials_Patients_Background.png"); background-size: 100% 100%;}
.gradient5-background{ background-image: url("../img/aboutus/AboutUs_OurTeam_bg.png"); background-size: 100% 100%; background-color: #f8f8f9;}

.page-row{ color: #6d6e71; font-family: 'Helvetica',sans-serif; /*margin-top: 30px;*/}
.page-row .row-title{ font-family: "Trebuchet MS",sans-serif; float: left;}
.page-row .row-title-image{ display: block; float: left; height: auto; width: 50px; margin-top: 7px;}
.page-row .row-header{ overflow: hidden; }
.page-row .row-description{ clear: both; color: #808080; text-align: justify; overflow: hidden; }

.page-row .row-description .aboutus-pinkvalues{ text-align: center;}
.page-row .row-description .aboutus-pinkvalues .description{ text-align: justify;}


.page-row .member-image{text-align: center; margin: 10px auto;}
.page-row .member-name{ color: #c36262; text-align: center;}
.page-row .member-designation{ color: #c36262; text-align: center;}
.page-row .member-description{ text-align: justify; color: #666;}

.page-row .name { color: #c36262; text-transform: capitalize; }
.page-row .slider-row .row-header{ margin-top: 0px;}
.page-row .slider-row .message { font-style: italic; font-family: "Open sans",sans-serif; font-weight: lighter;  background-image: url("../img/patients/happypatients/Testimonials_Patients_Icon1_Quotes.png"); background-size: 50px; background-position: 0px 35px; background-repeat: no-repeat;}
.page-row .slider-row .pagination { text-align: right; width: 100%;}
.page-row .slider-row .pagination .circle { border-radius: 50%; border: 1px solid #c36262; display: inline-block;}
.page-row .slider-row .pagination .circle-bg { background: #c36262;}


.page-row .testimonial-row { overflow: hidden;}
.page-row .testimonial-row .testimonial-message{ overflow: hidden;}
.page-row .testimonial-row .testimonial-message .name{ font-style: italic;}

.page-row .row-header ol { text-align: justify; color: #666;}

.about-us .row-header{padding-top: 10px;}

.row-description .faq-row{ color: #666;}
.row-description .faq-row .question{color: #c36262;}

.gradient3-background.terms .content-area{ color: #6d6e71; text-align: justify; }
.gradient3-background.terms a{ color: #c36262; text-decoration: none;}

.terms .row-title{ color: #c36262;}

.contact-info { color: #80809a; overflow: hidden; }
.contact-info .title{ color: #c36262;}

.triangle{ text-transform: uppercase; color: #666; font-family: 'Trebuchet MS',sans-serif; text-align: right; font-size: 20px;}
.triangle a{ color: #666; text-decoration: none;}
.triangle a:hover { color: #c36262; text-decoration: none;}
.top-triangle{ margin-right: 10px; width: 0; height: 0; border-style: solid; border-width: 0 10px 15px 10px; border-color: transparent transparent #666 transparent; display: inline-block;}


.submit{ border: none; color: #fff; background: #c36262; padding: 11px 25px; text-transform: uppercase; height: 30px; font-size: 16px; border-radius: 5px; line-height: 7px; text-transform: capitalize;;}
.form-block{ overflow: hidden; font-family: 'Trebuchet MS',sans-serif; color: #6d6e71; /*margin-top: 50px;*/}
.form-block .form-elements { overflow: hidden;}
.form-block .form-title{ text-align: center;}
.form-block .input-fields{ border-radius: 5px; border: 1px solid #ccc;}
.form-block textarea.input-fields{ height: 100px; resize: none;}
.form-block .message{ color: #808080; font-weight: lighter; font-family: "Helvetica", sans-serif;}
.form-submitted{ color: #c36262;}


.footer-container{ background: #803A3B; padding: 5px 0px 0px 0px; overflow: hidden;}
.footer-container .footer{ background: #999; overflow: hidden; padding-top: 25px; padding-bottom: 20px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;}
.footer-container .footer .left{ padding: 0px;}
.footer-container .footer .left span a{ font-size: 11px;}
.footer-container .footer .right{ padding: 0px; text-align: right;}
.footer-container .footer .links-header a{ font-family:'Trebuchet MS',sans-serif;  border-bottom:1px solid transparent; text-transform: uppercase; color: #4d4d4d; font-size: 15px; font-weight: bold; letter-spacing:1px; margin-bottom: 5px}
.footer-container .footer .links-header a:hover { border-bottom: 2px solid;}
.footer-container .footer a{ font-weight: normal; color: #efefef; font-size: 12px; text-decoration: none; letter-spacing: 1px; font-family:'Helvetica-roman',"Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;}
.footer-container .footer a:hover{ color: #4d4d4d; }
.footer-container .footer .left div{ padding: 0px;}
.footer-container .footer .left div a {display: block; }
.footer-container .footer .subscribe{ color: #FFF;background: none repeat scroll 0% 0% #803A3B;padding: 0px 10px;text-transform: capitalize;display: inline-block;max-width: 142px;text-align: center;margin: 28px auto 0px;height: 33px;font-size: 14px;border-radius: 5px;line-height: 32px;font-family: "Trebuchet MS",sans-serif;}
.footer-container .footer .subscribe:hover{ color: #fff;}
.footer-container .footer .footer-bottom{ padding: 0px; overflow: hidden; position: relative;}
.footer-container .footer .footer-bottom span a{font-size: 11px;}
.footer-container .footer .footer-bottom .designby a { font-size: 11px;}
.footer-container .footer .footer-bottom .designby span{font-weight: normal;color: #efefef;font-size: 11px;text-decoration: none;letter-spacing: 1px;font-family: 'Helvetica-roman',"Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;}
.footer-container .footer .footer-bottom .copyright a { font-size: 10px;}
.footer-container .footer .footer-bottom .copyright .noa{font-weight: normal;color: #efefef;font-size: 9px;text-decoration: none;letter-spacing: 1px;font-family: 'Helvetica-roman',"Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;}

.footer .sns-icon{ cursor: pointer;
background-repeat: no-repeat;background-size: auto 80%;background-position: center;width: 23px;height: 23px;font-size: 18px;}
.footer .facebook{background-image: url("../img/footer/Footer_Patient_Facebook_Unselected.png");}
.footer .facebook:hover{background-image: url("../img/footer/Footer_Patient_Facebook_Hover.png");}

.footer .twitter{background-image: url("../img/footer/Footer_Patient_Twitter_Unselected.png");}
.footer .twitter:hover{background-image: url("../img/footer/Footer_Patient_Twitter-Hover.png");}

.footer .youtube{background-image: url("../img/footer/Footer_YouTube_Unselected.png");}
.footer .youtube:hover{background-image: url("../img/footer/Footer_YouTube_Hover.png");}


/*.home-footer-container .block{padding: 10px 15px; border-right: 1px solid #ddd; color: #666;}
.home-footer-container .block.no-border{border: 0px;}
.home-footer-container .block .image-container img{max-width: 100%; max-height: 100px;}
.home-footer-container .block .image-container .second{margin-left: 28px; margin-right: 20px;}
.home-footer-container .block .image-container{ float: left;}
.home-footer-container .block .content{margin-top: 20px; float: left; padding-left: 5px; padding-top: 4px;}*/



.banner-bg{ width: 100%; background-size: 100% 100%; background-repeat: no-repeat; font-weight: lighter; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15) inset;}
.banner-bg .tag-line { font-family: "Open sans",sans-serif; color: #c36262; font-style: italic; display: inline-block;}
.banner-bg .text {  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; font-weight: lighter; color: #666; display: inline-block; line-height: 22px;}
.banner-bg .button-learn { border: none;background: #c36262;padding: 5px 0px;color: #fff;font-weight: normal;display: inline-block;border-radius: 3px;text-align: center;width: 110px; font-family:'Trebuchet MS',sans-serif;}

.banner-bg-patients{ background-image: url("../img/home/patients/Patients_Banner.png");}
.banner-bg-doctors{ background-image: url("../img/home/doctors/Doctors_Banner1.png");}
.banner-bg-corporates{ background-image: url("../img/home/corporates/Banner.png");}
.banner-bg-terms{ background-image: url("../img/privacypolicy/Terms of Service_Banner.png");}
.banner-bg-happy-doctors{ background-image: url("../img/satisfieddoctors/Testimonials_Doctors_banner.png");}
.banner-bg-privacy{ background-image: url("../img/privacypolicy/PrivacyPolicy_Banner.png");}

.banner-bg-pinkquery{ background-image: url("../img/ourservices/pinkquery/pinkQuery_Banner.png"); }

.banner-bg-pinkquery .red-text{color: #C36262;font-size: 24px;margin-top: 75px;font-family: "Open Sans",sans-serif;font-style: italic;}
.banner-bg-pinkappoint{ background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Banner.png"); }
.banner-bg-pinkopinion{ background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Banner.png"); }
.banner-bg-pinkopinion .red-text{color: #C36262;font-size: 24px;margin-top: 75px;font-family: "Open Sans",sans-serif;font-style: italic;}
.banner-bg-pinkfollowup{ background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Banner.png"); }
.banner-bg-pinkfollowup .red-text{color: #C36262;font-size: 24px;margin-top: 75px;font-family: "Open Sans",sans-serif;font-style: italic;}

.banner-bg-find-a-doctor{ background-image: url("../img/meetourdoctors/meetourdoctors/MeetOurDoctors_Banner.png");}
.banner-bg-meet-our-doctors{ background-image: url("../img/meetourdoctors/meetourdoctors/MeetOurDoctors_Banner.png"); }
.banner-bg-doctors-domain{ background-image: url("../img/meetourdoctors/doctorsdomain/DoctorsDomain_Banner.jpg");}
.banner-bg-doctors-domain .red-text{    color: #C36262; font-size: 24px;margin-top: 50px;font-family: "Open Sans",sans-serif;font-style: italic;}

.banner-bg-subscribe{ background-image: url("../img/Subscribe1_Banner.png");}
.banner-bg-talk-to-us{ background-image: url("../img/talktous/TalkToUs_Banner.png");}
.banner-bg-about-us{ background-image: url("../img/aboutus/AboutUs_Banner.png");}
.banner-bg-happy-patients{ background-image: url("../img/patients/happypatients/Testimonials_Patients_Banner.png");}
.banner-bg-register{ background-image: url("../img/register/SignUp_banner.png");}
.banner-bg-faqs{ background-image: url("../img/faqs/FAQ's.jpg");}
.banner-bg-joinus{ background-image: url("../img/joinus/JoinUs_Doctors_Banner.png");}
.banner-bg-joinus-corp{ background-image: url("../img/joinus/JoinUs_Corporates_Banner.png");}

.widgets-row { font-family: 'Trebuchet MS',sans-serif; color: #6d6e71; text-align: center; }
.widgets-row .header { color: #6d6e71; margin-top: 100px;}
.widgets-row .widget-images {position: relative;}
.widgets-row .widget-images .lines { position: absolute;}
.widgets-row .widget-name { color: #c36262;}
.widgets-row .widget-text { font-family: 'Helvetica',sans-serif; color: #6d6e71;}

.widgets-row .widget-images-small { text-align: center;}
.widgets-row .widget-images-small a { text-decoration: none; display: block; overflow: hidden;}
.widgets-row .widget-images-small .widget-name { color: #803a3a;}
.widgets-row .widget-images-small .widget-text { color: #6d6e71;}
.widgets-row .widget-images-small .line{ width: 75px; height: 0px; margin-top: -10px;}
.widgets-row .widget-images-small:hover .line{ height: auto;}
.widgets-row .hr-container hr{width: 75px; border-bottom: 2px solid transparent; margin: 0px auto; margin-bottom: 3px;}
.widgets-row .widget-images-small:hover .hr-container hr{border-color: #C36262}

.doctors-button{ text-align: center; background : #f2f2f2; color: #803A3B; text-decoration: none; text-transform: none;}
.doctors-button:hover{color: #fff; text-decoration: none; background: #c36262;}
.doctors-button.active{ color: #fff; background: #c36262; text-decoration: none; }

.how_it_works{margin-bottom: 15px; text-align: center;}
.how_it_works img{max-width: 100%;}



.pink-button-row{overflow: hidden; font-family: 'Trebuchet MS',sans-serif; font-size: 16px; text-align: center; background: none repeat scroll 0% 0% #F2F2F2;}
.pink-button-row .pink-button-side{ background: #f2f2f2; height: 60px; display: block; width: 10%;}
.pink-button-row .pink-buttons-container { width: 100%; overflow: hidden; margin: 0 auto; overflow: hidden;}
.pink-button-row .pink-buttons{ background: #f2f2f2; height: 55px; color: #6d6e71; display: inline-block; text-decoration: none; padding-top: 15px;}
.pink-button-row .pink-buttons:hover{ color: #c36262; text-decoration: none;}
.pink-button-row .pink-buttons.active{ color: rgb(195, 98, 98); border-bottom: 3px solid;}




.work-bg{ width: 100%; background-size: 100%; background-repeat: no-repeat; font-weight: lighter; position: relative;}
.work-pink-query{ background-image: url("../img/ourservices/pinkquery/pinkQuery_How it Works.png");}
.work-pink-appoint{ background-image: url("../img/ourservices/pinkappoint/pinkAppoint_How it Works.png");}
.work-pink-opinion{ background-image: url("../img/ourservices/pinkopinion/pinkOpinion_How it Works.png");}

.work-pink-followup-online{background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_OnLine Follow Up.png");}
.work-pink-followup-tele{background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Tele Follow Up.png");}
.work-pink-followup-video{background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Video-Follow-Up.png");}

.row-before-video{ color: #6d6e71; text-align: center; font-family: 'Trebuchet MS',sans-serif; }
.video-image { background-image: url("../img/ourservices/pinkquery/pinkQuery_Background1.png"); }

.play-button{ margin-right: 20px; display: block; height: 30px;}
.play-video-text{ font-family:'Open Sans',sans-serif; color: #666; font-weight: lighter;}

.banner-form{ font-family:'Helvetica',sans-serif; font-weight: lighter;}
.banner-form .form-label{ display: inline-block; color: #666;}
.banner-form .form-input{ display: inline-block;}
.banner-form .search-button{ font-family: 'Trebuchet MS',sans-serif; border: none; background: #c36262; color: #fff; width: 120px; height: 35px; border-radius: 4px; font-size: 16px; display: inline-block; text-decoration: none; text-align: center; line-height: 35px;}


.pw-modal{color: #666; font-family: 'Trebuchet MS',sans-serif;}
.pw-modal .form-container{margin: 25px 15px;}
.pw-modal{/*background-color: rgba(255,255,255,0.7);*/}
.pw-modal .modal-content{box-shadow: 0px 0px 21px 0px #333;}
.pw-modal .modal-dialog{/*max-width: 470px;*/margin: 0px auto; margin-top: 2%;/*width: 827px;*/}
.pw-modal .modal-title{font-size: 20px; text-align: center; text-transform: uppercase; margin-top: 15px;}
.pw-modal .close{top: 10px; position: absolute; right: 14px; font-size: 20px; color: #666; opacity: 1; }
.pw-modal .form-horizontal .control-label{font-weight: normal;font-size: 14px;}
.pw-modal .form-control{border-radius: 0px;}
.pw-modal .form-control:focus{border-color: #999; box-shadow: none;}
.pw-modal .forgot{font-size: 10px;}
.pw-modal .modal-content{border-radius: 0px;}
.pw-modal .submit-button{background: #c36262; color: #fff; border-radius: 3px; border: 0px; outline: 0px; padding: 5px 20px;}
.pw-modal .submit-button:hover{background: #ae6565;}
.pw-modal .submit-button:active{box-shadow: 0 0 5px #555;}


.link-box{ font-family: 'Trebuchet MS',sans-serif; text-align: center;}
.link-box a {  color: #666; text-decoration: none; display: block; }
.link-box a:hover { color: #c36262; text-decoration: none; /*border-bottom: 1px solid;*/}
.link-box a.active{ /*border-bottom: 1px solid;*/ color: #c36262;text-decoration: underline;}
.link-box a.second-lnk{text-align: left;}

.banner-form{font-weight: normal;}
.banner-form .form-group label{color: #666; font-weight: normal; text-align: left;}
.banner-form .form-group .pw-btn{color: #fff;}
.banner-form .tag-line{color: #c36262;}
.banner-form .form-group{margin-bottom: 10px;}
  

.blue{ background: #418FB8;border: 0px none;border-radius: 4px;color: #FFF;text-decoration: none;font-family: "Trebuchet MS",sans-serif;width: 200px;height: 30px;font-size: 15px;margin-left: 1%;line-height: 35px;}
.red{ background: #c36262;}
.red-text { color: #c36262; font-size: 16px;}

.doctor-button { display: inline-block; text-align: center;border: 0px; border-radius: 4px; color: #fff; text-decoration: none; font-family: 'Trebuchet MS',sans-serif; width: 200px; height: 35px;font-size: 15px;margin-left: 1%;line-height: 35px;}
.doctor-button:hover { text-decoration: none; color: #fff;}
.doctor-button:visited { text-decoration: none; color: #fff;}

.find-a-doctor-row{font-family: 'Trebuchet MS',sans-serif; color:  #6d6e71;}
.find-a-doctor-row .header{}

.find-a-doctor-form-container {}
.find-a-doctor-form-container .form-inline .form-group .form-control{width: 325px;}
.find-a-doctor-form-container .form-inline .form-group .pw-btn{padding: 7px 35px; color: #fff;}
.find-a-doctor-form-container .form-inline .form-group .input-group{margin: 0px auto;}
.find-a-doctor-form-container .form-inline .form-group{margin-right: 10px;}
.find-a-doctor-form-container .form-inline{margin-left: 75px;}

.find-a-doctor-row .search-form select { border: 1px solid #e1e1e1; height: 35px; font-weight: lighter; width: 100%; padding:0px 5px; border-radius: 0px; background: #fff; color:#888; outline:none; display: inline-block; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; }
.find-a-doctor-row .search-form label.select-label {position:relative; display: block; }
.find-a-doctor-row .search-form label.select-label:after { width: 20px; height: 20px; content:''; right: 4px; top: 14px; padding:0 0 2px; position:absolute; pointer-events:none; background: url("../img/meetourdoctors/meetourdoctors/MeetOurDoctors_TextField_Arrow.png"); background-repeat: no-repeat; }
.find-a-doctor-row .search-form label.select-label:before { content:''; right:35px; top: 5px; width:1px; height:26px; background:#c19dac; position:absolute; pointer-events:none; display:block; }


.form-control:focus{border-color: #999; box-shadow: none;}


.find-a-doctor {font-family: 'Trebuchet MS',sans-serif; color:  #6d6e71;}
.find-a-doctor .image-block img { display: block;}
.find-a-doctor .details .name{ font-weight: lighter; color:  #6d6e71;}
.find-a-doctor .details .designation{ font-weight: lighter;}
.find-a-doctor .details .message{ font-size: 14px; font-family:'Helvetica',sans-serif; text-align: justify; }
.find-a-doctor .details .timings{ padding: 0px; font-size: 12px; font-family:'Helvetica',sans-serif; }

.find-a-doctor .calendar{ font-family:'Helvetica',sans-serif; position: relative;}
.find-a-doctor .calendar .idno{ margin-top: 7px;}


.find-a-doctor .calendar .chart{ font-family:'Trebuchet MS',sans-serif; overflow-x: hidden; width: 100%; position: relative; text-align: center;}
.find-a-doctor .calendar .chart table th { text-align: center;}
.find-a-doctor .calendar .chart table td { text-align: center;}

.meet-our-doctors .details .name{ font-weight: 400; color:  #6d6e71;}
.meet-our-doctors .details .designation{ font-weight: 400;}
.meet-our-doctors .details .message{ font-size: 14px; font-family:'Open Sans',sans-serif; text-align: justify; }
.meet-our-doctors .details .timings{ padding: 0px; font-size: 14px; font-family:'Open Sans',sans-serif; }


.doctors-domain .details .name{ font-weight: 400; color:  #6d6e71;}
.doctors-domain .details .designation{ font-weight: 400;}
.doctors-domain .details .message{ font-size: 14px; font-family:'Open Sans',sans-serif; text-align: justify; }
.doctors-domain .details .timings{ padding: 0px; font-size: 14px; font-family:'Open Sans',sans-serif; }

.doctors-domain .info-block{ overflow: hidden; margin-bottom: 15px;}
.doctors-domain .info{ overflow: hidden;}
.doctors-domain .calendar-container{ width: 100%; max-width: 640px; overflow: auto; margin: 0px auto; font-size: 10px;}
.doctors-domain .calendar-container table{ width: 637px; text-align: center;}
.doctors-domain .calendar-container table tr{ width: 637px; border-bottom: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
.doctors-domain .calendar-container table tr:first-child{ border-right: 0px;}
.doctors-domain .calendar-container table th{ width: 90px; padding: 10px 0px 20px 0px; text-align: center; color: #a6a6a6; font-weight: 100;}
.doctors-domain .calendar-container table td{ width: 90px; padding: 5px 0px; text-align: center; border-left: 1px solid #e1e1e1; color: #d8b6b6;}


.doctors-clinic-home-page{display: none;}



.modal-container{position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(255,255,255,0.7); z-index: 10; display: none;}
.modal-container .modal-box{ font-family:'Trebuchet MS',sans-serif; text-align: center; background: #fff; top: 50%; left: 50%; color: #666; box-shadow: 0px 0px 5px 2px #828282; position: absolute; }
.modal-container .login-form-box{ font-family:'Helvetica',sans-serif; font-weight: lighter; }
.modal-container .submit-button{ background: #c36262; color: #fff; border-radius: 3px; border: 0px; font-family:'Trebuchet MS',sans-serif;}

.about-us .image-title{font-size: 22px; color: #803a3a; font-family: "Trebuchet MS",sans-serif;}

.followup-row{ position: relative;}
/*.work-pink-followup-video, .work-pink-followup-tele{ display: none;}*/

.footer-cover .footer-container { margin-top: 0px; }



.upload-file-path{ height: 35px; width: 120px; line-height: 30px; background: #fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float: left; margin-left: 15px; }

.fileUpload { position: relative; overflow: hidden; float: left; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }

.how-it-works{ text-align: center; width: 275px; margin: 50px auto 0px auto;font-family:'Trebuchet MS',sans-serif; color: #6d6e71; position: relative; z-index: 100; }
.how-it-works .title { font-size: 22px; display: block; float: left; margin-top: 25px; margin-left: -5px;}
.how-it-works img {float: left; display: block;}

.bubbles-container{ position: absolute; width: 100px; bottom: 90px; left: 50%; margin-left: -50px; z-index: 100; text-align: center;}
.bubbles-container .bubbles{ width: 10px; height: 10px; display: inline-block; margin-left: 5px; /*margin-right: 7px;*/ border-radius: 50%; /*border: 1px solid #c36262;*/ background:#869791; opacity: 0.5;}
.bubbles-container .active-bubble{ background: #869791; opacity: 1; }


.doctor-button:visited{text-decoration: none;}
.doctor-button:focus{text-decoration: none;}


.banner-content-image{ margin-top: 135px; margin-bottom: 8px; width: 300px;}
.banner-content-text{ font-size: 19px; color: #666;line-height: 22px;}


.arrow-1{ position: absolute; top: 10px; cursor: pointer;}
.arrow-right-1{ width: 0; height: 0; z-index:2;border-style: solid; border-width: 6px 0 6px 8px; border-color: transparent transparent transparent #c36262; right: 0px;}
.arrow-left-1{ width: 0; height: 0; z-index:2;border-style: solid; border-width: 6px 8px 6px 0; border-color: transparent #c36262 transparent transparent; left: 0px; }



.form-block .calendar-container{ width: 100%; /*max-width: 477px;*/ overflow-x:hidden; margin: 0px auto; /*margin-left: 45px;*/ font-size: 12px; position: relative;}
.form-block .calendar-container table{ /*width: 456px;*/ text-align: center;}
.form-block .calendar-container table tr{ width: 458px; border-bottom: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1;}
.form-block .calendar-container table tr:first-child{ border-right: 0px;}
.form-block .calendar-container table th{padding: 10px 0px 8px 0px; text-align: center; color: #a6a6a6; font-weight: 100;}
.form-block .calendar-container table th .small-header{ display: block; font-size: 10px; margin-top: 0px;}
.form-block .calendar-container table td{padding: 5px 0px; text-align: center; border-left: 1px solid #e1e1e1; color: #d8b6b6;}

.form-block select { border: 1px solid #e1e1e1; height: 35px; font-weight: lighter; width: 100%; padding:0px 5px; border-radius: 0px; background: #fff; color:#888; outline:none; display: inline-block; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; }
.form-block label.select-label {position:relative; display: block; }
.form-block label.select-label:after { width: 20px; height: 20px; content:''; right: 12px; top: 12px; padding:0 0 2px; position:absolute; pointer-events:none; background: url("../img/meetourdoctors/meetourdoctors/MeetOurDoctors_TextField_Arrow.png"); background-repeat: no-repeat; background-size: 12px; }


@media screen and (max-width: 1000px) and (min-width: 200px){
  .header .contents{ width: 100%; font-size: 20px; padding: 15px 0px; border-bottom: 1px solid #d1d1d1;}
  .nav-collapse { width: 100%; text-align: center;}
  .nav-collapse ul li:first-child{ border-top: 1px solid #d1d1d1; margin-top: 15px;}
  .nav-collapse ul li:last-child{ padding-bottom: 15px; border-bottom: none;}
  .nav-toggle{ float: right; margin: 5px 15px; display: block;}
}


@media screen and (min-width: 1001px){
  .header .contents{font-size: 16px; padding: 3px 0px 2px 0px; color: #fff;}
  .nav-collapse{ width: auto; text-align: center;}
}

.banner-bg.banner-bg-corporates .content-area{padding-top:15px;}

.banner-bg-patients.book-online{background-image:url("../img/ourservices/pinkappoint/pinkAppoint_Banner.png");}

/*#happy-patient-slider .item img{display:block;width:100%;height: 400px;}*/



.btn-shadow-bg:hover{background: #ae6565;}
.btn-shadow-bg:active{box-shadow: 0 0 5px #555;}

.submit:hover{background: #ae6565;}
.submit:active{box-shadow: 0 0 5px #555;}

.page-header .page-menu a.login-button:hover{background: #ae6565;}
.page-header .page-menu a.login-button:active{box-shadow: 0 0 5px #555;}

.red:hover{background: #ae6565;}
.red:active{box-shadow: 0 0 5px #555;}

.footer-container .footer .subscribe:hover{background: #ae6565;}
.footer-container .footer .subscribe:active{box-shadow: 0 0 5px #555;}

.blue:hover{background: #3A81A6;}
.blue:active{box-shadow: 0 0 5px #555;}

.modal-container .submit-button:hover{background: #ae6565;}
.modal-container .submit-button:active{box-shadow: 0 0 5px #555;}

.banner-bg .button-learn:hover{background: #ae6565;}
.banner-bg .button-learn:active{box-shadow: 0 0 5px #555;}

.content-shadow{padding-left: 2px;padding-bottom: 2px;}




.pw-form-container{margin: 0px 15px;}
.pw-form-container .form-group{margin-bottom: 10px;}
.form-block .form-contents .form-header{text-align: left;}
.form-contents .pw-form-container .form-header{padding-left: 0px;}

.pw-form label.control-label{text-align: left; font-weight: normal;}
.pw-form .pw-age{padding-right: 0px;}
.pw-btn{border: none; color: #fff; background: #c36262; padding: 4px 18px; border-radius: 5px;outline: none;}
.pw-btn:hover{background: #ae6565;}
.pw-btn:active{box-shadow: 0 0 5px #555;}
.pw-form .upload-file-path{height: auto;}
.pw-form .form-control:focus{border-color: #999; box-shadow: none;}



.pw-footer-container{background-color: #999; border-top: 5px solid #803A3B; padding: 25px 10px; margin-top: 10px;}
.pw-footer-container a{color: #efefef;}
.pw-footer-container a:hover{color: #4d4d4d;}
.pw-footer-container .row-one{}
.pw-footer-container .row-one .left-nav .title{}
.pw-footer-container .row-one .left-nav .title a{color: #4d4d4d; text-transform: uppercase; font-weight: bold; border-bottom: 2px solid transparent; padding-bottom: 2px;}
.pw-footer-container .row-one .left-nav .title a:hover{border-color: #4d4d4d;}
.pw-footer-container .row-one .left-nav ul{list-style: none; padding-left: 0px; margin-top: 5px;}
.pw-footer-container .pw-btn {background-color: #803A3B; color: #fff; padding: 8px 16px; font-family: "Trebuchet MS";}
.pw-footer-container .pw-btn:hover{background-color: #662f2f; color: #fff;}
.pw-footer-container .pw-btn:active{box-shadow: 0 0 5px #555;}
.pw-footer-container .row-one .left-nav{padding-left: 0px;}
.pw-footer-container .row-one .left-nav ul li{}
.pw-footer-container .row-one .left-nav ul li a{ font-size: 13px;}
.pw-footer-container .row-one .left-nav ul li a:hover{text-decoration: none;}
.pw-footer-container .row-one .right-content{text-align: right; margin-top: 40px;}

.pw-footer-container .row-two{padding: 0px 15px;}
.pw-footer-container .row-two .social-share{text-align: right; color: #efefef;}
.pw-footer-container .row-two .social-share .share{display: inline-block; margin-right: 15px;}
.pw-footer-container .row-two .social-share .share:last-child{margin-right: 0px;}
.pw-footer-container .row-two .social-share .facebook{font-size: 18px;}
.pw-footer-container .row-two .social-share .youtube{font-size: 20px;} 
.pw-footer-container .row-two .social-share .share i{cursor: pointer;}

.pw-footer-container .row-three{color: #efefef; padding: 0px 15px;}
.pw-footer-container .row-three .designed-by{ text-align: right; font-size: 11px; display: inline-block; float: right;}	
.pw-footer-container .row-three .left-block .nav{font-size: 11px; display: inline-block; margin-right: 3%;}
.pw-footer-container .row-three .left-block .nav .copyright{font-size: 9px;}

.booking-table-container{height: 288px;position: relative;}
.booking-table{position: absolute;overflow: hidden; table-layout:fixed; width: 2400px;transition:all 0.5s;}
.booking-table-container{margin: 0 10px;width: 630px;}
.booking-table td{overflow: hidden; width: 80px;}
.booking-table th{overflow: hidden; width: 80px;}


.find-a-doctor .calendar .chart table{table-layout: fixed;width: 2460px;}
.find-a-doctor .calendar .chart table td{width: 82px;}
.find-a-doctor .calendar .chart table th{width: 82px;}

.booking-table tbody tr td span{cursor: pointer;}
.booking-table tbody tr td span:hover{text-decoration: underline;}

.grey-text{color: #666;}
.consult-btn-container{margin-top: 15px;}

#login-modal .user-title{font-size: 16px;margin-bottom: 15px;margin-left: 11px;color: #2a6496;}
#login-modal .newuser-title{font-size: 16px;margin-bottom: 15px;color: #2a6496;}
#login-modal .right-form{border-left: 1px solid #EFF2F5;}

#consult-modal .user-title{font-size: 16px;margin-bottom: 15px;margin-left: 11px;color: #2a6496;}
#consult-modal .newuser-title{font-size: 16px;margin-bottom: 15px;color: #2a6496;}
#consult-modal .right-form{border-left: 1px solid #EFF2F5;}

.form-block .calendar-container table .active-time{border: 1px solid #c36262;}

.pw-consult-btn{border: none;color: #fff;background: #c36262;padding: 4px 18px;border-radius: 3px;outline: none;}
