@media all and (min-width: 768px) and (max-width: 991px){

	body{ overflow-x: hidden; }
	.logo{ width: 200px; margin-left: 25px; margin-top: 10px; }

	.header.content-area{ overflow: hidden !important; font-size: 0px;}

	.page-header .menu-container { margin-top: 25px;}
	.page-header .menu-container a{ color: #666; text-decoration: none; font-weight: bold; height: 100%; margin-right: 11px; margin-top: -70px;}
	.page-header .menu-container a .menu-icon{font-size: 30px;}
	.page-header .menu-container nav a{ color: #666; text-decoration: none; font-size: 18px; height: 100%; margin: 16px auto; font-weight: 400;}
	.page-header .menu-container nav li { border-bottom: 1px solid #b1b1b1;}
	.page-header .menu-container nav li:hover { background: #f9efef;}
	.page-header .menu-container nav li:last-child{border-bottom: none; padding-bottom: 0px;}
	.main-menu a{padding-right: 7px;}

	.nav-collapse ul li:first-child{margin-top: 3px;}
	.red-text { color: #c36262; font-size: 14px;}

	.our-bouquet-container {padding: 0px;}

	.content-area{font-size: 14px;}

	.page-tagline{ margin: 20px 5px; font-size: 22px; }
	.page-tagline .tag{ font-size: 22px; }
	.page-tagline .description { font-size: 20px; }
	.page-tagline img{ width: 350px; margin-top: 20px;}

	.page-tagline.pink-page {font-size: 22px;}
	.page-tagline.pink-page img { height: 40px; }
	.page-tagline.pink-page .text { font-size: 16px; margin-top: 10px;}
	.page-tagline.pink-page .text strong{font-size: 16px;}

	.how-it-works{margin-top: 10px;}
	.how-it-works img{height: 45px;}

	.grey-row{ font-size: 20px; line-height: 20px; padding: 14px;}
	.how-it-works .title{font-size: 22px; margin-top: 15px;}

	.page-row{ margin-top: 20px; margin-bottom: 20px;}
	.page-row .row-title{ font-size: 22px; padding-top: 20px;}
	.page-row .row-title-image{  margin-right: 10px; margin-left: 0px; }
	.page-row .row-description{ font-size: 14px; padding-left: 86px; padding-right: 86px; margin-top: 10px; }

	.page-row .row-description .aboutus-pinkvalues{ padding: 15px 60px; }
	.page-row .row-description .aboutus-pinkvalues .description{ padding-top: 10px; font-size: 14px;}

	.page-row .member-image{height: 190px; margin-bottom: 14px;}
	.page-row .member-name{font-size:22px; }
	.page-row .member-designation{ font-size: 16px; margin-bottom: 10px;}
	.page-row .member-description{ margin-bottom: 22px; padding: 0px 20px; font-size: 14px;}
   
	.page-row .slider-row .image {text-align: center;}
	.page-row .slider-row .image img { width: 250px; margin-bottom: 35px;}
	.page-row .slider-row .message { font-size: 24px; padding: 50px 50px 0px 60px;}
	.page-row .slider-row .name { margin-top: 30px;}
	.page-row .slider-row .pagination .circle{ width: 20px; height: 20px; margin-left: 3px;}
	

	.page-row .testimonial-row { text-align: left; margin-top: 25px;}
	.page-row .testimonial-row  .testimonial-image{ width: 150px; margin: 0 auto; text-align: center;}
	.page-row .testimonial-row .testimonial-message{ padding: 15px 60px 0px 25px; font-size: 14px;}
	.page-row .testimonial-row .testimonial-message .name{ font-size: 15px; margin-top: 10px;}

	.page-row .row-header{margin-left: 40px;}
	.page-row .row-header ol { padding: 25px 100px; font-size: 14px;}
	.page-row.about-us .row-header{margin: 0px 30px;}
	.page-row .row-header ol li { margin-bottom: 35px;}

	.row-description .faq-row{ }
	.row-description .faq-row .question{ font-size: 20px; margin-bottom: 10px; }
	.row-description .faq-row .answer{ margin-bottom: 50px;}
	.row-description .aboutus-pinkvalues .widget-image.two{margin-top: 8px;}

	.triangle{ margin-right: 5px;}

	.gradient3-background.terms .content-area{ padding: 10px 50px; font-size: 14px;}
	.terms .row-title{ font-size: 22px; padding-left: 10px;}
	.terms .row-title.first{padding-left: 0px; padding-top: 16px; margin-left: -32px;}
	.terms .content-area {padding: 0px 40px;}
	.terms .row-title-image{ margin-right: 30px;}
	.terms .row-description{ font-size: 14px; color: #828282; padding: 10px;}

	
	.contact-info .email{ margin-top: 25px;}

	.form-block{ padding-top: 0px; text-align: center; padding-right: 25px; padding-left: 25px; margin-top: 25px;}
	.form-block .form-title{ margin: 10px auto; font-size: 22px;}
	.form-block .form-header{ margin-bottom: 15px; padding-left: 12px;}
	.form-block .form-header img { margin-right: 0px;}
	.form-block .form-tagline { font-size: 20px;}

	
	.form-block .input.button-box{height: 30px; text-align: left;}
	.form-block .input-label{ font-size: 16px; margin-bottom: 5px;}
	.form-block .input{  margin-bottom: 8px; }
	.form-block .input-fields{ width: 250px; height: 35px; padding: 0px 10px;}
	.form-block .submit{}
	.form-block.joinus .submit {width: 132px; height: 30px; font-size: 15px; outline: 0px;}

	.footer-container {margin-top: 25px;}	
	.footer-container .footer .left{ text-align: center;}
	.footer-container .footer .left div{ margin-bottom: 0px;}
	.footer-container .footer .left span{ display: block; margin-bottom: 15px;}
	.footer-container .footer .content-area{margin: 0px 50px;}

	.footer-container .footer .right{ padding-right: 2px; }
	.footer .sns-icon{ display: inline-block; margin: 0 10px;}
	.footer-container .footer .footer-bottom span{  margin: 0px auto;}
	.footer-container .footer .footer-bottom span:nth-child(2){margin-top: -25px;}
	.footer-container .footer .footer-bottom { padding-right: 1px; }
	.footer-container .footer .footer-bottom .designby{float: right; font-size: 11px; margin-top: 0px;}
	.footer-container .footer .footer-bottom .designby .youtube{margin-right: 0px;}
	.footer-container .footer .left div a{ text-align: left;}


	.home-footer-container{margin-top: 10px; margin-bottom: 10px;}
	.home-footer-container .block{padding: 10px 15px; border-right: 1px solid #ddd; color: #666;}	
	.home-footer-container .block.first{padding-left: 63px;}
	.home-footer-container .block.second{padding: 9px 45px;}
	.home-footer-container .block.no-border{ padding-left: 42px;}
	.home-footer-container .block .image-container img{max-width: 100%; max-height: 75px;}
	.home-footer-container .block .image-container .second{margin-left: 28px; margin-right: 20px;}
	.home-footer-container .block .image-container{ float: left;}
	.home-footer-container .block .content{margin-top: 20px; float: left; padding-left: 5px; padding-top: 4px;}


	.banner-bg{ height: 300px; padding: 0px 30px; text-align: center;}
	.banner-bg .tag-line { font-size: 24px; margin-top: 50px; margin-bottom: 5px;}
	.banner-bg .text { font-size: 24px;}
	.banner-bg .button-learn { font-size: 20px; margin-top: 20px; text-decoration: none;}


	.home-footer .content-area div { overflow: hidden; text-align: center; margin-bottom: 35px;}
	.home-footer{ margin-bottom: -75px; padding: 50px;}
	.home-footer img{ height: 100px;  }
	.home-footer .text{ color: #828282; font-size: 20px; padding-top: 30px;}
	.home-footer .border { border-bottom: 3px solid #ddd;}

	.widgets-row .header { font-size: 22px; margin-top: 30px; margin-bottom: 25px;}
	.widgets-row .widget-images .widget-image { height: 90px;}
	.widgets-row .widget-images .lines{ display: none;}
	.widgets-row .widget-name { margin: 3px auto; font-size: 20px; margin-top: 10px; margin-bottom: 1px; }
	.widgets-row .widget-text { font-size: 14px; margin-bottom: 32px;}


	.our-bouquet-container .widgets-image-container img{max-height: 72px;}

	.widgets-row .widget-images-small .widget-name { margin: 10px auto 0px auto; font-size: 22px; }
	.widgets-row .widget-images-small .widget-text { font-size: 14px; margin-bottom: 44px;}
	.widgets-row .widget-images-small .gradient2-background { padding-top: 5px;}
	.widgets-row .widget-images-small:first-child{padding-left: 22px;}
	.widgets-row .widget-images-small:last-child{padding-right: 22px;}
	.form-block .form-left{width: 60%; padding: 0px; text-align: left; margin-bottom: 15px;}
	.form-contents .message{font-size: 14px; text-align: left; }
	.form-block .form-elements{padding-left: 50px; padding-right: 35px;}



	.pink-button-row .pink-button-side{ display: none;}
	.pink-button-row .pink-buttons-container { width: 100%; }
	.pink-button-row .pink-buttons{ margin-right: 51px; padding: 15px 22px 0px; font-size: 20px;}
	.pink-button-row .pink-buttons.active{}

	.banner-form{margin-top: 44px; margin-left: 8px; text-align: left;}
	.banner-bg .banner-form .tag-line{font-size: 20px; margin-bottom: 16px; margin-top: 10px;}
	.banner-form .form-label{display: inline-block; width: 200px; font-size: 17px; margin-bottom: 15px;}
	.banner-form .form-input{display: inline-block; width: 200px; margin-left: -25px;}
	.banner-form .form-input input{width: 100%; height: 35px;}
	.work-bg.video-bg iframe{height: 380px;}

	.find-a-doctor-form-container .form-inline .form-group{margin-right: 10px;}
	.find-a-doctor-form-container .form-inline{margin-left: 62px;}
	.find-a-doctor-form-container .form-inline .form-group .form-control{max-width: 188px;}


	.testimonial-row .testimonial-image img{max-width: 124px;}
	.doctors-domain .calendar-container table{width: auto;}
	
	.doctors-button{ width: 200px; font-size: 18px; display: inline-block; padding-top: 10px; margin-top: 25px; height: 40px;}
	.form-block .calendar-container{margin-left: 0px;}

	.work-bg{ min-height: 270px;}
	.video-bg{  text-align: center;}
	.row-before-video{ font-size: 22px; padding-top: 25px; padding-bottom: 20px;}

	.video-button{ width: 300px; overflow: hidden; display: inline-block; margin-top: 100px;}
	.play-button{ margin-right: 20px; margin-top: 5px; float: left;}
	.play-video-text{font-size: 26px; float: left;}

	.link-box{ position: absolute; top: 50px; right: 50px; z-index: 10;}
	.link-box a { font-size: 15px; margin-bottom: 15px;}

	.doctor-button { font-size: 15px; margin: 0px auto; display: block; padding: 0px 16px; max-width: 130px; height: 30px; line-height: 30px; }	
	.search-form .doctor-button{right: 76px; position: absolute;}

	.find-a-doctor-row{ padding: 25px; text-align: left; padding-bottom: 6px;}
	.find-a-doctor-row .header{ font-size: 30px;}
	.find-a-doctor-row .header img{ margin-right: 5px;}

	.find-a-doctor-row .search-form{ margin-top: 20px; margin-left: 45px;}
	.find-a-doctor-row .search-form select { margin-left: 1%; padding: 0px 5px; border-radius: 0px; }
	.find-a-doctor-row .search-form label.select-label {position: relative; margin-left: 2%; width: 35%; display: block; float: left;}

	.doctor-button{margin-bottom: 6px;}
	.find-a-doctor { padding: 15px 0px;}
	.find-a-doctor .image-block img { margin: 10px auto; width: 150px;}
	.find-a-doctor .image-block button { width: 50%; margin: 10px auto; height: 35px; font-size: 16px;}

	.find-a-doctor .details { width: 45%; float: left; height: 100%; margin-right: 3%;}
	.find-a-doctor .details .name{ font-size: 25px; margin-top: 20px; }
	.find-a-doctor .details .designation{ font-size: 20px; }
	.find-a-doctor .details .message{ margin-top: 4px; margin-bottom: 20px;}
	.find-a-doctor .details .timings { margin-top: 10px;}

	.find-a-doctor .calendar { width: 45%; float: left; height: 100%; padding-top: 30px;}
	.find-a-doctor .calendar .idno{ font-size: 16px;}

	.find-a-doctor .calendar .chart-container { overflow: visible; position: relative; margin-right: 15px;}
	.find-a-doctor .calendar .chart {height: 250px; overflow: hidden;}
	.find-a-doctor .calendar .chart table{ width: 315px; color: #d8b6b6; position: absolute; top: 0px; left: 0px; transition: all 0.5s; font-size: 14px;}
	.find-a-doctor .calendar .chart tr{ display: block; width: 488px; height: 25px; overflow: hidden; white-space: nowrap;}
	.find-a-doctor .calendar .chart th{ width: 81px; padding: 3px 0px; display: block; float: left; color: #a5a3a3; font-weight: normal;}
	.find-a-doctor .calendar .chart td{ width: 104px; border-left: 1px solid #828282; border-top: 1px solid #828282; padding: 7px 0px; display: block; float: left; min-height: 30px;}
	.find-a-doctor .calendar .chart td:first-child { width: 105px;}
	.find-a-doctor .calendar .chart td:last-child { border-right: 1px solid #828282;}
	.find-a-doctor .calendar .chart td:nth-child(2) { width: 105px;}
	.find-a-doctor .calendar .chart tr:last-child{ border-bottom: 1px solid #828282;}

	.arrow{ position: absolute; top: 8px; cursor: pointer;}
	.arrow-left{width: 0; height: 0; border-style: solid; border-width: 5px 8px 5px 0; border-color: transparent #d8b6b6 transparent transparent; left: -7px;}
	.arrow-right{width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 8px; border-color: transparent transparent transparent #d8b6b6; right: -6px;}

	


	.meet-our-doctors{ padding: 8px 0px; }
	.meet-our-doctors .doctor-button{text-align: center;}
	.meet-our-doctors .doctor-button.red{margin-left: 0px; margin-bottom: -12px;}
	.meet-our-doctors .data-block { padding: 0px; padding-left: 10px;}
	.meet-our-doctors .image-block { padding: 0px; text-align: center;}
	.meet-our-doctors .image-block img { margin: 10px auto 15px auto; height: 148px; display: block;}
	.meet-our-doctors .details { width: 63%; float: left; min-height: 225px; margin-right: 2%;}
	.meet-our-doctors .details .name{ font-size: 24px; margin-top: 20px}
	.meet-our-doctors .details .designation{ font-size: 20px; margin-top: -8px;}
	.meet-our-doctors .details .location{padding-left: 0px; font-size: 12px; line-height: 19px;}
	.meet-our-doctors .details .message{ margin: 10px 15px 20px 0px; font-size: 14;}
	.meet-our-doctors .calendar { width: 35%; float: left; height: 100%; padding-top: 26px; font-size: 14px;}
	.meet-our-doctors .calendar .idno{ font-size: 16px; margin-bottom: 14px; margin-top: 3px;}
	.meet-our-doctors .buttons-container{ margin-top: 15px;}
	.meet-our-doctors .buttons-container .doctor-button { width: 140px; text-align: center;}

	.banner-bg.banner-bg-meet-our-doctors .red-text{ font-size: 26px; font-weight: lighter; margin-top: 140px;}



	.doctors-domain{ padding: 45px 0px; }
	.doctors-domain .doctor-button{ }
	.doctors-domain .data-block {  width: 70%; padding: 0px; padding-left: 10px;}
	.doctors-domain .image-block {  width: 30%; padding: 0px; text-align: center; font-size: 14px;}
	.doctors-domain .image-block img { margin: 10px auto 15px auto; height: 190px;}
	.doctors-domain .details {width: 63%; float: left; margin-right: 2%;}
	.doctors-domain .details .name{ font-size: 24px; margin-top: 20px}
	.doctors-domain .details .designation{ font-size: 20px; margin-bottom: 20px;}
	.doctors-domain .calendar-container{padding: 2px;}
	
	.doctors-domain .message{ margin-bottom: 20px; text-align: justify;}
	.doctors-domain .calendar { width: 35%; float: left; height: 100%; padding-top: 30px; font-size: 14px; text-align: right;}
	.doctors-domain .calendar .idno{ font-size: 20px; margin-bottom: 20px;}
	.doctors-domain .buttons-container{ margin-top: 15px;}
	.doctors-domain .buttons-container .doctor-button { width: 140px; text-align: center;}
	.doctors-domain .info{ padding: 0px;}
	.doctors-domain .info .info-image{ float: left;}
	.doctors-domain .info .info-data{ float: left; padding-top: 15px; padding-left: 10px; text-align: left;}
	.doctors-domain .info .info-image img{ width: 55px;}
	.doctors-domain.page-tagline img{ margin-top: 0px; width: auto;}
	.doctors-domain .content-area{padding-right: 32px;}

	.pink-button-row .pink-buttons-container{ width: 100%;}
	.pink-button-row .pink-button-side { display: none;}
	.pink-button-row .pink-buttons{ margin: 0 auto;}


	.modal-container .modal-box{ width: 550px; height: 400px; padding: 15px; margin-top: -200px; margin-left: -275px; }
	.modal-container .modal-box .times{ line-height: 20px; width: 15px; height: 15px; float: right; font-size: 28px; cursor: pointer; }
	.modal-container .modal-title{ font-size: 28px; margin-top: 15px;}
	.modal-container .login-form-box{width: 350px; margin: 20px auto;}
	.modal-container .login-form-box .field-label{ font-size: 16px; padding: 0px; padding-top: 5px; text-align: left;}
	.modal-container .login-form-box .field-value{ margin-bottom: 20px; padding: 0px; text-align: left;}
	.modal-container .login-form-box .input-fields{ width: 100%; height: 35px; }
	.modal-container .submit-button{ width: 100px; height: 35px; font-size: 16px; line-height: 17px;}

	.pw-footer-container{padding: 20px; margin-top: 40px;}

}

