@media all and (min-width: 992px) {
	.row-bg-1{ background-image: url("../img/joinus/JoinUs_Element_Right.png");  background-repeat: no-repeat; background-position: right 10px top 0px; }
	.row-bg-2{ background-image: url("../img/joinus/JoinUs_Element_Left.png");  background-repeat: no-repeat; background-position: left 10px bottom 10; }
	
}

@media all and (min-width: 768px) and (max-width: 991px){
	.row-bg-1{ background-image: url("../img/joinus/JoinUs_Element_Right.png");  background-repeat: no-repeat; background-position: right; }
	.row-bg-2{ background-image: url("../img/joinus/JoinUs_Element_Left.png");  background-repeat: no-repeat; background-position: left bottom; }
	
}

@media all and (max-width: 767px){
	.row-bg-1{ background-image: url("../img/joinus/JoinUs_Element_Right.png");  background-repeat: no-repeat; background-position: right; }
	.row-bg-2{ background-image: url("../img/joinus/JoinUs_Element_Left.png");  background-repeat: no-repeat; background-position: left bottom; }
}
