@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Element_1_Left.png"),url("../img/ourservices/pinkappoint/pinkAppoint_Element_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 15px  bottom 25px, right 15px top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkappoint/pink-appoint_How-It-Works_Elements_2_right.png");
		background-repeat: no-repeat; 
		background-position: right 15px top 0px; 
		background-size: 90px;
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Element_2_Right.png"); 
		background-repeat: no-repeat; 
		background-position: right 10px bottom; 
	}
}

@media all and (min-width: 768px) and (max-width: 991px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Element_1_Left.png"),url("../img/ourservices/pinkappoint/pinkAppoint_Element_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 15px  bottom 25px, right 15px top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkappoint/pink-appoint_How-It-Works_Elements_2_right.png");
		background-repeat: no-repeat; 
		background-position: right 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Element_2_Right.png"); 
		background-repeat: no-repeat; 
		background-position: right 350px bottom; 
	}

}

@media all and (max-width: 767px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Element_1_Left.png"),url("../img/ourservices/pinkappoint/pinkAppoint_Element_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 15px  bottom 25px, right 15px top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkappoint/pink-appoint_How-It-Works_Elements_2_right.png");
		background-repeat: no-repeat; 
		background-position: right 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkappoint/pinkAppoint_Element_2_Right.png"); 
		background-repeat: no-repeat; 
		background-position: right bottom; 
	}

}
