@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/subscribe/Subscribe1_Element_Left.png"),url("../img/subscribe/Subscribe1_Element_Right.png"); 
		background-repeat: no-repeat,no-repeat; 
		background-position: left 10px top 10px, right 10px top 0px; 
		background-size: 65px, 65px;
	}
	.row-bg-2{ 
		background-image: url("../img/subscribe/Subscribe1_Element_Bottom.png"); 
		background-repeat: no-repeat;
		background-position: left 10px bottom 10px;
	}

	.row-bg-3{ 
		background-image: url("../img/subscribe/Subscribe1_Element_Bottom.png"); 
		background-repeat: no-repeat;
		background-position: right 10px bottom 10px;
	}
}



@media all and (min-width: 768px) and (max-width: 991px){

}

@media all and (max-width: 767px){

}
