@media all and (min-width: 992px) {
	.row-bg-1{ 
			background-image: url("../img/patients/happypatients/Testimonials_Patients_Elements1_Left.png"); 
			background-repeat: no-repeat; 
			background-position: left 10px top 0px;
			background-size: 75px;
		}
	.row-bg-2{ 
			background-image: url("../img/patients/happypatients/Testimonials_Patients_Elements1_Right.png"), url("../img/patients/happypatients/Testimonials_Patients_Elements2_Left.png"), url("../img/patients/happypatients/Testimonials_Patients_Elements2_Right.png");
			background-repeat: no-repeat, no-repeat, no-repeat; 
			background-position: right 10px top 25px, left 10px top 550px, right 10px bottom 10px;
		}
}

@media all and (min-width: 768px) and (max-width: 991px){
	
}

@media all and (max-width: 767px){

}

