@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/home/patients/Patients_Background Element_1_Left.png"), url("../img/home/patients/Patients_Background Element_1_Right.png"); 	
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
	}

	.row-bg-2{ 
		background-image: url("../img/home/patients/Patients_Background Element_2_Left.png"), url("../img/home/patients/Patients_Background Element_2_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 60px, right 10px top 280px;
	}
}

@media all and (min-width: 768px) and (max-width: 991px){
	.row-bg-1{ 
		background-image: url("../img/home/patients/Patients_Background Element_1_Left.png"), url("../img/home/patients/Patients_Background Element_1_Right.png"); 	
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
	}

	.row-bg-2{ 
		background-image: url("../img/home/patients/Patients_Background Element_2_Left.png"), url("../img/home/patients/Patients_Background Element_2_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 60px, right 10px top 325px;
	}

}

@media all and (max-width: 767px){
	.row-bg-1{ 
		background-image: url("../img/home/patients/Patients_Background Element_1_Left.png"), url("../img/home/patients/Patients_Background Element_1_Right.png"); 	
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 10px, right 10px bottom 10px; 
	}

	.row-bg-2{ 
		background-image: url("../img/home/patients/Patients_Background Element_2_Left.png"), url("../img/home/patients/Patients_Background Element_2_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 60px, right 10px top 325px;
	}
}
