@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_1_left.png"); 
		background-repeat: no-repeat; 
		background-position: left 15px  top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_3_left.png");
		background-repeat: no-repeat; 
		background-position: left 15px bottom 0px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_2_left.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px top 100px; 
	}
}

@media all and (min-width: 768px) and (max-width: 991px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_1_left.png"); 
		background-repeat: no-repeat; 
		background-position: left 15px  top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_3_left.png");
		background-repeat: no-repeat; 
		background-position: left 15px bottom 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_2_left.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px top 100px; 
	}

}

@media all and (max-width: 767px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_1_left.png"); 
		background-repeat: no-repeat; 
		background-position: left 15px  top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_3_left.png");
		background-repeat: no-repeat; 
		background-position: left 15px bottom 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkfollowup/pink-followup_How-It-Works_Elements_2_left.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px top 100px; 
	}

}
