@charset "utf-8";
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slides li.full-bg {
	background:no-repeat center top;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
.slides {
	border-bottom:2px #e10971 solid;
}
.slides.full-width:before {
	background: none;
	text-align:center;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	z-index:2;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.carousel_box .slides, .aslider .slides {
	border:none;
}
.flexslider {
	margin: 0;
	padding: 0;
	overflow:hidden;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	position: relative;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav a  ,.carousel_box_slide  .flex-direction-nav a{
	width: 43px;
	height: 58px;
	margin: -58px 0 0;
	display: block;
	background: url(../../images/arrows.png) no-repeat 0 0;
	position: absolute;
	top: 45%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	right: -46px;
	 -webkit-transition: all .3s ease;
	 z-index:1000;
}
.flexslider .flex-next {
	background-position: 100% 0;
	opacity: 0.6;
}
.flexslider .flex-prev {
	opacity: 0.6;
	margin-top:5px;
}
.flexslider:hover .flex-prev, .flexslider:hover .flex-next {
	right:0px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	margin-right:5px;
}
.carousel_box_slide  .flex-direction-nav a {
	width: 20px;
	height: 20px;
	margin: 0;
	background: url(../../images/arrowss.png) no-repeat 0 0;
	background-color:rgba(255,255,255 , 0.4);
	top: -35px;
	opacity: 0.8;
	right: 0px;
}
.overline  .flex-direction-nav a {
	top: -50px;
}
.carousel_box_slide .flex-next{
	background-position: 100% 0!important;
	opacity: 0.6;
	right: 0px;
}
.carousel_box_slide .flex-prev {
	opacity: 0.6;
	right: 25px!important;
}
.carousel_box_slide .flex-prev:hover , .carousel_box_slide .flex-next:hover {
	opacity: 1;
}
.flex-direction-nav .disabled {
	opacity: .3!important;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.slideleft .flex-control-nav {
	right:10px;
	margin-left:0px;
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	padding:10px 0;
	text-align:center;
	background-color:rgba(255,255,255, 0.3);
	bottom:0px;
}

.carousel_box .flex-control-nav {
	width: 100%;
	position: relative;
	margin:15px 0 5px 0;
	text-align:center;
}
.aslider .flex-control-nav {
	width: auto;
	position: absolute;
	margin: -10px 0 0;
	right: 0px;
}
.square .flex-control-nav {
	width: auto;
	position: relative;
	background: none ;
	padding:20px 0 0;
}
.aslider .flex-control-paging li a, .carousel_box .flex-control-paging li a {
	width: 10px;
	height: 10px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	-ms-border-radius:100px;
	-khtml-border-radius:100px;
	border-radius:100px;
}
.aslider .flex-control-paging li a.flex-active, .carousel_box .flex-control-paging li a.flex-active {
	height: 10px;
}
.square .flex-control-paging li a{
	width: 55px!important;
	height: 7px;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	-o-border-radius:0!important;
	-ms-border-radius:0!important;
	-khtml-border-radius:0!important;
	border-radius:0!important;
	background-color:#CCC;
	}
.flex-control-nav li {
	margin: 0 4px!important;
	display: inline-block;
	zoom: 1;
 *display: inline;
}
.flex-control-paging li a {
	width: 15px;
	height: 15px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	-ms-border-radius:100px;
	-khtml-border-radius:100px;
	border-radius:100px;
	display: block;
	background: #FFF;
	cursor: pointer;
	text-indent: -9999px;
}

.flex-control-paging li a:hover {
	background-color:#e10971;
}
.flex-control-paging li a.flex-active {
	background-color:#e10971;
	border:none;
	cursor: pointer;
}
.flex-control-thumbs {
	margin:5px 0;
	position: static;
	overflow: hidden;
	padding:0;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0!important;
	padding:0;
	background-color:#000;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .5;
	cursor: pointer;
	-webkit-transition: 0.5s opacity ease-out;
	-moz-transition: 0.5s opacity ease-out;
	transition: 0.5s opacity ease-out;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1!important;
	cursor: default;
}
.slide_desc, .slide_desc_right {
	margin-top: 95px;
	font-size: 14px;
	color:#777;
	float:left;
	left:20px;
	max-width:450px;
	position:absolute;
	z-index:2;
}
.slide_desc {
	-webkit-animation: reset;
	-moz-animation: reset;
	animation: reset;
}
.slide_desc h3, .slide_desc_right h3, .slide_desc_bottom h3 {
	text-transform:uppercase;
}
.slide_desc h2, .slide_desc_right h2 {
	margin-bottom: 15px;
	font-weight:bold;
	text-transform:uppercase;
}
.slide_desc p, .slide_desc_right p {
	margin-bottom: 28px;
}
.slide_desc_right {
	text-align:right;
	left:auto;
	right:20px;
	-webkit-animation: reset;
	-moz-animation: reset;
	animation: reset;
}
.slide_desc_bottom {
	float:left;
	width:100%;
	position:absolute;
	bottom:0;
}
.slide_video{
	position:absolute;
	top:90px;
	margin:0 15px;
	z-index:2;
}
.slide_video iframe{
	width:500px;
	height:281px;
}
/* animation text reset*/
@keyframes reset {
0% {
 opacity: 0;
}
100% {
 opacity: 0;
}
}
 @-moz-keyframes reset {
0% {
 opacity: 0;
}
100% {
 opacity: 0;
}
}
 @-webkit-keyframes reset {
0% {
 opacity: 0;
}
100% {
 opacity: 0;
}
}
/* animation text slide*/
@keyframes slide-left {
from {
left:100px;
opacity: 0;
}
to {
	left:20px;
	opacity: 1;
}
}
@-moz-keyframes slide-left {
from {
left:100px;
opacity: 0;
}
to {
	left:20px;
	opacity: 1;
}
}
@-webkit-keyframes slide-left {
from {
left:100px;
opacity: 0;
}
to {
	left:20px;
	opacity: 1;
}
}
@keyframes slide-right {
from {
right:100px;
opacity: 0;
}
to {
	right:20px;
	opacity: 1;
}
}
@-moz-keyframes slide-right {
from {
right:100px;
opacity: 0;
}
to {
	right:20px;
	opacity: 1;
}
}
@-webkit-keyframes slide-right {
from {
right:100px;
opacity: 0;
}
to {
	right:20px;
	opacity: 1;
}
}
 @media screen and (max-width: 860px) {
 .flex-direction-nav .flex-prev {
opacity:0;
left: 0;
}
 .flex-direction-nav .flex-next {
opacity: 0;
right: 0;
}
}
@media (max-width: 767px) {
.flex-control-nav, .flex-direction-nav, .flexslider ul.slides li .slide_content_right, .flexslider ul.slides li .slide_desc_right, .slide_desc {
display:none;
}
}
