@media all and (min-width: 992px) {
	.row-bg-1{ background-image: url("../img/faqs/Faqs_Patients_Elements1_Left.png");  background-repeat: no-repeat; background-position: right 10px top 0px; }
	.row-bg-2{ 
		background-image: url("../img/faqs/Faqs_Patients_Elements2_Right.png"), url("../img/faqs/Faqs_Patients_Elements1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: right 10px top 500px, left 10px top 650px;
	}
}

@media all and (min-width: 768px) and (max-width: 991px){
	.row-bg-1{ background-image: url("../img/faqs/Faqs_Patients_Elements1_Left.png");  background-repeat: no-repeat; background-position: right 10px top 10px; }
	.row-bg-2{ 
		background-image: url("../img/faqs/Faqs_Patients_Elements2_Right.png"), url("../img/faqs/Faqs_Patients_Elements1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: right 10px top 500px, left 10px top 650px;
	}
}

@media all and (max-width: 767px){

	.row-bg-1{ background-image: url("../img/faqs/Faqs_Patients_Elements1_Left.png");  background-repeat: no-repeat; background-position: right 10px top 10px; }
	.row-bg-2{ 
		background-image: url("../img/faqs/Faqs_Patients_Elements2_Right.png"), url("../img/faqs/Faqs_Patients_Elements1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: right 10px top 500px, left 10px top 650px;
	}
}
