@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery_Elements_1_Left.png"),url("../img/ourservices/pinkquery/pinkQuery_Elements_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 10px top 25px, right 10px bottom 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery _Elements_2_Right1.png"); 
		background-repeat: no-repeat; 
		background-position: left 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery _Elements_2_Right2.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px top 125px; 
	}
}

@media all and (min-width: 768px) and (max-width: 991px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery_Elements_1_Left.png"),url("../img/ourservices/pinkquery/pinkQuery_Elements_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 15px  top 25px, right 15px bottom 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery _Elements_2_Right1.png"); 
		background-repeat: no-repeat; 
		background-position: left 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery _Elements_2_Right2.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px top 125px; 
	}

}

@media all and (max-width: 767px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery_Elements_1_Left.png"),url("../img/ourservices/pinkquery/pinkQuery_Elements_1_Right.png"); 
		background-repeat: no-repeat, no-repeat; 
		background-position: left 15px  top 25px, right 15px bottom 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery _Elements_2_Right1.png"); 
		background-repeat: no-repeat; 
		background-position: left 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkquery/pinkQuery _Elements_2_Right2.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px top 125px; 
	}

}
