@media all and (min-width: 992px) {
	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element1_Right.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px  top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element2_Right.png");
		background-repeat: no-repeat; 
		background-position: right 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element1_left.png"); 
		background-repeat: no-repeat; 
		background-position: left top 50px; 
	}
}

@media all and (min-width: 768px) and (max-width: 991px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element1_Right.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px  top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element2_Right.png");
		background-repeat: no-repeat; 
		background-position: right 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element1_left.png"); 
		background-repeat: no-repeat; 
		background-position: left top 50px; 
	}

}

@media all and (max-width: 767px){

	.row-bg-1{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element1_Right.png"); 
		background-repeat: no-repeat; 
		background-position: right 15px  top 25px; 
	}

	.row-bg-2{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element2_Right.png");
		background-repeat: no-repeat; 
		background-position: right 15px top 15px; 
	}

	.row-bg-3{ 
		background-image: url("../img/ourservices/pinkopinion/pinkOpinion_Element1_left.png"); 
		background-repeat: no-repeat; 
		background-position: left top 50px; 
	}

}
