@media all and (max-width: 767px){

	body{ overflow-x: hidden; }
	.logo{ width: 150px; margin-left: 10px; margin-top: 3px;}


	.content-area{font-size: 14px;}
	.header.content-area{ overflow: hidden !important;}


	.page-header .menu-container { margin-top: 18px;}
	.page-header .menu-container a{ color: #666; text-decoration: none; font-size: 16px; font-weight: bold; height: 100%; margin-right: 0px; margin-top: -57px;}
	.page-header .menu-container a .menu-icon{font-size: 24px;}
	.page-header .menu-container nav a{ color: #666; text-decoration: none; font-size: 18px; height: 100%; margin: 16px auto; font-weight: 400;}
	.page-header .menu-container nav li { border-bottom: 1px solid #b1b1b1;}
	.page-header .menu-container nav li:hover { background: #f9efef;}

	.our-bouquet-container {padding: 0px;background-position: 0px 0px;background-size: 100% auto;background-repeat: no-repeat;}

	.page-tagline{ padding: 30px 5px; font-size: 20px; padding-bottom: 0px;}
	.page-tagline .tag{ font-size: 20px; }
	.page-tagline .description { font-size: 16px; }
	.page-tagline img{ width: 250px; margin-top: 10px; margin-bottom: 10px;}

	.page-tagline.pink-page {font-size: 20px; padding: 25px 15px;}
	.page-tagline.pink-page img { height: 40px; }
	.page-tagline.pink-page .text { font-size: 14px; /*margin-top: 50px;*/}
	.how-it-works img{height: 50px;}

	.pw-footer-container .row-one .right-content{text-align: center; margin-top: 0px;}
	.pw-footer-container .row-two .social-share{text-align: center; margin: 12px 0px; margin-top: 20px; margin-bottom: 6px; }
	.pw-footer-container .row-two .social-share .share:last-child{margin-right: auto;}
	.pw-footer-container .row-three .left-block .nav{display: block; text-align: center;}
	.pw-footer-container .row-three .designed-by{text-align: center; float: none; margin: 0px auto; display: block;}
	.pw-footer-container{padding: 20px 0px; padding-bottom: 10px; margin-top: 25px;}

	.work-bg.video-bg iframe{height: 300px;}

	.pw-form-container{margin: 10px 0px;}
	.pw-form-container .form-group{font-size: 14px;}
	.form-block .form-contents .form-header{text-align: left; margin: 2px 15px;}

	.main-menu{height: 30px;}
	.main-menu a{font-size: 16px;}

	.grey-row{ font-size: 16px;}

	.page-row{ padding-top: 20px;}
	.page-row .row-header{ padding: 10px}
	.page-row .row-title{ font-size: 20px; padding-top: 11px; margin-left: 8px;}
	.page-row .row-title-image{ height: 50px; margin-right: 15px; display: none;}
	.page-row .row-description{ font-size: 14px; padding-left: 20px; padding-right: 20px; margin-top: 10px; }


	.page-row .row-description .aboutus-pinkvalues{ padding: 0px 0px; }
	.page-row .row-description .aboutus-pinkvalues img { width: 80px; margin-bottom: 5px; margin-top: 25px;}
	.page-row .row-description .aboutus-pinkvalues .description{ padding: 20px 0px;}

	.page-row .member-image{ width: 200px;}
	.page-row .member-name{font-size: 28px; }
	.page-row .member-designation{ font-size: 16px; margin-bottom: 10px;}
	.page-row .member-description{ margin-bottom: 75px; padding: 0px; font-size: 14px;}

	.page-row .slider-row img { width: 200px; margin-bottom: 35px;}
	.our-bouquet-container .widgets-image-container img{max-height: 75px;}


	.page-row .slider-row .image {text-align: center;}
	.page-row .slider-row .image img { width: 200px; margin-bottom: 35px;}
	.page-row .slider-row .message { font-size: 16px; }
	.page-row .slider-row .name { margin-top: 30px;}
	.page-row .slider-row .pagination{ text-align: center;}
	.page-row .slider-row .pagination .circle{ width: 20px; height: 20px; margin-left: 3px;}
	

	.page-row .testimonial-row { text-align: center; /*margin-top: 35px;*/ margin-top: -10px;}
	.page-row .testimonial-row  .testimonial-image{ margin: 15px auto 5px;}
	.page-row .testimonial-row .testimonial-message{ font-size: 14px;}
	.page-row .testimonial-row .testimonial-message .name{ font-size: 15px; margin-top: 15px; margin-bottom: 25px;}

	.page-row .row-header ol { padding: 0px 20px; font-size: 12px;}
	.page-row .row-header ol li { margin-bottom: 35px; font-size: 14px;}

	.row-description .faq-row{ }
	.row-description .faq-row .question{ font-size: 16px; margin-bottom: 8px; }
	.row-description .faq-row .answer{ font-size: 14px; margin-bottom: 35px;}

	.triangle{ margin-right: 20px;}

	.gradient3-background.terms .content-area{ padding: 10px 20px; font-size: 14px;}
	.terms .row-title{ font-size: 20px; padding-left: 0px; margin-left: 0px;}
	.terms .row-title.first{padding-left: 0px; padding-top: 0px; }
	.terms .content-area {padding: 0px 10px;}
	.terms .row-title-image{ margin-right: 30px;}
	.terms .row-description{ font-size: 14px; color: #828282; padding: 0px;}

	.contact-info{ text-align: center !important;}
	.contact-info .email{ margin-top: 25px;}

	.banner-form .form-input{margin-bottom: 7px;}
	.form-block{ padding-top: 30px; text-align: center;}
	.form-block .form-title{font-size: 16px; margin: 10px auto;}
	.banner-form{padding: 10px 5px;}
	.form-block .form-header{ text-align: left; margin-bottom: 6px;}
	.form-block .form-header img { /*margin: 0 auto;*/ width: 50px; /*display: block;*/margin-right: 15px; display: none;}
	.form-block .form-tagline { font-size: 18px;}
	.form-block .form-elements { text-align: center;margin-top: 15px;}
	.form-block .message{ margin-top: 25px; font-size: 12px; text-align: center; margin-bottom: 25px; padding: 0px;}
	.form-block .input-label{ font-size: 15px; margin-bottom: 5px; padding: 0px; text-align: left;}
	.form-block .input{ margin-bottom: 10px; padding-right: 5px;}
	.form-block .input-fields{ width: 100%; height: 35px; padding: 0px 10px; }
	.form-block .input-fields.age{width: 35%;}
	.form-block .input-fields.gender{width: 60%; margin-left: 5%;}
	.form-block .submit{ /*margin-top: 15px;*//*margin-left: 30px;*/}
	.form-block.joinus .submit { width: 141px;}
	.form-corporates{padding: 0px;}

	.footer-container {margin-top: 35px;}
	.footer-container .footer .left{ text-align: center;}
	.footer-container .footer .left div{ margin-bottom: 0px; margin-top: 10px;}
	.footer-container .footer .left span{ display: block; margin-bottom: 15px;}
	.footer-container .footer .footer-bottom { text-align: center;}
	.footer-container .footer .footer-bottom span{display: inline-block; margin: 0px auto;}
	.footer-container .footer .footer-bottom span:nth-child(2){margin-top: -25px;}

	.footer-container .footer .right{ text-align: center; }
	.footer .sns-icon{ display: inline-block; margin: 0px 4px;}

	.banner-bg{height: 160px; padding: 0px 30px; text-align: center;  background-position-y: 0px;}
	.banner-bg .tag-line { font-size: 16px; margin-top: 75px; margin-bottom: 5px;}
	.banner-bg .text { font-size: 16px;}
	.banner-bg .button-learn { font-size: 14px; margin-top: 20px; text-decoration: none;}

	.home-footer-container .block{ text-align: center; color: #666;}
	.home-footer-container .block.no-border{border: 0px;}
	.home-footer-container .block .image-container img{max-width: 100%; max-height: 100px;}
	.home-footer-container .block .image-container .second{margin-left: 28px; margin-right: 20px;}
	.home-footer-container .block .image-container{ }
	.home-footer-container .block .content{margin-top: 5px; margin-bottom: 25px;}

	.widgets-row .header { font-size: 20px; margin: 30px 15px; margin-bottom: 22px;}
	.widgets-row .widget-images .widget-image { height: 100px;}
	.widgets-row .widget-images .lines{ display: none;}
	.widgets-row .widget-name { margin: 2px auto; font-size: 18px;}
	.widgets-row .widget-text { font-size: 14px; margin-bottom: 30px;}

	.widgets-row .widget-images-small .widget-name { margin: 4px auto 0px auto; font-size: 20px; }
	.widgets-row .widget-images-small .widget-text { font-size: 14px; margin-bottom: 28px; margin-top: 4px}
	.widgets-row .widget-images-small .gradient2-background { padding-top: 5px;}
	.widgets-row .widget-images-small:hover .line{ height: auto;}

	.doctors-domain{text-align: left; margin: 5px 18px;}

	.footer-container .footer .links-header a:hover{display: inline-block; border: none;}
	.footer-container .footer .subscribe{margin: 20px auto 15px;}
	.footer-container .footer{padding-top: 0px;}


	.widgets-row .widget-images-small .line{display: none;}

	.how-it-works .title{font-size: 20px; margin-top: 20px;}
	.mobile-form.banner-form {margin: 0px 15px;}
	.mobile-form.banner-form .tag-line{text-align: center; font-size: 18px; margin-bottom: 15px; margin-top: 20px;}
	.mobile-form.banner-form .form-horizontal{max-width: 400px; margin: 0px auto;}

	.doctors-button{ width: 200px; font-size: 18px; display: block; padding-top: 10px; margin: 10px auto; height: 40px;}

	.work-bg{ height: 200px;}
	.video-bg{ height: auto; text-align: center; }
	.row-before-video{ font-size: 20px;  padding: 10px 10px; }

	.video-button{ width: 250px; overflow: hidden; display: inline-block; margin-top: 50px;}
	.play-button{ margin-right: 20px; margin-top: 5px; float: left;}
	.play-video-text{font-size: 24px; float: left;}

	.link-box{ position: absolute; top: 10px; right: 10px; z-index: 10;}
	.link-box a { font-size: 12px; margin-bottom: 15px;}

	.doctor-button { width: 80%; height: 36px; font-size: 20px; margin: 15px auto; display: block;}

	.find-a-doctor-row{ padding: 25px; text-align: center;}
	.find-a-doctor-row .header{ font-size: 20px; margin-bottom: 12px;}
	.find-a-doctor-row .header img{ height: 40px; margin: 5px auto; display: block;}
	.find-a-doctor-form-container .form-inline .form-group .form-control{min-width: 280px; max-width: 300px; width: 100%;}
	.find-a-doctor-form-container .form-inline{margin-left: 0px;}
	.doctors-domain .calendar-container table{width: 98%;}

	.find-a-doctor-row .search-form{ margin-top: 20px;}
	.find-a-doctor-row .search-form select { padding:0px 5px; border-radius: 0px; width: 100%; margin: 15px auto; display: block; }
	.find-a-doctor-row .search-form label.select-label {position:relative; margin: 15px auto; width: 80%; display: block;}

	.find-a-doctor { padding: 30px 0px;}
	.find-a-doctor .image-block img { margin: 10px auto; width: 200px;}
	.find-a-doctor .image-block button { width: 50%; margin: 10px auto; height: 35px; font-size: 16px;}

	.find-a-doctor .details { width: 100%; margin-top: 0px; text-align: center;}
	.find-a-doctor .details .name{ font-size: 20px; margin-top: 0px; text-align: center;}
	.find-a-doctor .details .designation{ font-size: 18px; text-align: center;}
	.find-a-doctor .details .message{ margin-top: 5px; margin-bottom: 0px; text-align: center;}
	.find-a-doctor .details .timings { margin-top: 30px;}

	.find-a-doctor .calendar { width: 100%; padding-top: 30px; text-align: center;}
	.find-a-doctor .calendar .idno{ font-size: 20px;}

	.find-a-doctor .calendar .chart-container { overflow: visible; position: relative;}
	.find-a-doctor .calendar .chart {overflow: auto;}
	.find-a-doctor .calendar .chart table{ width: 315px; color: #828282; transition: all 0.5s; margin: 20px auto;}
	.find-a-doctor .calendar .chart tr{ display: block; width: 730px; height: 30px; overflow: hidden; white-space: nowrap;}
	.find-a-doctor .calendar .chart th{ width: 104px; padding: 7px 0px; display: block; float: left;}
	.find-a-doctor .calendar .chart td{ width: 104px; border-left: 1px solid #828282; border-top: 1px solid #828282; padding: 7px 0px; display: block; float: left; min-height: 30px;}
	.find-a-doctor .calendar .chart td:first-child { width: 105px;}
	.find-a-doctor .calendar .chart td:last-child { border-right: 1px solid #828282;}
	.find-a-doctor .calendar .chart td:nth-child(2) { width: 105px;}
	.find-a-doctor .calendar .chart tr:last-child{ border-bottom: 1px solid #828282;}

	.arrow{ display: none;}


	.meet-our-doctors{ padding: 12px 0px; text-align: center; }
	.meet-our-doctors .doctor-button{ width: 50%; display: inline-block; line-height: 38px;}
	.meet-our-doctors .data-block { padding: 0px; padding-left: 10px;}
	.meet-our-doctors .image-block { padding: 0px; text-align: center;}
	.meet-our-doctors .image-block img { margin: 10px auto 15px auto; max-height: 170px; display: block;}
	.meet-our-doctors .details { }
	.meet-our-doctors .details .name{ font-size: 20px; margin-top: 0px}
	.meet-our-doctors .details .designation{ font-size: 18px;}
	.meet-our-doctors .details .message{ margin-top: 20px; margin-bottom: 20px; text-align: center;}
	.meet-our-doctors .details .location{ margin-bottom: 25px;}
	.meet-our-doctors .calendar { margin-top: -20px; font-size: 14px;}
	.meet-our-doctors .calendar .idno{ font-size: 18px; }
	.meet-our-doctors .buttons-container{ margin-top: 15px;}
	.meet-our-doctors .buttons-container .doctor-button { width: 140px; text-align: center;}

	.banner-bg.banner-bg-meet-our-doctors .red-text{ font-size: 16px; font-weight: lighter; margin-top: 100px;}




	.doctors-domain{ padding: 5px 0px; }
	.doctors-domain .doctor-button{ width: 50%; display: inline-block; line-height: 37px;}
	.doctors-domain .data-block {  padding: 0px; padding-left: 10px; text-align: center;}
	.doctors-domain .image-block {  padding: 0px; text-align: center; font-size: 18px;}
	.doctors-domain .image-block img { margin: 10px auto 15px auto; height: 190px;}
	.doctors-domain .details {}
	.doctors-domain .details .name{ font-size: 20px; margin-top: 0px}
	.doctors-domain .details .designation{ font-size: 18px;}
	.doctor-button.mobile{max-width: 130px;}
	
	.doctors-domain .message{ text-align: justify; padding: 10px 20px;}
	.doctors-domain .calendar { padding-top: 0px; font-size: 14px;}
	.doctors-domain .calendar .idno{ font-size: 20px; margin-bottom: 20px;}
	.doctors-domain .buttons-container{ margin-top: 15px;}
	.doctors-domain .buttons-container .doctor-button { width: 140px; text-align: center;}
	.doctors-domain .info{ font-size: 14px;}
	.doctors-domain .info .info-image{ float: left; min-height: 10px;}
	.doctors-domain .info .info-data{ max-width: 200px; float: left; padding-top: 15px; padding-left: 10px; text-align: left;}
	.doctors-domain .info .info-data.second-info{padding-left: 50px;}
	.doctors-domain .info .info-image img{ width: 40px;}
	.doctors-domain.page-tagline img{ margin: 10px auto; width: auto; display: block;}

	.pink-button-row .pink-buttons-container{ width: 100%; min-height: 40px;}
	.pink-button-row .pink-button-side { display: none;}
	.pink-button-row .pink-buttons{ display: inline-block; margin: 0px 28px; height: 42px;}


	#our-team .member-right{margin-top: -60px;}
	#pink-vision{padding-top: 0px;margin-top: -10px;}
	#pink-values .aboutus-pinkvalues img.two{margin-top: 19px;} 
	#pink-values .aboutus-pinkvalues img.three{margin-top: 13px;} 
	#our-team .member-image{margin-top: 1px;}

	#who-we-are .content-area .row-header{padding-left: 12px;}
	#pink-values .content-area .row-header{padding-left: 10px;}
	#pink-vision .content-area .row-header{padding-left: 13px;}

	#in-touch .content-area .form-header{text-align: left;}

	.about-us .image-title{font-size: 20px;}
	#form-reg{/*text-align: right;*/margin-top: -40px;margin-left: 38px;}
	.corp-reg{margin-left: 90px;margin-top: -11px;}
	.doc-upload{margin-top:-4px;}

	#reg{margin-left: 85px;}

	.pinksubmit{margin-left: 87px;}

	.how-it-works{margin: 10px auto 0px auto;}
	.work-pink-query{background-image: url("../img/ourservices/pinkquery/middle.png"); background-position: 0px -60px; height: 268px;}
	.work-pink-opinion{background-image:url("../img/ourservices/small/pinkOpinion_How it Works-small.png");}
	.work-pink-appoint{background-image:url("../img/ourservices/small/pinkAppoint_How it Works-small.png");}

	.pinkappoint-submit{margin-left: 80px;}
	.pappoint-form{text-align: center;margin-top: 28px}
	.pappoint-form .tag-line{color: #c36262;font-size: 18px;}
	.banner-form .form-label{text-align: left;}

	.doc-sub{margin-top: 15px;margin-left:109px; }
	.pink-follow-sub{margin-left: 80px;}
	.popen-sub{margin-left: -41px;}
	.joinus-submit{margin-left: 100px;}
	.corp-join-sub{margin-left: 75px;}
}


@media only screen and (max-device-width : 420px) {
	.banner-bg{
		background-size: 162% 100%; 
		background-position-x: -195px;	
	}	
}

@media only screen  and (min-device-width : 420px)  and (max-device-width : 767px) {
	.banner-bg{
		background-size: 131% 100%;
		background-position-x: -162px;
		height: 200px;
	}	
}
