@charset "utf-8";

/* CSS Document */



body {margin:0px; padding:0px;font:Arial;}

img {border:0px; margin:0px; padding:0px;}

form {margin:0px; padding:0px;}



/*---------------------------------------Header Styles Start------------------------------------*/

#s90social {width:140px; height:35px; margin:20px 0px 20px 80px; padding:0px; vertical-align:top; float:right; text-align:right;}

#s90social img {margin:6px 0px 0px 14px; padding:0px}





#container {width:164px; height:35px; margin:20px 10px 0px 10px; padding:0px; vertical-align:top; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px; vertical-align:middle;}



#container1 {width:275px; height:35px; margin:20px 10px 0px 10px; padding:0px; vertical-align:top; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px; vertical-align:middle;}





#s90topmenus {width:210px; height:35px; margin:20px 10px 0px 10px; padding:0px; vertical-align:top; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px; vertical-align:middle;}



#s90topmenus_admin {width:120px; height:35px;  padding:0px; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px; margin-right:20px; margin-top:20px; margin-left:10px}

/*old: width:273px;*/

#s90topmenus a{margin:0px; padding:0px 6px 0px 6px; font-family:Arial, Verdana; font-size:12px; line-height:26px;}

#s90topmenus a:link {text-decoration:none; color:#333333}

#s90topmenus a:visited {text-decoration:none; color:#333333}

#s90topmenus a:hover {text-decoration:underline; color:#333333}

#s90topmenus a:active {text-decoration:underline; color:#333333}



#s90topmenus2 {width:236px; height:35px; margin:20px 10px 0px 10px; padding:0px; vertical-align:top; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px;}

#s90topmenus2 a{margin:0px; padding:0px 6px 0px 6px; font-family:Arial, Verdana; font-size:12px; line-height:26px;}

#s90topmenus2 a:link {text-decoration:none; color:#333333}

#s90topmenus2 a:visited {text-decoration:none; color:#333333}

#s90topmenus2 a:hover {text-decoration:underline; color:#333333}

#s90topmenus2 a:active {text-decoration:underline; color:#333333}



.s90mainmenus {margin:0px; padding:0px;}

.s90mainmenus ul {margin:22px 10px 0px 10px; padding:0px; width:580px; float:right;}

.s90mainmenus li {float:right; display:block; margin:0px 0px 0px 4px; padding:0px; height:28px;}



.s90mainmenu1 a{font-family:"Arial", Arial; font-size:14px; font-weight:bold; line-height:30px; height:28px; width:130px; display:block; background-image:url(../images/s90mainmenu1_bgb.jpg); text-align:center}

.s90mainmenu1 a:link {text-decoration:none; color:#ffffff}

.s90mainmenu1 a:visited {text-decoration:none; color:#ffffff}

.s90mainmenu1 a:hover {text-decoration:none; color:#ffffff; background-image:url(../images/s90mainmenu1_bgp.jpg);}

.s90mainmenu1 a:active {text-decoration:none; color:#ffffff}

.s90active1 a{background-image:url(../images/s90mainmenu1_bgp.jpg);}



.s90mainmenu2 a{font-family:"Arial", Arial; font-size:14px; font-weight:bold; line-height:30px; height:28px; width:208px; display:block; background-image:url(../images/s90mainmenu2_bgb.jpg); text-align:center}

.s90mainmenu2 a:link {text-decoration:none; color:#ffffff}

.s90mainmenu2 a:visited {text-decoration:none; color:#ffffff}

.s90mainmenu2 a:hover {text-decoration:none; color:#ffffff; background-image:url(../images/s90mainmenu2_bgp.jpg);}

.s90mainmenu2 a:active {text-decoration:none; color:#ffffff}

.s90active2 a{background-image:url(../images/s90mainmenu2_bgp.jpg);}



.s90mainmenu3 a{font-family:"Arial", Arial; font-size:14px; font-weight:bold; line-height:30px; height:28px; width:94px; display:block; background-image:url(../images/s90mainmenu3_bgb.jpg); text-align:center}

.s90mainmenu3 a:link {text-decoration:none; color:#ffffff}

.s90mainmenu3 a:visited {text-decoration:none; color:#ffffff}

.s90mainmenu3 a:hover {text-decoration:none; color:#ffffff; background-image:url(../images/s90mainmenu3_bgp.jpg);}

.s90mainmenu3 a:active {text-decoration:none; color:#ffffff}

.s90active3 a{background-image:url(../images/s90mainmenu3_bgp.jpg);}

.s90mainmenu33 {background-image:url(../images/mmblackbtn.jpg); width:192px; text-align:center;}



.s90mainmenu4 a{font-family:"Arial", Arial; font-size:14px; font-weight:bold; line-height:30px; height:28px; width:109px; display:block; background-image:url(../images/s90mainmenu4_bgb.jpg); text-align:center}

.s90mainmenu4 a:link {text-decoration:none; color:#ffffff}

.s90mainmenu4 a:visited {text-decoration:none; color:#ffffff}

.s90mainmenu4 a:hover {text-decoration:none; color:#ffffff; background-image:url(../images/s90mainmenu4_bgp.jpg);}

.s90mainmenu4 a:active {text-decoration:none; color:#ffffff}

.s90active4 a{background-image:url(../images/s90mainmenu4_bgp.jpg);}



.s90submenusbg {background-color:#90b6d0; height:30px;}

.s90submenusbg2 {background-color:#90b6d0; height:4px;}



/*#s90submenus {float:right; height:35px; margin:3px 10px 2px 10px; padding:0px; background-image:url(../images/smbg.jpg); }

#s90submenus a{margin:0px; padding:4px 8px 2px 8px; font-family:"Arial", Arial; font-size:14px;}

#s90submenus a:link {text-decoration:none; color:#333333}

#s90submenus a:visited {text-decoration:none; color:#333333}

#s90submenus a:hover {text-decoration:underline; color:#333333}

#s90submenus a:active {text-decoration:underline; color:#333333}*/



#s90submenus {float:right; height:35px; margin:3px 10px 2px 10px; padding:0px; background-image:url(../images/smbg.jpg);}

#s90submenus a{margin:0px; padding:4px 8px 5px 8px; font-family:"Arial", Arial; font-size:14px; line-height:31px;}

#s90submenus a:link {text-decoration:none; color:#333333}

#s90submenus a:visited {text-decoration:none; color:#333333}

#s90submenus a:hover {text-decoration:underline; color:#333333}

#s90submenus a:active {text-decoration:underline; color:#333333}



.s90signin_layer {width:185px; height:193px; background-image:url(../images/bg_signin.png); background-repeat:no-repeat; margin-top:50px; margin-left:804px;}

.s90signin_layerclose {float:right; margin-top:5px; margin-right:5px;}

#s90signin_div {margin:0px 0px 0px 8px; padding:0px; font-family:Arial, Verdana; font-size:13px; line-height:18px; color:#333333;}

.s90signinformtext {height:14px;}

.s90signin_signin { float:right; margin-top:3px; margin-right:10px;}

#s90signin_div2 {margin:0px 0px 0px 8px; padding:0px; font-family:Arial, Verdana; font-size:11px; line-height:16px; color:#333333; text-align:center;}

#s90signin_div2 a:link {text-decoration:none; color:#333333}

#s90signin_div2 a:visited {text-decoration:none; color:#333333}

#s90signin_div2 a:hover {text-decoration:underline; color:#333333}

#s90signin_div2 a:active {text-decoration:underline; color:#333333}



.s90dropdownlayer {width:143px; margin-top:140px; margin-left:406px;}

.s90ddownmenu {height:17px; background-image:url(../images/dropdown_bg.png);}

.s90ddownmenu a{margin:0px 0px 0px 8px; padding:0px; font-family:Arial, Verdana; font-size:11px; line-height:17px; color:#333333;}

.s90ddownmenu a:link {text-decoration:none; color:#333333}

.s90ddownmenu a:visited {text-decoration:none; color:#333333}

.s90ddownmenu a:hover {text-decoration:underline; color:#333333}

.s90ddownmenu a:active {text-decoration:underline; color:#333333}



/*---------------------------------------Header Styles End------------------------------------*/



/*---------------------------------------Common Styles Start------------------------------------*/

.s90greybigbox {border:1px solid #bcbcbd;}





.s90ltcontent h1{ font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:6px 10px 6px 6px; padding:0px;}

.s90ltcontent p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px 0px 10px 6px; padding:0px; color:#333333}



.s90labtests {margin-top:8px; border:#FF0000;}

.s90labtests th {background-color:#afc9db; font-family:Arial, Verdana; font-size:13px; line-height:20px; font-weight:bold;}

.s90labtests td {background-color:#ebecee; font-family:Arial, Verdana; font-size:12px; line-height:18px; color:#333333}

.s90labtests td img { margin-left:4px;}

.s90labtests td a:link {text-decoration:underline; color:#333333}

.s90labtests td a:visited {text-decoration:underline; color:#333333}

.s90labtests td a:hover {text-decoration:none; color:#333333}

.s90labtests td a:active {text-decoration:none; color:#333333}



.s90cardstbl h1{font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:6px 0px 10px 10px; padding:0px; text-align:left;}

.s90cardstbl td p{font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px; padding:0px; color:#333333; text-align:left}



.s90chatcontent h1{ font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:0px 0px 6px 0px; padding:0px;}

.s90chatcontent p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px 10px 10px 0px; padding:0px; color:#333333}

.s90chatcontent li {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:2px; padding:0px; color:#333333}



.s90cpages h1{ font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:0px 0px 16px 0px; padding:0px;}

.s90cpages h2{ font-family:Arial; font-size:15px; color:#333333; font-weight:bold; line-height:20px; margin:8px 0px 6px 0px; padding:0px;}

.s90cpages p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px 10px 10px 0px; padding:0px; color:#333333}

.s90cpages ol {margin:0px 0px 0px 30px; padding:0px;}

.s90cpages li {font-family:Arial, Verdana; font-size:13px; line-height:20px; margin:4px 0px 8px 4px; padding:0px; color:#333333; font-weight:normal; text-align:justify;}



.s90ctuptbls {margin:6px 6px 12px 6px;}

.s90ctuptbls th {height:53px; background-image:url(../images/ctup_thbg.jpg); background-position:right top; background-repeat:no-repeat;}



.s90ctuptbl2 {margin:0px 0px 0px 90px;}

.s90ctuptbl2 td {font-family:Arial, Verdana; font-size:12px; line-height:18px; color:#333333; text-align:left;}

.s90ctupbtn {float:right; margin-bottom:0px;}

.s90ctupbtn2 {float:right; margin-bottom:6px;}



.s90contactpage h1{ font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:0px 0px 16px 0px; padding:0px;}

.s90contactpage h2{ font-family:"Arial", Arial; font-size:15px; color:#333; font-weight:bold; line-height:20px; margin:10px 0px 16px 0px; padding:0px; text-align:left}



.s90abouttbl {margin-left:10px;}

.s90abouttbl td {border-bottom:1px solid #999999;}

.s90abouttbl img {margin-top:10px;}

.s90abouttbl h3 {margin:10px 0px 10px 10px; padding:0px; line-height:20px; font-family:"Arial", Arial; font-size:15px; color:#0a73da; font-weight:bold; }





.s90contactpage td {font-family:Arial, Verdana; font-size:13px; line-height:18px; color:#333333; text-align:left;}

.s90contactpage td a:link {text-decoration:none; color:#006cb0}

.s90contactpage td a:visited {text-decoration:none; color:#006cb0}

.s90contactpage td a:hover {text-decoration:underline; color:#006cb0;}

.s90contactpage td a:active {text-decoration:underline; color:#006cb0;}



.SmallFont {font-family:Arial, Verdana; font-size:12px; line-height:16px; color:#333333; text-align:left;}





/*---------------------------------------Common Styles End------------------------------------*/

/*---------------------------------------Counselling Styles Start------------------------------------*/

.s90counsellingcontent {border:1px solid #d6d6d7; text-align:left}

.s90counsellingcontent h2 {font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:24px; margin:8px 0px 6px 10px; padding:0px; text-align:left}

.s90counsellingcontent p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px; padding:0px; color:#333333; font-weight:normal; text-align:left}



.s90mouseovercoun {position:absolute; visibility:hidden; top:795px; height:273px; width:100%; margin:0px auto; padding:0px; text-align:center;}

.s90mouseovercoun2 {width:1000px; height:273px; padding:0px; margin:0px auto; text-align:left;}

.s90mouseovercoun3 {border:1px solid #999999; background-color:#f5f8fb; height:273px; width:705px; float:left; margin:0px 0px 0px 10px; padding:0px;}

.s90mouseovercoun3 h2 {font-family:Arial, Verdana; font-size:14px; line-height:20px; color:#333333; margin:10px 0px 2px 8px; padding:0px;}

.s90mouseovercoun3 p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:8px; padding:0px; color:#333333; font-weight:normal;}

.s90mouseovercoun3 li {font-family:Arial, Verdana; font-size:13px; line-height:20px; margin:0px; padding:0px; color:#333333; font-weight:normal;}



.s90coundocs {margin:10px 0px 6px 0px;}

.s90coundocs th {font-family:Arial, Verdana; font-size:15px; font-weight:bold; line-height:36px; color:#1645d0; text-align:left;}

.s90coundocs td {font-family:Arial, Verdana; font-size:9px; line-height:12px; color:#333333; text-align:center;}

.s90coundocs td img {margin:8px 0px 6px 0px;}

.s90coundocs td a {display:block; height:115px; width:95px;}

.s90coundocs td a:link {text-decoration:none; color:#333333;}

.s90coundocs td a:visited {text-decoration:none; color:#333333;}

.s90coundocs td a:hover {text-decoration:none; color:#333333; background-image:url(../images/docselectedbg2.jpg);}

.s90coundocs td a:active {text-decoration:none; color:#333333; background-image:url(../images/docselectedbg2.jpg);}





/*---------------------------------------Counselling Styles End------------------------------------*/

/*---------------------------------------Index Styles Start------------------------------------*/

.s90hcontent {background-image:url(../images/hcontentbg.jpg); background-repeat:repeat-y;}

.s90hcontent h1{font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:0px 10px 6px 10px; padding:0px;}

.s90hcontent p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px; padding:0px; color:#333333}

.s90hcontent li {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:2px; padding:0px; color:#333333}

/*---------------------------------------Index Styles End------------------------------------*/

/*---------------------------------------Consult Specialist Docs Styles Start------------------------------------*/

.s90specialties th {background-color:#4d4d4d; font-family:"Arial", Arial; font-size:15px; font-weight:bold; color:#FFFFFF; line-height:30px; text-align:left; text-indent:6px;}

.s90specialties td {font-family:Arial, Verdana; font-size:12px; color:#333333; line-height:26px; text-align:left; text-indent:4px; border-bottom:1px dotted #4d4d4d;}

.s90specialties td a{margin:0px; padding:0px;}

.s90specialties td a:link {text-decoration:none; color:#333333}

.s90specialties td a:visited {text-decoration:none; color:#333333}

.s90specialties td a:hover {text-decoration:none; color:#ef097a; }

.s90specialties td a:active {text-decoration:none; color:#ef097a;}



.s90specialtiestext h1{ font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:6px 10px 6px 0px; padding:0px;}

.s90specialtiestext p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px 0px; padding:0px; color:#333333; text-align:justify;}

.s90specialtiestext li {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:2px; padding:0px; color:#333333}



.s90specialtiesdocs {margin:0px 0px 6px 0px; border:1px solid #CCC; border-bottom-width:thin;}

.s90specialtiesdocs th {font-family:Arial, Verdana; font-size:15px; font-weight:bold; line-height:36px; color:#1645d0; text-align:left;}

.s90specialtiesdocs td {font-family:Arial, Verdana; font-size:9px; line-height:12px; color:#333333; text-align:center;}

.s90unselected {border-bottom:1px solid #999999; height:110px;}

.s90unselected img {margin-top:4px;}

.s90selected {background-image:url(../images/docselectedbg.jpg);}

.s90selected img {margin-top:4px;}

.s90selected3 {background-image:url(../images/docselectedbg3.jpg);}

.s90selected3 img {margin-top:4px;}

.s90selected2 {background-image:url(../images/docselectedbg2.jpg);}

.s90selected2 img {margin-top:4px;}

.s90selecteddrdetails {border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999; background-color:#f5f8fb;}

.s90selecteddrdetails h2 {font-family:Arial, Verdana; font-size:14px; line-height:24px; color:#333333; margin:10px 0px 10px 8px; padding:0px;}

.s90selecteddrdetails h2 img {margin-left:10px;}

.s90selecteddrdetails p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:8px; padding:0px; color:#333333; font-weight:normal;}

.s90selecteddrdetails p img {margin:8px 10px 12px 16px;}



.s90selecteddrcalls td {text-align:left; font-family:Arial, Verdana; font-size:14px; line-height:18px; margin:0px; padding:0px; color:#333333; text-align:left;}

.s90selecteddrcalls h6{font-family:Arial, Verdana; font-size:14px; line-height:20px; color:#333; margin:4px 0px 4px 8px; padding:0px; text-align:right}



.s90specialtydocdetails {margin:0px; border:1px solid #d6d6d7; background-color:#f5f8fb;}

.s90specialtydocdetails h2 {font-family:Arial, Verdana; font-size:14px; line-height:24px; color:#b60359; margin:10px 0px 6px 10px; padding:0px;}

.s90specialtydocdetails p {font-family:Arial, Verdana; font-size:13px; line-height:18px; margin:10px; padding:0px; color:#333333; font-weight:normal;}

.s90specialtydocpic {border:1px solid #666666;}

.s90specialtydoccredentials {font-family:Arial, Verdana; font-size:13px; line-height:20px;}

.s90specialtydoccalls img { margin:4px;}



.s90dbdtbls_drinfo {font-family:Arial, Verdana; font-size:12px; line-height:20px; color:#333333; text-align:left; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background-color:#f9f9f9;}

.s90dbdtbls_dremailtbl {border-bottom:1px solid #dfdfdf;}

.s90dbdtbls_dremailtbl th {height:53px; background-image:url(../images/ctup_thbg.jpg); background-position:right top; background-repeat:no-repeat; height:30px;}

.s90dbdtbls_dremailtbl a {font-family:Arial, Verdana; font-size:12px; line-height:18px;}

.s90dbdtbls_dremailtbl a:link {text-decoration:underline; color:#333333}

.s90dbdtbls_dremailtbl a:visited {text-decoration:underline; color:#333333}

.s90dbdtbls_dremailtbl a:hover {text-decoration:none; color:#333333}

.s90dbdtbls_dremailtbl a:active {text-decoration:none; color:#333333}



.s90dbdtbls_dremailtbl td p {font-family:Arial, Verdana; font-size:12px; line-height:18px; margin:10px; padding:0px; color:#333333;}



#s90specialtfaqs {border-top:1px solid #bcbcbd;}

#s90specialtfaqs h3 {font-family:Arial, Verdana; font-size:15px; font-weight:bold; line-height:20px; color:#1645d0; text-align:left;}

#s90specialtfaqs p {font-family:Arial, Verdana; font-size:13px; line-height:20px; margin:8px; padding:0px; color:#333333; font-weight:normal;}

#s90specialtfaqs ol {margin:0px 0px 0px 30px; padding:0px;}

#s90specialtfaqs li {font-family:Arial, Verdana; font-size:13px; line-height:20px; margin:4px 0px 8px 4px; padding:0px; color:#333333; font-weight:normal;}





.s90genfaqs {text-align:left;}

.s90genfaqs h1{ font-family:"Arial", Arial; font-size:16px; color:#1645d0; font-weight:bold; line-height:20px; margin:0px 0px 16px 0px; padding:0px;}

.s90genfaqs h2{ font-family:"Arial", Arial; font-size:15px; color:#333; font-weight:bold; line-height:20px; margin:10px 0px 16px 0px; padding:0px; text-align:left}

.s90genfaqs h3 {font-family:Arial, Verdana; font-size:15px; font-weight:bold; line-height:20px; color:#1645d0; text-align:left;}

.s90genfaqs p {font-family:Arial, Verdana; font-size:13px; line-height:20px; margin:8px; padding:0px; color:#333333; font-weight:normal;}

.s90genfaqs ol {margin:0px 0px 0px 30px; padding:0px;}

.s90genfaqs li {font-family:Arial, Verdana; font-size:13px; line-height:20px; margin:4px 0px 12px 4px; padding:0px; color:#333333; font-weight:normal;}



/*---------------------------------------Consult Specialist Docs Styles End------------------------------------*/



/*---------------------------------------Register Styles Start------------------------------------*/

.s90registerform {margin-top:20px; margin-bottom:10px; padding:0px; border:1px solid #bcbcbd; font-family:Arial,Verdana;}

.s90registerform_account {margin-top:20px; padding:0px; border:1px solid #bcbcbd; font-family:Arial,Verdana; font-size:13px;}



.s90registerform th {background-image:url(../images/register_hbg.jpg); border-bottom:1px solid #bcbcbd; height:30px; font-family:Arial, Verdana; font-size:14px; font-weight:bold; line-height:30px; color:#e70976; font-weight:bold; text-align:left; padding-left:10px; }

.s90registerform td {font-size:13px; line-height:20px;  padding-left:5px;}

.s90registerform td a:link {text-decoration:underline; color:#333333}

.s90registerform td a:visited {text-decoration:underline; color:#333333}

.s90registerform td a:hover {text-decoration:none; color:#F0C;}

.s90registerform td a:active {text-decoration:none; color:#333333}



.s90regformtext {margin-left:8px; height:20px; width: 200px;}

/*---------------------------------------Register Styles End------------------------------------*/

/*---------------------------------------PHR Styles Start------------------------------------*/

#s90dashboardbg {background-image:url(../images/phr_dashboardbg.jpg); width:220px; height:30px; font-family:Arial, Verdana; font-size:13px; line-height:30px; color:#5f8baa; text-indent:10px;}

#s90dashboardbg img {margin-right:6px;}

#s90dashboardbg a:link {text-decoration:none; color:#5f8baa}

#s90dashboardbg a:visited {text-decoration:none; color:#5f8baa}

#s90dashboardbg a:hover {text-decoration:underline; color:#5f8baa}

#s90dashboardbg a:active {text-decoration:underline; color:#5f8baa}

.s90phrdotsarrow {margin-left:10px;}





.s90phrmenus_user td {background-image:url(../images/phr_menusbg.jpg);}

.s90phrmenus_user td a {font-family:Arial, Verdana; line-height:30px; color:#5f8baa; margin:0px; padding:0px 0px 0px 6px;}

.s90phrmenus_user td a:link {text-decoration:none; color:#5f8baa}

.s90phrmenus_user td a:visited {text-decoration:none; color:#5f8baa}

.s90phrmenus_user td a:hover {text-decoration:underline; color:#5f8baa}

.s90phrmenus_user td a:active {text-decoration:underline; color:#5f8baa}



.s90phrmenus td {background-image:url(../images/phr_menusbg.jpg);}

.s90phrmenus td a {font-family:Arial, Verdana; font-size:13px; line-height:30px; color:#5f8baa; margin:0px; padding:0px 0px 0px 6px;}

.s90phrmenus td a:link {text-decoration:none; color:#5f8baa}

.s90phrmenus td a:visited {text-decoration:none; color:#5f8baa}

.s90phrmenus td a:hover {text-decoration:underline; color:#5f8baa}

.s90phrmenus td a:active {text-decoration:underline; color:#5f8baa}



.s90phrmenus th {background-image:url(../images/phr_menusbbg.jpg); background-position:bottom; background-repeat:no-repeat; text-align:left}



#s90phrsubmenus2 a {font-family:Arial, Verdana; font-size:13px; line-height:30px; margin:0px; padding:0px 0px 0px 6px; font-weight:normal;}

#s90phrsubmenus2 a:link {text-decoration:none; color:#5f8baa}

#s90phrsubmenus2 a:visited {text-decoration:none; color:#5f8baa}

#s90phrsubmenus2 a:hover {text-decoration:underline; color:#5f8baa}

#s90phrsubmenus2 a:active {text-decoration:underline; color:#5f8baa}



#s90phrsubmenus {margin-left:20px; margin-bottom:10px;}

#s90phrsubmenus a {font-family:Arial, Verdana; font-size:12px; line-height:24px; margin:0px; padding:0px 0px 0px 6px; font-weight:normal;}

#s90phrsubmenus a:link {text-decoration:underline; color:#5f8baa}

#s90phrsubmenus a:visited {text-decoration:underline; color:#5f8baa}

#s90phrsubmenus a:hover {text-decoration:none; color:#5f8baa}

#s90phrsubmenus a:active {text-decoration:none; color:#5f8baa}



#s90phrsubmenus5 {margin-left:20px; margin-bottom:10px;}

#s90phrsubmenus6 {margin-left:20px; margin-bottom:10px;}

.s90phrcontent h1 {font-family:Arial,Verdana; font-size:16px; font-weight:bold; line-height:30px; color:#5f8baa; margin:0px; padding:0px; text-indent:20px; background-color:#f1f1f1; border-left:2px solid #ea0977; height:30px}

.s90phrcontent h2 {font-family:Arial,Verdana; font-size:15px; font-weight:bold; line-height:30px; color:#333333; margin:10px 0px 8px 20px; padding:0px;}





.s90dbdtbls th {background-image:url(../images/phr_thbg.jpg); width:580px; font-family:Arial, Verdana; font-size:13px; line-height:29px; color:#333333; text-align:left; text-indent:10px;}

.s90dbdtbls_drname {font-family:Arial, Verdana; font-size:12px; line-height:30px; color:#666666; text-align:left; text-indent:10px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; font-weight:bold; font-style:italic;}

.s90dbdtbls_drdetails {border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background-color:#f9f9f9;}



.s90dbdtbls_drdetailstbl td{ border-bottom:1px solid #ececec; font-family:Arial; font-size:12px; color:#21759b; line-height:28px;}

.s90dbdtbls_drdetailstbl th {background-image:url(../images/phr_thbg.jpg); width:580px; font-family:Arial, Verdana; font-size:13px; line-height:29px; color:#333333; text-align:left; text-indent:10px;}



#phr_callnumberbg {background-image:url(../images/phr_callnumberbg.jpg); height:19px; width:127px; font-family:Arial, Verdana; font-size:12px; line-height:19px; color:#FFFFFF; text-align:center}



.phrdocs {margin:0px 0px 10px 10px;}

.phrdocs th {font-family:Arial, Verdana; font-size:15px; font-weight:bold; line-height:30px; color:#333333; text-align:left;}

.phrdocs td {font-family:Arial, Verdana; font-size:9px; line-height:12px; color:#333333; text-align:center;}





.s90docphr h1{font-family:Arial,Verdana; font-size:16px; font-weight:bold; line-height:30px; color:#5f8baa; margin:0px; padding:0px; text-indent:20px; background-color:#f1f1f1; border-left:2px solid #ea0977; height:30px}









/*---------------------------------------PHR Styles End------------------------------------*/

/*---------------------------------------Footer Styles Start------------------------------------*/

.s90footer {background-color:#4b4b4b; text-align:center; margin-top:8px;}

.s90footer td {font-family:Arial, Verdana; font-size:13px; line-height:22px; color:#fefefe;}

.s90footer td a{margin:0px; padding:0px 6px 0px 6px;}

.s90footer td a:link {text-decoration:none; color:#fefefe}

.s90footer td a:visited {text-decoration:none; color:#fefefe}

.s90footer td a:hover {text-decoration:underline; color:#fefefe}

.s90footer td a:active {text-decoration:underline; color:#fefefe}

/*---------------------------------------Footer Styles End------------------------------------*/

#header_menu1

{

	font-family:Arial, Verdana; 

	font-size:14px; 

	font-weight:bold; 

	line-height:30px;

	height:28px; 

	width:130px; 

	display:block; 

	text-align:center;

	text-decoration:none;

	color:#FFF;

	float:right;

	background-image:url(http://localhost/rejanish/pinkwhalehealthcare/images/s90mainmenu1_bgb.jpg); 

}

#header_menu2

{

	font-family:Arial, Verdana; 

	font-size:14px; 

	font-weight:bold;

	color:#FFF;

	line-height:30px;

	height:28px; 

	width:208px; 

	display:block; 

	text-align:center;

	text-decoration:none;

	float:right;

	background-image:url(http://localhost/rejanish/pinkwhalehealthcare/images/s90mainmenu2_bgb.jpg); 

}

#header_menu3

{

	font-family:Arial, Verdana; 

	font-size:14px; 

	font-weight:bold; 

	line-height:30px;

	height:28px; 

	width:94px; 

	display:block; 

	text-align:center;

	text-decoration:none;

	color:#FFF;

	float:right;

	background-image:url(http://localhost/rejanish/pinkwhalehealthcare/images/s90mainmenu3_bgp.jpg); 

}

.doctor_info

{

	width:770px;

	height:auto;

	border:1px solid #CCC;

}

#s90unselected1 {border-bottom:1px solid #d6d6d7; height:110px;}

#s90unselected2 {border-bottom:1px solid #d6d6d7; height:110px;}

#s90unselected3 {border-bottom:1px solid #d6d6d7; height:110px;}

#s90unselected4 {border-bottom:1px solid #d6d6d7; height:110px;}

#s90unselected5 {border-bottom:1px solid #d6d6d7; height:110px;}

#s90unselected6 {border-bottom:1px solid #d6d6d7; height:110px;}

#s90unselected7 {border-bottom:1px solid #d6d6d7; height:110px;}

.postpropertytext{font-family:Arial, Verdana; font-size:13px; color:#000; margin:5px; text-align:right;}

.postpropertytext1{font-family:Arial, Verdana; font-size:13px; color:#000; margin:5px; text-align:right; width:125px; float:right;}

.registetextbox {font-family:verdana; font-size:11px; width:145px; text-align:left; height:21px;}



.registetextbox1 {font-family:verdana; font-size:11px; width:400px; text-align:left; margin-left:0px;}

.registetextbox2 {font-family:verdana; font-size:11px; width:400px; text-align:left; margin-left:0px; height: 150px;}

.leftmenu td a:hover {text-decoration:none; color:#ef097a; font-weight:bold;font-family:Arial, Verdana;

	font-size:14px;}

.leftmenu td a:active {text-decoration:none; color:#ef097a; font-weight:bold;font-family:Arial, Verdana;

	font-size:14px;}

	

	.box {font-family:verdana; font-size:11px; width:200px; text-align:left; margin-left:0px; height:300px;}

#submenu1

{

	height:30px; 

	width:200px; 

	display:none; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	font-weight:100;

	vertical-align:middle;

	border-bottom:1px dotted #999;	

	

}

#submenu2

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	



}

#submenu3

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu12

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu13

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu18

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu19

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu20

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}


#submenu15

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu16

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu17

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}
#container_qa {
    position: relative;
	margin: 4 auto;
	 background-image: url("../images/tmbg.png");
    float: right;
    font-family: Arial,Verdana;
    font-size: 12px;
    height: 35px;
    line-height: 26px;
    margin: 20px 10px 0;
    padding: 0;
    vertical-align: middle;
    width: 164px;
}

#submenu4

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu5

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu6

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu8

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu9

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu10

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}

#submenu11

{

	height:30px; 

	width:200px; 

	display:none; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	font-weight:100;

	vertical-align:middle;

	border-bottom:1px dotted #999;	

	

}



#submenu7

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu14

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu15

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}



#submenu16

{

	height:30px; 

	width:200px; 

	margin-left:12px;

	font:Arial, Verdana;

	color:#000;

	font-size:14px;

	display:none;

	font-weight:100;

	border-bottom:1px dotted #999;	

}







.sub_headings

{ 

	text-align:left;

	color:#E70976;

	font-family:Arial, Verdana;

	font-size: 14px;

	font-weight: bold;

}

.mainmenu

{

	font-family:Arial, Verdana;

	height:35px;

	color:#C30;

	text-align:left;

	padding-left:10px;

	font-size:12px;

	border-bottom:1px dotted #666;

	font-weight:bold;

}

.txtbox

{

	width:70px;

}

.txtbox1

{

	width:120px;

}

#spe_contact_type

{

	display:none;

}

.phr_usr_dtils

{

	font-family:Arial, Verdana;

	font-size:12px;

	font-weight:bold;



	

}

.lables

{

	font-family:Arial, Verdana;

	font-size:12px;

	font-weight:bold;

	text-align:right;

}

.phr_acc_info

{

	margin-top:30px;

	margin-left:20px;

}

.report_table td

{

	border:1px solid #CCC;

}

.unit

{

	color:#000;

	font-family:Arial, Verdana;

	font-size:12px;

}

.label{font-family:Arial,Verdana; font-size:12px; color:#5F8BAA; font-weight:bold;}

.text{font-family:Arial,Verdana; font-size:12px; color:#000;}





#s90topmenus_admin1

{width:194px; height:35px; margin:20px 10px 0px 10px; padding:0px; vertical-align:top; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px; vertical-align:middle;}

#container2

{width:193px; height:35px; margin:20px 10px 0px 10px; padding:0px; vertical-align:top; float:right; background-image:url(../images/tmbg.png); font-family:Arial, Verdana; font-size:12px; line-height:26px; vertical-align:middle;}

.admin_left_sub_menu

{

	cursor:pointer;

	font-family:Arial, Verdana;

	color:#808080;

	text-decoration:none;

}

.admin_left_menu

{

	text-decoration:none; 

	font-family:Arial, Verdana;   

	font-size:14px;

	font-weight:500;

	color:#000;

}



tr.trMyaccount td

{

	background-color: #E9E9E9; 

	border-bottom: 1px solid #D3D3D3;

}



.tbl, .tblWithBorder

{

	margin-left:20px;

}

.frgtpsw

{

	border:1px solid #DDD;

}



.tblWithBorder

{

	border:1px solid #F0F0F0;

}



/*shopping cart css start here*/

table.shopCart

{

	font-family: Arial;

	border:1px solid #D8D8D8;

	margin-bottom:5px;

}



table.shopCart td

{

	font-size:13px;

	padding-left:5px;

}



tr.cartHead td

{

	font-size:16px;

	font-weight:bold;

	background-color: #E8E8E8; 

	height:30px;

	color:#01132E;

}



tr.cartItem td

{

	font-size:13px;

	background-color: #F9F9F9; 

	height:35px;

	color:#011434;

}



a .remove_item {

    background: url("../images/remove-roll.gif") no-repeat scroll 0 0 transparent;

    height: 18px;

    width: 18px;

}



a:hover .remove_item {

    background: url("../images/remove-over.png") no-repeat scroll 0 0 transparent;

    height: 18px;

    width: 18px;

}



.cartBtn

{

	-moz-border-radius:7px;

	-webkit-border-radius:7px;

	border: 1px solid #D4D4D4;

	padding:0px 5px 2px 5px;

}

.cartBtn

{

	-moz-border-radius:7px;

	-webkit-border-radius:7px;

	border: 1px solid #D4D4D4;

	padding:0px 5px 2px 5px;

}



.stepcarousel

{

	position: relative; /*leave this value alone*/

	overflow: auto; /*leave this value alone*/

	width: 484px; /*Width of Carousel Viewer itself*/

	height: 130px; /*Height should enough to fit largest content's height*/



}



.stepcarousel .belt

{

	position: absolute; /*leave this value alone*/

	left: 0;

	top: 0;

}



.stepcarousel .panel

{

	float: left; /*leave this value alone*/

	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/

	margin: 10px; /*margin around each panel*/

	width: 108px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */

}



#expertPhotos

{

	margin:0px 0px 10px 25px;

	width: auto;

	font-size:11px;

}

/*shopping cart css end here*/

#sub_menu1

{

	margin-left:20px;

}

#sub_menu2

{

	margin-left:20px;

}

#sub_menu3

{

	margin-left:20px;

}

.top_up p

{

 color: #333333;

    font-family: Arial,Verdana;

    font-size: 12px;

    margin: 10px;

    padding: 0;



}

/*.button

{

	background-image:url(../images/menu-active-bg.jpg);

	background-repeat:repeat-x;

	height:35px;

	font-family:Arial;

	color:#FFF;

	border-radius: 20px;



}*/