.dropdown {float:left; padding-right:5px;margin:0; font-family:Arial, Verdana;
	font-size:12px;}
.dropdown dt {width:188px; border-bottom:1px dotted #666; padding:8px; font-weight:bold; cursor:pointer; }
.dropdown dt:hover {}
.dropdown dd {overflow:hidden; width:170px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {width:190px; list-style:none; border-top:none;padding:0;}
.dropdown li {display:inline; width:190px;}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:5px; color:#333; text-decoration:none; width:156px}
.dropdown a:hover {text-decoration:none; color:#ef097a; font-weight:bold;}
.dropdown .underline {border-bottom:1px dotted #666;}