@CHARSET "ISO-8859-1";
#menuV2 li, #menuV2 a {zoom:1;} /* Hacks for IE6, IE7 */
#menuV2, #menuV2 ul
{
    width: 226px; /* Main Menu Item widths */
    border: 1px solid #ccc;
    border-top:none;
    position: relative; font-size:0;
    list-style: none; margin: 0; padding: 0; display:block;
}
                
/* Top level menu links style
---------------------------------------*/

#menuV2 li
{
    background: #FFF url(bg.gif) repeat-x 0 2px;
    list-style: none; margin: 0; padding: 0;
}
#menuV2 li a
{
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: black;
    text-decoration: none;
    line-height:26px;
    padding-left:26px;            
}
#menuV2 ul li a
{
    line-height:30px;
}
                

        
/*Sub level menu items
---------------------------------------*/
#menuV2 li ul
{
    position: absolute;
    width: 226px; /*Sub Menu Items width */
    visibility:hidden;
}
        
#menuV2 a.arrow
{
    background-image:url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#menuV2 li:hover, #menuV2 li.onhover
{
    background-position:0 -62px;
}
#menuV2 ul li
{
    background: #F0F1F4;
    background-image:none;
}
#menuV2 ul li:hover, #menuV2 ul li.onhover
{
    background: #FFF;
    background-image:none;
}


#cssmenu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}
#cssmenu > ul {
  display: block;
  position: relative;
  width: 100%;
}
/* The list elements which contain the links */
#cssmenu > ul li {
  display: block;
 // position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

#cssmenu > ul li a {
  /* Layout */

  display: block;
  position: relative;
  margin: 0;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #d9d9d9;
  padding: 5px 15px;
  /* Typography */

  font-family: Helvetica, Arial, sans-serif;
  color: #e4433c;
  text-decoration: none;
 /* text-transform: uppercase;*/        /*commented by swathi to change from uppercase to sentense case*/
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-weight: 300;
  /* Background & effects */

  background: #eaeaea;
}
#cssmenu > ul li:first-child > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0;
}
/* Rounded corners for the last link of the menu/submenus */
#cssmenu > ul li:last-child > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
/* The hover state of the menu/submenu links */
#cssmenu > ul li a:hover,
#cssmenu > ul li:hover > a {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #E10971;
  background: -webkit-linear-gradient(#E10971, #E10971);
  background: -moz-linear-gradient(#E10971, #E10971);
  background: linear-gradient(#E10971, #E10971);
  border-color: transparent;
}
/* The arrow indicating a submenu */
#cssmenu > ul .has-sub > a::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #e4433c;
   border-left: 4px solid #e4433c;
}
/* THE SUBMENUS */
#cssmenu > ul ul {
  position: absolute;
  left: 88%;
  top: -9999px;
  /*padding-left: 5px;*/
  opacity: 0;
  width: 80%;
  /* The fade effect, created using an opacity transition */

  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
#cssmenu > ul ul li a {
  font-size: 12px;
}
/* Showing the submenu when the user is hovering the parent link */
#cssmenu > ul li:hover > ul {
  top: 0px;
  opacity: 1;
  z-index: 1;
}

#cssmenu > ul .has-sub > a::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #e4433c;
   border-left: 4px solid #e4433c;
}
/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenu > ul .has-sub > a::before {
  content: '';
  position: absolute;
  top: 17px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #fff;
}

        
/* Holly Hack for IE \
* html #menuV2  li
{
    float:left;
    height: 1%;
}
* html #menuV2  li a
{
    height: 1%;
}*/
/* End */